@font-face {
    font-family: Poppins;
    font-size: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
    color: #1a1a1a;
  }
  
  :root {
    --brand-color: #2c4465;
    --primary-text-color: #1a1a1a;
    --yellow_bkg: #fff2ce;
  
    --b-shadow: -2px 10px 21px -2px rgba(201, 201, 201, 0.75);
    --br-shadow: 7px 7px 7px 0px rgba(161, 161, 161, 0.226);
    --border: 1px solid #1a1a1a;
  
  
    --navbar-height: 64px;
    --navbar-bg-color: #f6f2ee;
  
    /* --navbar-bg-contrast: hsl(0, 0%, 25%); */
  
    --side-margins-330px: 0 8px;
    --side-margins-576px: 0 16px;
    --side-margins-768px: 0 20px;
    --side-margins-992px: 0 24px;
    --side-margins-1200px: 0 28px;
    --side-margins-1400px: 0 32px;
    --side-margins-1900px: 0 38px;
    --side-margins-2560px: 0 48px;
  }
  
  html {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: Poppins;
    padding: 0;
    margin: var(--side-margins-330px);
    background: #fff;
  }
  
  main {
    position: relative;
    top: 52px;
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    font-size: 26px;
    font-weight: 500;
    line-height: 27pt;
    color: var(--brand-color);
    text-align: left;
    letter-spacing: 3pt;
    margin-top: 0;
    text-transform: capitalize;
  }
  
  h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 27pt;
    color: var(--brand-color);
    text-align: left;
    letter-spacing: 3pt;
    text-transform: capitalize;
  }
  
  h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 22pt;
    color: var(--brand-color);
    text-align: left;
    letter-spacing: 3pt;
    text-transform: capitalize;
  }
  
  p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
  }
  
  a {
    text-decoration: none;
  }
  
  label {
    color: var(--brand-color);
  }
  
  section {
    padding-top: 1em;
    margin-bottom: 1em;
  
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  /* Top nav and menu  */
  #navbar {
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    width: auto;
    box-shadow: var(--b-shadow);
    z-index: 1;
  }
  
  .navbar-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: var(--side-margins-330px);
  }
  
  .home-links,
  .navbar-links {
    color: var(--brand-color);
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .navbar-links {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
  }
  
  .navbar-links li a {
    width: 100%;
  }
  
  .navbar-logo {
    color: var(--brand-color-focus);
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .navbar-logo img {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
  }
  
  .logo-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  
  #navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .icon-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px 0;
    background-color: var(--brand-color);
  }
  
  #navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: #1a1a1a;
  }
  
  #navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
  }
  
  #navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
    transform: rotate(45deg);
  }
  
  #navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
    opacity: 0;
  }
  
  #navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
    transform: rotate(-45deg);
  }
  
  #navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
  }
  
  #navbar-toggle[aria-expanded='true']+#navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
  }
  
  .navbar-links {
    list-style: none;
    position: relative;
    left: 0;
    right: 0;
    background-color: var(--yellow_bkg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
  }
  
  .navbar-item {
    display: flex;
    color: #1a1a1a;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 42px;
    margin: 8px;
  }
  
  /* end of top bar  */
  
  /* primary and secondary-button styles */
  .primary-button, .secondary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border);
    border-radius: 24px;
    padding: 12px 16px;
    width: 100%;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: capitalize;
    cursor: pointer;
    transition: linear 0.1s ease-in-out;
    box-shadow: var(--br-shadow);
  }
  
  .primary-button {
    background-color: #bbefc4;
  
  }
  .secondary-button {
    background-color: #fff;
    color: var(--primary-text-color);
  }
  
  .tertiary-btn {
    font-weight: 700;
    border-bottom: 1px solid var(--brand-color)
  }
  
  .mouse-scroller {
    display: none;
  }
  
  /* main-index page styles  */
  
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    padding: 8px;
    border-radius: 16px;
  }
  
  .hero-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .hero-editorial {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  
  }
  
  .hero-text-content {
    padding: 0;
    display: flex;
    background: linear-gradient(0deg, transparent, transparent);
    flex-direction: column;
  }
  
  .image-container-about-page {
    object-fit: cover;
    width: 250px;
    height: 250px;
    background-image: url(assets/images/me.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  
  .hero-container .hero-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  
  .hero-container .hero-button-container a {
    width: 90%;
  }
  
  .hero-container .hero-button-container .primary-button,
  .hero-container .hero-button-container .secondary-button {
    border-radius: 24px;
  }
  
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 16px;
    padding: 8px;
  }
  
  .portfolio h2 {
    margin-top: 0;
  }
  
  .portfolio .portfolio-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin-top: 1em;
  }
  
  .card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
  }
  
  .card-container a {
    background-color: #fff2ce;
    border-radius: 24px;
    box-shadow: var(--br-shadow);
  }
  
  .left-project-1 {
    height: 100%;
    min-height: 250px;
    border-radius: 24px 24px 0 0;
    background-color: #fff;
    background-image: url(assets/images/guitarUX.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .left-project-2 {
    height: 100%;
    min-height: 250px;
    border-radius: 24px 24px 0 0;
    background-color: #fff;
    background-image: url(assets/images/remind-me-project.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .left-project-3 {
    height: 100%;
    min-height: 250px;
    border-radius: 24px 24px 0 0;
    background-color: #fff;
    background-image: url(assets/images/e-commerce-placeholder.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .left-project-4 {
    height: 100%;
    min-height: 250px;
    border-radius: 24px 24px 0 0;
    background-color: #fff;
    background-image: url(assets/images/come-together-logo_sm.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .card-container .right {
    background-color: #fff2ce;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8px 16px 8px;
    border-radius: 0 0 24px 24px;
    color: #1a1a1a;
  }
  
  .card-title {
    display: flex;
    flex-direction: column;
    border-bottom: var(--border);
  }
  
  .card-editorial {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .card-editorial button {
    font-size: 16px;
    font-family: "Poppins";
  }
  /* end of index page  */
  

footer {
    margin-top: 4em;
  }
  
  footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-container .footer-social-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
  }
  

@media only screen and (min-width: 576px) {
    body {
      margin: var(--side-margins-576px);
    }
  
    .navbar-container {
        margin: var(--side-margins-576px);
    }
  
    .nav-container header .logo .logo-placeholder {
      margin-left: 0.5em;
    }
  
    .nav-container header .logo .logo-container .logo-name {
      font-size: 2em;
    }
  
    .hero-container {
      padding: 0;
    }
  
    .portfolio .portfolio-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
      width: 100%;
    }
  
    .card-container {
      flex-direction: column;
      border: none;
      box-shadow: var(--br-shadow);
    }
  
    .card-container .left-project-1,
    .card-container .left-project-2,
    .card-container .left-project-3,
    .card-container .left-project-4 {
      width: 100%;
      height: 100%;
      min-height: 250px;
      border-radius: 24px 24px 0 0;
      background-color: #fff;
    }
  
    .portfolio .portfolio-container .right {
      height: 100%;
      min-height: 250px;
      padding: 16px;
      box-shadow: none;
      border-radius: 0 0 24px 24px;
    }
  
    .card-title {
      margin: 0;
      padding-bottom: 0;
      font-size: 26px;
      letter-spacing: 4px;
      text-align: left;
    }
  
    .card-editorial {
      margin: 10px 0;
    }
  
    footer .footer-container .footer-details {
      padding: 2em;
    }
  }
  
  /* Start of Responsive Navigation Shift  */
  @media screen and (min-width: 768px) {
    body {
      margin: var(--side-margins-768px);
    }
  
    .navbar-container {
      margin: var(--side-margins-768px);
    }
  
    #navbar-toggle,
    #navbar-toggle[aria-expanded='true'] {
      display: none;
    }
  
    #navbar-menu,
    #navbar-toggle[aria-expanded='true']+#navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }
  
    .navbar-links,
    #navbar-toggle[aria-expanded='true']+#navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      width: 100%;
      height: 100%;
      background-color: transparent;
      transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  
    .navbar-item:hover {
      border-bottom: 1px solid #1a1a1a;
    }
  
    .primary-button:hover {
      background: #b3e2bb;
      border-color: #4f9985;
      box-shadow: none;
    }
  
    .secondary-button:hover {
      background-color: #DFEDFF;
      color: #1a1a1a;
      border-color: #1a1a1a;
      box-shadow: none;
    }
  
    .hero-header,
    .portfolio {
      justify-content: flex-start;
      padding-top: 24px;
    }
  
    .hero-editorial {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
  
    .hero-container .hero-button-container {
      flex-direction: row;
      justify-content: flex-start;
    }
  
    .hero-container .hero-text-content .hero-button-container .primary-button,
    .hero-container .hero-text-content .hero-button-container .secondary-button,
    .image-container-about-page .primary-button {
      width: 50%;
    }
  
    .portfolio .portfolio-container {
      grid-gap: 1.5em;
    }

}

@media only screen and (min-width: 992px) {

    .navbar-container {
      margin: var(--side-margins-992px);
    }
  
    /* index-styles  */
    .hero-editorial {
      flex-direction: row;
    }
  
    .hero-text-content {
      width: 70%;
      padding-right: 10px;
      flex-direction: column;
    }
}

@media only screen and (min-width: 1200px) {

    section {
      display: flex;
      max-width: none;
      margin: var(--side-margins-1200px);
      padding-left: 0px;
      flex-direction: column;
      justify-content: center;
    }
  
    /* navigational links  */
  
    .navbar-container {
      margin: var(--side-margins-1200px);
    }
  
    .nav-links {
      display: flex;
      justify-content: space-evenly;
    }
  
    .nav-links li {
      display: flex;
      justify-content: center;
      width: 100px;
      height: auto;
      padding: 8px 4px;
      font-size: 16px;
      text-transform: uppercase;
    }
  
    .menu-btn {
      display: none;
    }
  
    /* Index page  */
  
    .hero-text-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 80%;
    }
  
    .hero-container .mouse-scroller {
      display: flex;
      justify-content: center;
      margin-top: 1em;
    }
  
    .hero-container .mouse-scroller .mouse {
      width: 10px;
      padding: 5px 6px;
      height: 35px;
      border: var(--border);
      border-radius: 25px;
      opacity: 0.75;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      margin-bottom: 20px;
    }
  
    .hero-container .mouse-scroller .mouse .mouse-animation {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: black;
      -webkit-animation: scroll 3s linear infinite;
      animation: scroll 3s linear infinite;
    }
  
    @keyframes scroll {
      from {
        opacity: 1;
        position: relative;
        top: 0;
      }
  
      to {
        opacity: 0.5;
        position: relative;
        top: 25px;
      }
    }
  
    .portfolio .portfolio-container {
      grid-gap: 2em;
    }
  
    .right .primary-button {
      margin: 0 auto;
      width: 50%;
    }
  
    .card-container:hover {
      filter: brightness(70%);
      transition: all .5s cubic-bezier(0.55, 0.09, 0.68, 0.53);
    }
}  