.sm-accordion,
.accordion {
  width: 90vw;
  border: $color_border-settings-grey;
  border-radius: $brad-8;

  .accordion-item {
    border-bottom: $color_border-settings-grey;

    .accordion-header {
      background-color: #f5f5f5;
      padding: 10px;
      cursor: pointer;
      @include apply-flex-styles($flex-row-center-space_between);
      width: -webkit-fill-available;

      &:first-child {
        border-radius: 8px 8px 0 0; // Fix for first item
      }

      &:last-child {
        border-radius: 0 0 8px 8px; // Fix for last item
      }

      &:hover {
        background-color: #e0e0e0;
      }

      .headline h4 {
        margin: 0;
      }
    }

    .accordion-content {
      padding: 10px;
      background-color: #fff;
      display: none; // Default state: hidden

      // Ensure content (including images) is hidden when accordion is inactive
      .gallery {
        display: block; // Ensure images are visible by default
        width: -webkit-fill-available;
        margin: 0;
        img {
          border: $color_border-settings-grey;
          border-radius: $brad-8;
        }
      }

      .paragraphs {
        display: block; // Ensure paragraphs are visible by default
      }
    }

    // When active, show both images and text
    &.active .accordion-content {
      display: block;
    }
  }
}

@media screen and (min-width: 768px) {
  .accordion .accordion-content {
    max-height: 0;
    opacity: 0;
  }

  /* Show content when hovered on mobile */
  .accordion:hover .accordion-content {
    max-height: 1000px; /* Adjust as needed */
    opacity: 1;
  }
  .sm-accordion {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .accordion,
  .accordion-toggle {
    display: none;
  }
}
