.editorial {
  .wide-card {
    @include apply-flex-styles($flex-col-center);
    border: $color_border-settings-grey;
    border-radius: $brad-8;
    padding: 10px;
    width: unset;
    margin-bottom: 1em;
    &.no-border {
      border: none;
    }
    .card-header {
      display: inherit;
      flex-direction: column;
      width: 100%;
      h2 {
        margin: 0;
      }
      .inline-decorated-list {
        list-style: none;
        margin: 0;
        padding-bottom: 1em;
        li {
          line-height: 14px;
        }
      }
    }
    .card-body {
      display: flex;
      flex-direction: column-reverse;
      gap: 1em;
      .card-editorial {
        display: inherit;
        flex-direction: column;
        gap: 1em;
        .read-more {
          font-size: 16px;
        }
        .read-more {
          background-color: rgba(245, 245, 245, 0.637);
          padding: 0;
          margin: 0;
          font-size: 1rem;
          border: none;
          font-weight: 600;
          text-decoration: underline;
          transition: all 0.3s ease-in-out;
          color: $color_brand;
          &:hover {
            font-weight: 500;
            text-decoration: none;
          }
        }
        .more-content {
          display: none;
        }
        .show-more {
          display: inline;
        }
      }
      .image-container {
        flex: auto;
        border-radius: $brad-8;

        &.come-together-banner {
          background: url(../assets/images/hero-images/index/come-together-banner.webp) no-repeat center;
          background-size: cover;
          width: 100%;
          height: 300px;
        }
        &.syn-banner {
          background: url(../assets/images/hero-images/index/syn-banner.webp) no-repeat center;
          background-size: contain;
          width: 100%;
          height: 300px;
        }
        &.just-speak-banner {
          background: url(../assets/images/hero-images/index/guitar-lessons-banner.webp) no-repeat center;
          background-size: cover;
          width: 100%;
          height: 300px;
        }
      }
      .button-row {
        width: 100%;
        a {
          width: auto;
          text-decoration: none;
        }
      }
    }
  }
}

.editorial {
  &.border {
    border-width: 5px;
    border-style: solid;
    border-top-left-radius: 0; // Keep top-right radius 0 for the style you mentioned
    &.-brief_border {
      border-image: linear-gradient(to right, #b2abff 1%, #ffffff00 30%) 1;
    }
    &.-research_border {
      border-image: linear-gradient(to right, #ff9494 1%, #ffffff00 30%) 1;
    }
    &.-IA_border {
      border-image: linear-gradient(to right, #7aafff 1%, #ffffff00 30%) 1;
    }
    &.-Inter_border {
      border-image: linear-gradient(to right, #ffe079 1%, #ffffff00 30%) 1;
    }
    &.-Lo-Fi_border {
      border-image: linear-gradient(to right, #9efbe6 1%, #ffffff00 30%) 1;
    }
    &.-desSystem_border {
      border-image: linear-gradient(to right, #c5ffff 1%, #ffffff00 30%) 1;
    }
    &.-Hi-Fi_border {
      border-image: linear-gradient(to right, #86ffb8 1%, #ffffff00 30%) 1;
    }
    &.-uxTest_border {
      border-image: linear-gradient(to right, #21b1c9 1%, #ffffff00 30%) 1;
    }
    &.-results_border {
      border-image: linear-gradient(to right, #ffe7b0 1%, #ffffff00 30%) 1;
    }
    &.-conclusion_border {
      border-image: linear-gradient(to right, #c6ffc6 1%, #ffffff00 30%) 1;
    }
  }

  .hero,
  .case-study-settings {
    &.col {
      flex-direction: column;
    }
  }
  .split-header {
    @include apply-flex-styles($flex-row-center-space_between);
    align-items: flex-start;
    .title-column {
      flex: 60%;
      .title {
        color: $color_primary_text;
      }
    }
    .sus-banner {
      background-image: url(../assets/images/Case-Studies/CS2/Testing_images/SUS-Banner.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 250px;
      height: 150px;
    }

    .Brief-banner {
      background-image: url(../assets/images/banners/section/brief-banner-min.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 200px;
      height: 150px;
    }
    .Research-banner {
      background-image: url(../assets/images/banners/section/research-banner-min.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 200px;
      height: 150px;
    }
    .IA-banner {
      background-image: url(../assets/images/banners/section/IA-banner-min.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 200px;
      height: 150px;
    }
    .Interaction-banner {
      background-image: url(../assets/images/banners/section/Interaction-banner-min.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 200px;
      height: 150px;
    }
    .Low-Fi-banner {
      background-image: url(../assets/images/banners/section/Low-Fi-banner-min.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 200px;
      height: 150px;
    }
    .Design-System-banner {
      background-image: url(../assets/images/banners/section/Design-System-Banner-min.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 200px;
      height: 150px;
    }
    .Hi-Fi-banner {
      background-image: url(../assets/images/banners/section/Hi-Fi-banner-min.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 200px;
      height: 150px;
    }
    .testing-banner {
      background-image: url(../assets/images/banners/section/UX-Testing-banner-min.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 200px;
      height: 150px;
    }
    .Results-banner {
      background-image: url(../assets/images/banners/section/Test-Results-Banner-min.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 200px;
      height: 150px;
    }
    .conclusion-banner {
      background-image: url(../assets/images/banners/section/Conclusion-banner-min.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 200px;
      height: 150px;
    }
  }
  .highlight {
    font-style: italic;
    font-weight: 700;
  }
}

.editorial .skills-section .centered-row {
  @include apply-flex-styles($flex-col-center-start);
  .flex-row.no-border {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border: none;
    .right-col .no-border .col {
      .tertiary-link {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.grid-container-1col,
.grid-container-2col,
.grid-container-3col,
.grid-container-4col,
.grid-container-5col,
.grid-container-6col {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  background-color: $color_white;
  border-radius: 8px;
  margin-top: 1em;
  .marketing-banner {
    background-image: url(../assets/images/Case-Studies/CS1/banners/marketing-table.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: -webkit-fill-available;
    height: 200px;
  }
  .image-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    &.lightbox-img-trigger {
      cursor: zoom-in;
    }
    .gallery {
      background-color: $color_white;
      border: 1px solid #f2fbfe;
      border-radius: $brad-8;
      transition: border-color 0.5s ease-in-out;
      padding: 0.5em;
      box-shadow: $b-shadow;
      margin: 0;

      figcaption {
        font-size: 12px;
        line-height: 11px;
        margin: 0;
        margin-top: 10px;
        color: $color_primary_text;
      }
    }
  }

  .item {
    @include apply-flex-styles($flex-col-start-start);
    gap: 1em;
  }
  .prototype-container {
    display: flex;
    flex-direction: column;
    a {
      color: $color_primary_text;
      text-decoration: underline;
      transition: all ease-in-out 0.5s;
      &:hover {
        text-decoration: none;
        filter: brightness(0.8);
      }
      .border {
        border-radius: 20px;
      }
      .no-border {
        border: none;
      }
    }
  }
  .editorial-sm {
    @include apply-flex-styles($flex-col-center-start);
    width: 100%;
    .content {
      @include apply-flex-styles($flex-col-center-start);
      width: 100%;
      ul {
        list-style-type: none;
        @include apply-flex-styles($flex-col-center-start);
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  section .editorial .split-header .title-col {
    width: 80%;
  }

  .editorial {
    .wide-card {
      padding: 1em;
      gap: 1em;
      .card-header .inline-decorated-list {
        flex-direction: row;
        justify-content: space-between;
        li {
          border-right: 1px solid gainsboro;
          padding-left: 10px;
          padding-right: 10px;
          .emphasis {
            line-height: 22px;
          }
          &:first-child {
            border-left: 1px solid gainsboro;
          }
        }
      }
      .card-body {
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
        .card-editorial {
          align-items: flex-start;
          justify-content: center;
          flex: 70%;
        }
        .image-container {
          flex: 30%;
          &.come-together-banner,
          &.syn-banner,
          &.just-speak-banner {
            height: 210px;
          }
        }
      }
      .button-row {
        display: flex;
        width: 50%;
        .large {
          width: 140px;
          height: 26px;
        }
      }
    }
  }
  // about me styles
  .editorial .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  // case study styles
  .editorial {
    .hero {
      display: inherit;
      width: 100%;
    }
    .case-study-settings {
      .image-container {
        .syn-banner {
          background-image: url(../assets/images/Case-Studies/CS2/main-banner.webp);
          background-size: contain;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .split-header .title-col {
    width: 75%;
  }
}
@media screen and (min-width: 992px) {
  .wrapper {
    .hero-editorial {
      flex-direction: row;
    }
    .editorial-footer a {
      width: 50%;
      font-size: 16px;
    }
    .wide-card {
      .card-header {
        .inline-decorated-list {
          gap: 1.9em;
        }
      }
      .card-body {
        .card-editorial {
          width: 70%;
        }
        .button-row {
          a {
            font-weight: normal;
          }
        }
      }
    }
  }
  /* about page styles */
  .editorial .button-container {
    flex-direction: row;
    .primary-button,
    .secondary-button {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .editorial .wide-card .card-body .image-container {
    &.come-together-banner,
    &.syn-banner,
    &.just-speak-banner {
      height: 308px;
    }
  }

  .editorial {
    .hero .case-study-settings {
      background-color: transparent;
      margin: 0 auto;
      .two-button-container {
        width: 50%;
        a {
          width: 30%;
          height: inherit;
        }
      }
      .bullet-list-row {
        margin: 1em 0;
        @include apply-flex-styles($flex-row-center);
        li {
          border-left: $color_border-settings-grey;
          padding-left: 10px;
        }
      }
      .image-container .syn-banner {
        height: 450px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .editorial .button-container {
    .primary-button,
    .secondary-button {
      width: 20%;
    }
  }
  // about me styles
  .editorial .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .editorial {
    margin-bottom: 2em;
    .row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: 1em;
      .wide-card {
        width: 30%;
        background-color: #fff;
        .card-header ul li .emphasis {
          font-weight: normal;
          font-size: 13px;
        }
        .card-body {
          flex-direction: column-reverse;
          .image-container {
            flex: auto;
          }
        }
      }
    }
  }
  /* about page  */
  .editorial .button-container .primary-button,
  .editorial .button-container .secondary-button {
    width: 10%;
  }

  .editorial .grid-container {
    &.rows-1 {
      gap: 0;
      .grid-item {
        width: 90%;
        ul {
          margin-left: 0;
        }
      }
    }
  }
  .editorial {
    .primary-banner {
      border-radius: 30px;
      width: 100%;
      margin: 0;
    }
    ol li {
      margin: 0 0 10px 10px;
    }
  }
  .main-content {
    margin-top: 0;
    .editorial {
      max-width: 65vw;
      .hero {
        .case-study-settings {
          justify-content: start;
          max-height: unset;
          .bullet-list-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 0.3em;
            margin: 0;
            padding: 1em 0;
            list-style-type: none;
            li {
              border-left: $color_border-settings-grey;
              padding: 10px;
            }
          }
          .image-container .syn-banner {
            height: 420px;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .p-0 .flex-col section {
    max-width: 70vw;
    .editorial {
      width: 100%;
    }
  }

  .editorial .grid-container {
    &.rows-1 {
      gap: 4em;
    }
  }
  .page-wrapper .main-content .editorial {
    max-width: 75%;
  }
}
