/* Top nav and menu  */
.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: $color_white;
  transition: box-shadow 0.3s ease;
  z-index: 1000;
  &.scrolled {
    box-shadow: $b-shadow;
  }
  .navbar-container {
    @include apply-flex-styles($flex-row-center-space_between);
    width: 95%;
    height: 76px;
    margin: 0 auto;
    font-family: $font-family;
    .home-link {
      width: auto;
      .navbar-logo {
        @include apply-flex-styles($flex-row-center);
        padding: 10px 0;
        img {
          width: 60px;
          height: 60px;
          background-color: $color_white;
          border-radius: 50%;
        }
        .logo-container {
          @include apply-flex-styles($flex-col-center-start);
          margin-left: 10px;
          font-family: $font-family;
          color: $color_brand;
          font-size: 16px;
          line-height: 16pt;
          .logo-name {
            text-transform: capitalize;
          }
          .logo-title {
            text-transform: uppercase;
          }
        }
      }
    }
    .menu-toggle {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      .icon-bar {
        fill: $color_brand;
      }
    }

    .nav-menu {
      list-style-type: none;
      padding: 0;
      display: none;
      &.show {
        position: fixed;
        top: 75px;
        left: 0;
        @include apply-flex-styles($flex-col-center);
        width: 100vw;
        height: 100vh;
        background-color: $color_base-bkg;
        margin: 0;
        .navbar-link {
          position: relative;
          width: 100%;
          a {
            @include apply-flex-styles($flex-col-center);
            width: inherit;
            padding-top: 1em;
            padding-bottom: 1em;
            font-size: 20px;
            font-family: inherit;
            color: #fff;
            text-decoration: none;
            &:hover,
            &:focus {
              background: darken($color_base-bkg, 10%);
            }
          }

          /* Case Studies dropdown (Accordion Style) */
          .accordion {
            width: inherit;
            border: none;
            .accordion-header {
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              padding-top: 1em;
              padding-bottom: 1em;
              font-size: 20px;
              font-family: inherit;
              color: $color_white;
              width: unset;
            }

            .chevron {
              transition: transform 0.3s ease;
              margin-left: 10px;
              transform: rotate(0deg); /* Initially pointing down */
            }
            .accordion-content {
              display: none; /* Hidden by default */
              overflow: hidden;
              transition: max-height 0.3s ease, opacity 0.3s ease;
              opacity: 0;
              max-height: 0;
            }
            .accordion-toggle {
              display: none; /* Hide the checkbox */
            }

            /* When the checkbox is checked, display the content */
            .accordion-toggle:checked + .accordion-header + .accordion-content {
              display: flex;
              flex-direction: column;
              opacity: 1;
              max-height: 300px;
              align-items: center;
              flex-wrap: nowrap;
              ul {
                margin-left: 0;
                width: 95%;
                align-items: center;
                justify-content: center;
                li {
                  width: 100%;
                  border-bottom: 1px solid #fff;
                  transition: background-color 0.5s ease-in-out;
                  a {
                    font-size: 18px;
                  }
                  &:hover {
                    background-color: #198499;
                  }
                }
              }
            }
            /* Rotate the chevron when the accordion is open */
            .accordion-toggle:checked + .accordion-header .chevron {
              transform: rotate(180deg); /* Rotate chevron upwards */
            }
          }
        }
      }
    }
  }
}
// footer styles
.footer {
  background-color: $color_white;
  color: $color_primary_text;
  .footer-container {
    @include apply-flex-styles($flex-col-center);
    .footer-social-icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding: 1em;

      a {
        width: 40px;
        height: 40px;
        &.logo {
          background: url(../assets/images/jp-LOGO-mini.svg) no-repeat center;
          background-size: contain;
        }
      }
    }
    .copy-panel {
      @include apply-flex-styles($flex-row-center);
      background-color: $background_copy;
      color: #0a0a0a;
      padding: 1em;
      width: 100vw;
      p {
        margin: 0;
        font-size: 14px;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .navbar .navbar-container .nav-menu .navbar-link .accordion {
    display: inherit;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    @include apply-flex-styles($flex-row-center-space_evenly);
    .navbar-container {
      width: 90%;
      .menu-toggle {
        display: none;
      }
      .home-link {
        padding-left: 0;
      }
      .nav-menu {
        @include apply-flex-styles($flex-row-center-end);
        width: 70%;
        gap: 1em;

        .navbar-item {
          position: relative;
        }

        .navbar-link .organic-link {
          color: #3f3f3f;
          font-size: 16px;
          margin: 0;
          padding: 1em 0 0.5em 0;
          transition: border-bottom 0.3s ease;
          &.active {
            border-bottom: $color_border-settings-grey;
          }

          &:hover {
            border-bottom: 1px solid #4e4e4e;
            background-color: #fff;
          }
        }

        .accordion {
          position: relative;
          width: fit-content;
          border: none;

          .accordion-header {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1em;
            color: #3f3f3f;
            font-size: 16px;
            position: relative;
            z-index: 2;
          }

          .chevron {
            transition: transform 0.3s ease;
            margin-left: 10px;
            fill: #3f3f3f;
            transform: rotate(0deg); /* Initially pointing down */
          }

          .accordion-content {
            position: absolute; /* Position the dropdown content relative to the accordion */
            top: 100%; /* Position it below the header */
            left: 0;
            right: 0;
            z-index: 1;
            overflow: hidden;
            opacity: 0; /* Initially hidden */
            max-height: 0; /* Initially collapsed */
            transition: opacity 0.3s ease, max-height 0.3s ease;
            background-color: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            border-radius: 0 0 8px 8px;
            display: flex;
            flex-wrap: nowrap;
            gap: 10px;
            width: 350px;
            ul {
              margin: 0;
              padding: 0;
              top: 10px;
              li {
                width: -webkit-fill-available;
                transition: all 0.3s ease-in-out;
                .case-link {
                  color: #111111;
                  display: flex;
                  padding: 10px;
                  &:hover {
                    background-color: #8dddfd;
                    border: none;
                  }
                }
              }
            }
          }

          /* Show the content when hovering over the accordion */
          &:hover {
            .accordion-content {
              opacity: 1;
              max-height: 300px; /* Adjust to the desired size */
              width: 275px;
            }

            .chevron {
              transform: rotate(180deg); /* Rotate the chevron */
            }
          }
        }

        /* Chevron rotation fix */
        .navbar .navbar-container .nav-menu .navbar-link .accordion:hover .chevron {
          transform: rotate(180deg); /* Rotate the chevron */
          transition: transform 0.3s ease;
        }

        /* Adjust positioning for specific navbar structure */
        .navbar {
          .navbar-container {
            .nav-menu {
              .navbar-link {
                .accordion {
                  .accordion-header {
                    top: 74px; /* Ensure proper placement */
                  }

                  .accordion-content {
                    opacity: 1;
                    max-height: 1000px; /* Adjust to the desired size */
                    top: 65px; /* Ensure proper alignment */
                    padding: 1em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .navbar-container {
    margin: 0 130px;
  }
}

@media only screen and (min-width: 1800px) {
  .navbar .navbar-container {
    width: 70%;
  }
}
