.bullet-list-row {
  display: none;
  li {
    .bullet-list-col {
      display: none;
    }
  }
}
.bullet-list-col {
  li {
    display: none;
  }
}
.research-list {
  @include apply-flex-styles($flex-col-start-start);
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    @include apply-flex-styles($flex-row-center-start);
    gap: 10px;
    .logo-sm {
      width: 40px;
      height: auto;
    }
    a {
      color: $color_primary_text;
      font-weight: 500;
      text-decoration: underline;
      color: $color_brand;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .research-list li {
    justify-content: flex-start;
  }
  .bullet-list-col {
    @include apply-flex-styles($flex-col-center-space_between);
    align-items: flex-start;
    gap: 0.3em;
    margin-left: 1em;
    list-style: disc;
    li {
      font-size: 16px;
    }
  }
}
