@media screen and (min-width: 768px) {
  .grid-container-2col {
    @include apply-grid-styles($grid-3col-2row);
    background-color: $color_white;
    border-radius: $brad-8;
    .prototype-container {
      @include apply-flex-styles($flex-col-center-start);
    }
  }
}

@media screen and (min-width: 1400px) {
  .grid-container-2col {
    display: grid;
    grid-template-columns: 49% auto;
    grid-template-rows: auto;
    grid-gap: 1em;
    width: 100%;
    .item {
      @include apply-flex-styles($flex-col-start-start);
      gap: 1em;
    }
    .prototype-container {
      @include apply-flex-styles($flex-col-start-start);
      height: auto;
      cursor: pointer;
      transition: all 1s ease-in-out;
      border-radius: $brad-8;
      a {
        font-family: inherit;
        color: $color_primary_text;
        text-decoration: underline;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}
