.tab-container.hide-sm {
  display: none;
}
.tab-container {
  width: 99%;
  display: flex;
  flex-direction: column;
  .tab-buttons {
    @include apply-flex-styles($flex-row-center-start);
    background-color: #fafbfb;
    border-top-right-radius: 8px;
    .tab-button {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 10px 20px;
      transition: all 0.3s ease-in-out;
      font-family: 'Poppins';
      font-size: 16px;
      font-weight: 500;
      border: 1px solid gainsboro;
      border-bottom: 2px solid gainsboro;
      border-radius: 8px 8px 0 0;
      color: #484848;
      &.active {
        font-weight: bold;
        color: #1a1a1a;
        background-color: #fff;
        border-bottom: 2px solid #96e1eb;
      }
    }
  }
  .tab-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 0.5px solid gainsboro;
    width: -webkit-fill-available;
    border-radius: 0 0 8px 8px;
    padding: 8px;
    .tab-module {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: inherit;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .tab-container.hide-sm {
    display: flex;
    width: 100%;
    .tab-buttons {
      .tab-button {
        cursor: pointer;
        @include apply-flex-styles($flex-col-center-start);
        padding: 10px 20px;
        transition: all 0.5s ease-in-out;
        font-family: $font-family;
        font-size: 16px;
        background-color: #edfdff;
        border: $color_border-settings-grey;
        border-bottom: 2px solid gainsboro;
        border-radius: 8px 8px 0 0;
        color: #484848;
        &.active {
          font-weight: bold;
          color: $color_primary_text;
          background-color: $color_white;
          border-bottom: 2px solid #96e1eb;
        }
      }
    }
    .tab-contents {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      border: 0.5px solid gainsboro;
      border-radius: 0 0 8px 8px;
      padding: 8px;
      width: 98%;
      .tab-module {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: inherit;
        .carousel-header {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: row;
          width: -webkit-fill-available;
          margin-bottom: 1em;
          .flex-col-left {
            align-items: flex-start;
            justify-content: flex-start;
            width: 50%;
            .headline {
              margin: 0;
            }
          }
          .flex-col-right {
            width: 50%;
            height: 170px;
            display: flex;
            justify-content: flex-end;
            .carousel-banner-1 {
              background-image: url(../assets/images/Case-Studies/CS2/Enhanced/Hi-Fi/carousel-slides/Foundation/foundation-image.svg);
              width: 100%;
              height: 100%;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: right;
              border-radius: $brad-8;
            }
            .carousel-banner-2 {
              background-image: url(../assets/images/Case-Studies/CS2/Enhanced/Hi-Fi/carousel-slides/Components/Components-image.svg);
              width: 100%;
              height: 100%;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: right;
              border-radius: $brad-8;
            }
            .carousel-banner-3 {
              background-image: url(../assets/images/Case-Studies/CS2/Enhanced/Hi-Fi/carousel-slides/Content/Content-Banner-image.svg);
              width: 100%;
              height: 100%;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: right;
              border-radius: $brad-8;
            }
            .carousel-banner-4 {
              background-image: url(../assets/images/Case-Studies/CS2/Enhanced/Hi-Fi/carousel-slides/Patterns/Patterns-Banner-image.svg);
              width: 100%;
              height: 100%;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: right;
              border-radius: $brad-8;
            }
          }
        }
      }
    }
  }

  .tab-container.hide-sm .tab-contents .tab-module .carousel-header {
    .flex-col-left {
      align-items: flex-start;
      justify-content: flex-start;
      width: 80%;
    }
    .flex-col-right {
      width: 20%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .tab-container {
    width: 100%;
    margin-top: 1em;
    .tab-buttons {
      .tab-button {
        &:hover {
          background-color: #e0effd;
        }
      }
    }

    .tab-contents {
      @include apply-flex-styles($flex-col-center-start);
      width: initial;
      .tab-module {
        border-radius: 0 0 8px 8px;
        width: fit-content;
        .grid-container-1col,
        .grid-container-2col,
        .grid-container-3col,
        .grid-container-4col,
        .grid-container-5col,
        .grid-container-6col {
          background-color: aliceblue;
        }
      }
    }
    .car-tab-contents {
      background: #fff;
    }
  }

  .sidebar-open {
    width: 30%;
  }
}
