// Typography
$font-family: 'Poppins', sans-serif;
$color_primary_text: #1a1a1a;
// color palette

// greyscale
$color_white: #fff;
$color_main-bkg: #f7f7f7;
$background_copy: #dcdcdc;
$background-color_blue: #f0f8ff;

// blue-scale
$color_brand: #2c4465;
$card-header-text: #4f73a4;
$background-color_teal: #4fbdd2;
$background-color_link: #1b1bac;
$background-color_bttt: #007bff;
$primary-btn-hover: #6b8dba;
$blue_menuBkg: #30a7bf;

// box shadow
$b-shadow: 6px 6px 12px -5px #6f6f6fbf;

// border-settings
$color_border-settings-grey: 1px solid #d4d4d4;
$color_border-settings-primary: 1px solid #4eca63;
$color_border-settings-secondary: 1px solid #2c4465;
$color_border-brand: 1px solid #2c4465;
$color_border-focus: 1px solid #5474a1;
$brad-8: 8px;

//imports
@use 'sass:color';

// mixins
@mixin apply-flex-styles($flex-styles) {
  @each $property, $value in $flex-styles {
    #{$property}: $value;
  }
}

@mixin apply-grid-styles($grid-styles) {
  @each $property, $value in $grid-styles {
    #{$property}: $value;
  }
}
// grid 1 col 0 rows
$grid-1col: (
  display: grid,
  grid-template-columns: 1fr,
  grid-gap: 1em,
  margin-top: 1em,
);
$grid-2col-auto: (
  display: grid,
  grid-template-columns: repeat(2, 1fr),
  grid-template-rows: auto,
  grid-gap: 1em,
);
$grid-3col-auto: (
  display: grid,
  grid-template-columns: repeat(3, 1fr),
  grid-template-rows: auto,
  grid-gap: 1em,
);
$grid-4col-auto: (
  display: grid,
  grid-template-columns: repeat(4, 1fr),
  grid-template-rows: auto,
  grid-gap: 1em,
);
$grid-5col-auto: (
  display: grid,
  grid-template-columns: repeat(5, 1fr),
  grid-template-rows: auto,
  grid-gap: 1em,
);
$grid-6col-auto: (
  display: grid,
  grid-template-columns: repeat(6, 1fr),
  grid-template-rows: auto,
  grid-gap: 1em,
);

// flex-col
$flex-col-center: (
  display: flex,
  flex-direction: column,
  align-items: center,
  justify-content: center,
);
$flex-col-start-start: (
  display: flex,
  flex-direction: column,
  align-items: flex-start,
  justify-content: flex-start,
);
$flex-col-start-center: (
  display: flex,
  flex-direction: column,
  align-items: flex-start,
  justify-content: center,
);
$flex-col-center-start: (
  display: flex,
  flex-direction: column,
  align-items: center,
  justify-content: flex-start,
);
$flex-col-center-space_between: (
  display: flex,
  flex-direction: column,
  align-items: center,
  justify-content: space-between,
);
$flex-col-center-evenly: (
  display: flex,
  flex-direction: column,
  align-items: center,
  justify-content: space-evenly,
);
$flex-row-center: (
  display: flex,
  flex-direction: row,
  align-items: center,
  justify-content: center,
);
$flex-row-center-space_between: (
  display: flex,
  flex-direction: row,
  align-items: center,
  justify-content: space-between,
);
$flex-row-center-space_evenly: (
  display: flex,
  flex-direction: row,
  align-items: center,
  justify-content: space-evenly,
);
$flex-row-center-end: (
  display: flex,
  flex-direction: row,
  align-items: center,
  justify-content: flex-end,
);
$flex-row-center-start: (
  display: flex,
  flex-direction: row,
  align-items: center,
  justify-content: flex-start,
);

@mixin background-image-style {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

section {
  display: none;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: $font-family;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: $color_primary_text;
}

main {
  background-color: $color_main-bkg;
  padding-bottom: 1em;
  padding-top: 8em;
}

h1 {
  color: $color-brand;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}

h2 {
  color: $color_brand;
  font-size: 1.35rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0.7rem;
}

h3 {
  color: $color_brand;
  font-size: 1.2rem;
  font-weight: 500;
}

h4 {
  color: $color_brand;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0.7rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 15pt;
  letter-spacing: 0.55pt;
  margin: 0;
}

.emphasis {
  font-weight: 500;
}

a {
  color: $color_brand;
  font-size: 1rem;
  text-decoration: none;
}

ul {
  font-family: $font-family;
  list-style: none;
  margin-left: 0;
  padding: 0;
  @include apply-flex-styles($flex-col-start-center);
  gap: 10px;
  &.disc {
    margin-left: 16px;
    list-style: disc;
  }
  li {
    display: list-item;
    font-family: $font-family;
    font-size: 16px;
    line-height: 30px;
    color: $color_primary_text;
  }
}

ol {
  @include apply-flex-styles($flex-col-start-center);
  font-family: $font-family;
  margin-left: 0;
  gap: 10px;
  li {
    display: list-item;
    font-family: $font-family;
    font-size: 16px;
  }
}

.research-list {
  @include apply-flex-styles($flex-col-start-start);
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    @include apply-flex-styles($flex-row-center-start);
    gap: 10px;
    .logo-sm {
      width: 40px;
      height: auto;
    }
    a {
      font-weight: 500;
      text-decoration: underline;
      color: $color_brand;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
img {
  width: 100%;
  height: auto;
}

.edtorial {
  .split-header {
    @include apply-flex-styles($flex-col-center-space_between);
    align-items: flex-start;
    .title-col {
      flex: 60%;
      .title {
        color: $color_primary_text;
      }
    }
    .header-banner {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 34vh;
      margin-bottom: 2em;
    }
    .sus-banner {
      background-image: url(../assets/images/Case-Studies/CS2/Testing_images/SUS-Banner.svg);
      background-size: cover;
      background-repeat: no-repeat;
      width: -webkit-fill-available;
      height: 200px;
    }
    .Brief-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/Intro-Banner.webp);
    }
    .Research-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/Research-Banner.webp);
    }
    .IA-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/IA-Banner.webp);
    }
    .Interaction-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/Interaction-Banner.webp);
    }
    .Low-Fi-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/Low-Fi-Banner.webp);
    }
    .Design-System-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/Design-System-Banner.webp);
    }
    .Hi-Fi-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/Hi-Fi-Banner.webp);
    }
    .testing-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/UX-Testing-Banner.webp);
    }
    .Results-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/Test-Results-Banner.webp);
    }
    .conclusion-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/Conclusion-Banner.webp);
    }
  }
  .hero-content {
    @include apply-flex-styles($flex-col-center);
    align-items: start;
    .hero-buttons-container {
      @include apply-flex-styles($flex-col-center-start);
      width: -webkit-fill-available;
      gap: 1em;
      margin-top: 1em;
      .col {
        width: -webkit-fill-available;
        .hero-buttons {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1em;
          flex-wrap: nowrap;
          .tertiary-link {
            display: flex;
            align-items: center;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    .primary-button-container {
      width: -webkit-fill-available;
      display: flex;
      margin-top: 1em;
      .primary-button {
        width: 100%;
      }
    }

    .bullet-list-row {
      display: flex;
      margin-left: 0;
      li {
        border-left: 1px solid $color_brand;
        padding-left: 10px;
      }
    }

    .image-container {
      @include apply-flex-styles($flex-col-center);
      width: -webkit-fill-available;
    }
  }
}

.primary-button {
  @include apply-flex-styles($flex-col-center);
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 16px;
  color: $color_white;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  box-shadow: $b-shadow;
  margin-bottom: 1em;
  background-color: $color_brand;
  border-color: $color_brand;
  &:hover {
    background-color: $primary-btn-hover;
    box-shadow: none;
  }
}

.text-link {
  color: $background-color_link;
  font-weight: 500;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

// topbar
.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: $color_white;
  z-index: 9999;
  &.scrolled {
    box-shadow: $b-shadow;
  }
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 76px;
    margin: 0 auto;
    .navbar-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px;
      .logo {
        background-image: url('../assets/images/iconography/jp-LOGO-mini.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 60px;
        height: 60px;
      }
      .logo-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 10px;
        line-height: 16pt;
        .logo-name {
          text-transform: capitalize;
        }
        .logo-title {
          text-transform: uppercase;
        }
      }
    }
    .menu-toggle {
      background: none;
      border: none;
      cursor: pointer;
      .icon-bar {
        background-image: url('../assets/images/iconography/menu-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 30px;
        height: 30px;
      }
    }
    // mobile nav items
    .nav-menu {
      display: none;
      &.show {
        position: fixed;
        top: 75px;
        left: 0;
        @include apply-flex-styles($flex-col-center);
        gap: 3em;
        height: 100vh;
        width: -webkit-fill-available;
        background-color: $blue_menuBkg;
        margin: 0;
        .navbar-link {
          width: 100%;
          .organic-link {
            @include apply-flex-styles($flex-col-center);
            font-size: 20px;
            color: $color_white;
            &:hover,
            &:focus {
              background: $color_brand;
            }
          }
          /* Case Studies dropdown (Accordion Style) */
          .accordion {
            width: 100%;
            border: none;
            .accordion-header {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 20px;
              color: $color_white;
            }
            .chevron {
              transition: transform 0.3s ease;
              margin-left: 10px;
              transform: rotate(0deg);
            }
            .accordion-content {
              transition: max-height 0.3s ease, opacity 0.3s ease;
              opacity: 0;
              max-height: 0;
            }
            .accordion-toggle {
              display: none;
            }
            .accordion-toggle:checked + .accordion-header + .accordion-content {
              display: flex;
              opacity: 1;
              max-height: 170px;
              margin-top: 2em;
              ul {
                margin: 0 auto;
                gap: 2em;
                li {
                  width: 100%;
                  border-bottom: 1px solid $color_white;
                  transition: background-color 0.5s ease-in-out;
                  a {
                    font-size: 18px;
                    color: $color_white;
                  }
                }
              }
            }
            .accordion-toggle:checked + .accordion-header .chevron {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}

.bttt-btn {
  position: fixed;
  padding: 15px;
  background-color: $background-color_bttt;
  color: $color_white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: $b-shadow;
  transition: opacity 0.5s ease;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  &:hover {
    background-color: $background-color_link;
    box-shadow: none;
  }
  svg {
    display: block;
    width: 100%;
    height: auto;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: transform 0.3s ease;
    &:hover {
      stroke: #4fbdd2;
      transform: translateY(-5px);
    }
  }
}

/* Styling for the overlay */
#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background-color_teal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10000;
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #eff8ff;
    border-top: 5px solid #3177bc;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .loading-text {
    color: #3177bc;
    font-size: 16px;
    margin-top: 10px;
    font-family: $font-family;
    font-weight: 500;
  }
}
.hidden {
  display: none;
}

// content styles
.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}
section {
  @include apply-flex-styles($flex-col-center);
  width: 95%;
}
.editorial {
  display: inherit;
  flex-direction: inherit;
  align-items: flex-start;
  background-color: $color_white;
  padding: 10px;
  border-radius: 8px;
  .hero-content {
    @include apply-flex-styles($flex-col-center);
    align-items: start;
    .hero-buttons-container {
      @include apply-flex-styles($flex-col-start-center);
      width: -webkit-fill-available;
      gap: 1em;
      margin-top: 1em;
      .col {
        width: -webkit-fill-available;
        .hero-buttons {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1em;
          flex-wrap: nowrap;
          .tertiary-link {
            display: flex;
            align-items: center;
          }
        }
      }
    }
    .primary-button-container {
      width: -webkit-fill-available;
      display: flex;
      margin-top: 1em;
      .primary-button {
        width: 100%;
      }
    }

    .bullet-list-row {
      display: flex;
      margin-left: 0;
      li {
        border-left: 1px solid $color_brand;
        padding-left: 10px;
      }
    }

    .image-container {
      @include apply-flex-styles($flex-col-center);
      width: -webkit-fill-available;
    }
  }
  &.border {
    border: 1px solid;
    &.-brief_border {
      border-image: linear-gradient(to right, #b2abff 1%, #ffffff00 30%) 1;
    }
    &.-research_border {
      border-image: linear-gradient(to right, #ff9494 1%, #ffffff00 30%) 1;
    }
    &.-IA_border {
      border-image: linear-gradient(to right, #7aafff 1%, #ffffff00 30%) 1;
    }
    &.-Inter_border {
      border-image: linear-gradient(to right, #ffe079 1%, #ffffff00 30%) 1;
    }
    &.-Lo-Fi_border {
      border-image: linear-gradient(to right, #9efbe6 1%, #ffffff00 30%) 1;
    }
    &.-desSystem_border {
      border-image: linear-gradient(to right, #c5ffff 1%, #ffffff00 30%) 1;
    }
    &.-Hi-Fi_border {
      border-image: linear-gradient(to right, #86ffb8 1%, #ffffff00 30%) 1;
    }
    &.-uxTest_border {
      border-image: linear-gradient(to right, #21b1c9 1%, #ffffff00 30%) 1;
    }
    &.-results_border {
      border-image: linear-gradient(to right, #ffe7b0 1%, #ffffff00 30%) 1;
    }
    &.-conclusion_border {
      border-image: linear-gradient(to right, #c6ffc6 1%, #ffffff00 30%) 1;
    }
  }
  .split-header {
    @include apply-flex-styles($flex-col-center-space_between);
    align-items: flex-start;
    .title-col {
      flex: 60%;
      .title {
        color: $color_primary_text;
      }
    }
    .header-banner {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 34vh;
    }
    .sus-banner {
      background-image: url(../assets/images/Case-Studies/CS2/Testing_images/SUS-Banner.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: -webkit-fill-available;
      height: 200px;
    }
    .Brief-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/Intro-Banner.webp);
    }
    .Research-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/Research-Banner.webp);
    }
    .IA-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/IA-Banner.webp);
    }
    .Interaction-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/Interaction-Banner.webp);
    }
    .Low-Fi-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/Low-Fi-Banner.webp);
    }
    .Design-System-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/Design-System-Banner.webp);
    }
    .Hi-Fi-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/Hi-Fi-Banner.webp);
    }
    .testing-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/UX-Testing-Banner.webp);
    }
    .Results-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/Test-Results-Banner.webp);
    }
    .conclusion-banner {
      background-image: url(../assets/images/Case-Studies/banners/section/Conclusion-Banner.webp);
    }
  }
}
// sidebar styles
.contents {
  position: fixed;
  top: 90px;
  left: 10px;
  align-items: center;
  z-index: 1;
  display: flex;
  &.hidden {
    display: none;
  }
  .open-sidebar-btn {
    background-color: $color_brand;
    display: flex;
    border: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    box-shadow: 5px 8px 8px 0px rgba(201, 201, 201, 0.9);
    .chevron {
      background-image: url('../assets/images/controls/chevron.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 30px;
      height: 30px;
    }
  }
  .tooltip {
    background-color: $color_white;
    padding: 6px;
    margin-left: 6px;
    border-radius: 0 8px 8px 0;
    box-shadow: 6px 6px 8px -1px rgba(201, 201, 201, 0.9);
  }
}

.mobile-sidebar {
  position: fixed;
  top: 80px;
  left: -100%;
  width: 100vw;
  height: 100vh;
  background: $color_white;
  transition: left 0.3s ease-in-out;
  &.sidebar-open {
    left: 0;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    .title {
      margin: unset;
    }
    .close-btn {
      background-color: $color_brand;
      display: flex;
      align-items: center;
      border: none;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      box-shadow: 5px 8px 8px 0px rgba(201, 201, 201, 0.9);
      .chevron {
        background-image: url('../assets/images/controls/chevron.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        height: 30px;
        transform: rotate(180deg);
      }
    }
  }
  .side-bar-list {
    margin: 0;
    overflow-y: auto;
    .side-bar-list-item {
      width: 90%;
      margin: 0 auto;
      a {
        display: flex;
        align-items: center;
        .side-bar-icon {
          width: 40px;
          height: 40px;
          &.introduction-icon {
            background-image: url('../assets/images/Case-Studies/side-bar-icons/Intro-Icon-min.svg');
          }
          &.research-icon {
            background-image: url('../assets/images/Case-Studies/side-bar-icons/Research-Icon-min.svg');
          }
          &.IA-icon {
            background-image: url('../assets/images/Case-Studies/side-bar-icons/IA-Icon-min.svg');
          }
          &.ID-icon {
            background-image: url('../assets/images/Case-Studies/side-bar-icons/Inter-Design-Icon-min.svg');
          }
          &.Lo-Fi-icon {
            background-image: url('../assets/images/Case-Studies/side-bar-icons/Lo-Fi-Icon-min.svg');
          }
          &.DesSystem-icon {
            background-image: url('../assets/images/Case-Studies/side-bar-icons/Des-System-Icon-min.svg');
          }
          &.Hi-Fi-icon {
            background-image: url('../assets/images/Case-Studies/side-bar-icons/HiFi-Icon-min.svg');
          }
          &.UXTesting-icon {
            background-image: url('../assets/images/Case-Studies/side-bar-icons/UXTest-icon-min.svg');
          }
          &.Results-icon {
            background-image: url('../assets/images/Case-Studies/side-bar-icons/Research-Icon-min.svg');
          }
          &.Conc-icon {
            background-image: url('../assets/images/Case-Studies/side-bar-icons/Conclusion-Icon-min.svg');
          }
          &.Info-icon {
            background-image: url('../assets/images/Case-Studies/side-bar-icons/Info-Icon-min.svg');
          }
        }
      }
    }
  }
}

// section styles
.lightbox {
  visibility: none;
}
// hero styles
.hero-content {
  .hero-content {
    @include apply-flex-styles($flex-col-center);
    align-items: start;
    .hero-buttons-container {
      @include apply-flex-styles($flex-col-start-center);
      width: -webkit-fill-available;
      gap: 1em;
      margin-top: 1em;
      .col {
        width: -webkit-fill-available;
        .hero-buttons {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1em;
          flex-wrap: nowrap;
          .tertiary-link {
            display: flex;
            align-items: center;
          }
        }
      }
    }
    .primary-button-container {
      width: -webkit-fill-available;
      display: flex;
      margin-top: 1em;
      .primary-button {
        width: 100%;
      }
    }
    .bullet-list-row {
      display: flex;
      margin-left: 0;
      li {
        border-left: 1px solid $color_brand;
        padding-left: 10px;
      }
    }
    .image-container {
      @include apply-flex-styles($flex-col-center);
      width: -webkit-fill-available;
    }
  }
}

.achievements-section {
  .split-header {
    @include apply-flex-styles($flex-col-start-center);
    gap: 1em;
    width: -webkit-fill-available;
    .left-align,
    .right-align {
      width: inherit;
      .primary-button {
        width: inherit;
      }
    }
  }
  .achievement-cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2em;
    .card {
      @include apply-flex-styles($flex-col-center);
      gap: 1em;
      .image-container {
        width: 80px;
        height: 80px;
        .invest-img {
          background-image: url('../assets/images/Case-Studies/banners/metric-vectors/investment-vector.svg');
          @include background-image-style;
        }
        .traffic-img {
          background-image: url('../assets/images/Case-Studies/banners/metric-vectors/traffic-vector.svg');
          @include background-image-style;
        }
        .speed-img {
          background-image: url('../assets/images/Case-Studies/banners/metric-vectors/speed-vector.svg');
          @include background-image-style;
        }
        .awareness-img {
          background-image: url('../assets/images/Case-Studies/banners/metric-vectors/awareness-vector.svg');
          @include background-image-style;
        }
        .engagement-img {
          background-image: url('../assets/images/Case-Studies/banners/metric-vectors/User-Engagement-Icon.svg');
          @include background-image-style;
        }
        .innovate-img {
          background-image: url('../assets/images/Case-Studies/banners/metric-vectors/Innovate-Icon.svg');
          @include background-image-style;
        }
        .iterate-img {
          background-image: url('../assets/images/Case-Studies/banners/metric-vectors/Iterative-icon.svg');
          @include background-image-style;
        }
        .task-img {
          background-image: url('../assets/images/Case-Studies/banners/metric-vectors/Test-rate-icon.svg');
          @include background-image-style;
        }
        .accuracy-img {
          background-image: url('../assets/images/Case-Studies/banners/metric-vectors/accuracy-icon.svg');
          @include background-image-style;
        }
        .efficiency-img {
          background-image: url('../assets/images/Case-Studies/banners/metric-vectors/efficiency-icon.svg');
          @include background-image-style;
        }
        .satisfaction-img {
          background-image: url('../assets/images/Case-Studies/banners/metric-vectors/satisfaction-icon.svg');
          @include background-image-style;
        }
        .usability-img {
          background-image: url('../assets/images/Case-Studies/banners/metric-vectors/user-testing-icon.svg');
          @include background-image-style;
        }
      }
      .stat {
        font-size: 27px;
        font-weight: 600;
        color: $card-header-text;
      }
      .highlight {
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
      }
    }
  }
}

.centered-row {
  margin: 2em 0;
  .image-container {
    display: flex;
    content-visibility: auto;
    .gallery {
      margin: 0;
      img {
        border: $color_border-settings-grey;
        border-radius: $brad-8;
        &.no-border {
          border: none;
        }
      }
    }
  }
}

.centered-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  .flex-row,
  .no-border {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: none;
    .right-col .no-border .col {
      .tertiary-link {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.grid-container-1col,
.grid-container-2col,
.grid-container-3col,
.grid-container-4col,
.grid-container-5col,
.grid-container-6col {
  &.hide-sm {
    display: none;
  }
  @include apply-grid-styles($grid-1col);
  .item {
    @include apply-flex-styles($flex-col-start-start);
    gap: 1em;
  }
  .marketing-banner {
    background-image: url(../assets/images/Case-Studies/CS1/banners/marketing-table.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: -webkit-fill-available;
    height: 200px;
  }
  .image-container {
    .gallery {
      margin: 0;
      img {
        border: $color_border-settings-grey;
      }
      figcaption {
        padding: 10px;
        font-size: 12px;
      }
    }
  }
  ol {
    padding-left: 20px;
  }
  .prototype-container {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    a {
      color: $color_primary_text;
      text-decoration: underline;
      transition: all ease-in-out 0.5s;
      &:hover {
        text-decoration: none;
        filter: brightness(0.8);
      }
      .border {
        border-radius: 20px;
      }
    }
  }
}

.tab-container.hide-sm {
  display: none;
}
.tabular-view {
  margin-top: 1em;
}
.tab-container {
  display: flex;
  flex-direction: column;
  .tab-buttons {
    display: flex;
    background-color: #eff8ff;
    border-radius: 8px 8px 0 0;
    gap: 1.5px;
    .tab-button {
      cursor: pointer;
      padding: 10px;
      transition: all 0.3s ease-in-out;
      font-family: $font-family;
      font-size: 16px;
      font-weight: 500;
      border: none;
      // border-bottom: 2px solid gainsboro;
      border-radius: inherit;
      color: $color_primary_text;
      background-color: #daefff;
      &.active {
        font-weight: 600;
        background-color: #c1f2f8;
        box-shadow: 0px 0px 0px 0.5px #3fa8eebf;
      }
    }
  }
  .tab-contents {
    border: $color_border-settings-grey;
    border-radius: 0 0 8px 8px;
    padding: 0 8px;
    .tab-module {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: inherit;
    }
  }
}

.sm-accordion {
  width: 100%;
  margin: 1em 0;
  max-width: 92vw;
  .accordion-item {
    cursor: pointer;
    width: -webkit-fill-available;
    border-bottom: $color_border-settings-secondary;
    &:last-child {
      border: none;
    }

    .accordion-header {
      @include apply-flex-styles($flex-row-center-space_between);
      width: inherit;
      background-color: $card-header-text;
      padding: 10px;
      cursor: pointer;

      h4 {
        margin: 0;
        color: $color_white;
        font-weight: 400;
        letter-spacing: 1pt;
      }

      .accordion-toggle {
        @include apply-flex-styles($flex-col-center);
        width: unset;

        .chev {
          display: inherit;
          width: 12px;
          height: 12px;
          background-image: url(../assets/images/controls/chevron.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          transform: rotate(90deg);
          transition: transform 0.3s ease-in-out;
        }
      }
    }
    .accordion-content {
      border: $color_border-settings-secondary;
      .carousel-editorial {
        background-color: $color_white;
        width: -webkit-fill-available;
        padding: 10px;
      }
      .carousel-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;
        margin: auto;
        padding-bottom: 1em;
        .carousel-track {
          display: flex;
          transition: transform 0.5s ease-in-out;
          transform: translateX(0%);
          .carousel-slide {
            width: 100%;
            height: auto;
            background-size: contain;
            figure {
              @include apply-flex-styles($flex-col-center);
              width: 100%;
              height: -webkit-fill-available;
              margin: 0 auto;
              img {
                width: -webkit-fill-available;
                height: auto;
                border: none;
              }
              figcaption {
                display: flex;
              }
            }
          }
        }
        .carousel-buttons {
          width: -webkit-fill-available;
          @include apply-flex-styles($flex-row-center-space_between);
          .controls {
            @include apply-flex-styles($flex-col-center);
            border: 1px solid $color_brand;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            transition: all 0.3s ease-in-out;
            background-color: $color_white;
            box-shadow: $b-shadow;
            color: $color_brand;
            cursor: pointer;
            &:hover {
              background-color: #d8e5f8;
              color: $color_white;
              box-shadow: $b-shadow;
            }
            .move-left,
            .move-right {
              background-image: url(../assets/images/controls/left_chev.svg);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              width: 16px;
              height: 16px;
            }
            .move-left {
              transform: rotate(180deg);
            }
          }
        }
        .pagination {
          display: grid;
          grid-template-columns: repeat(3, 40px);
          grid-template-rows: repeat(2, 12px);
          gap: 10px;
          .dot {
            width: 10px;
            height: 10px;
            margin: 0 10px;
            background-color: lightblue;
            border: 1px solid $color_brand;
            border-radius: 50%;
            cursor: pointer;
          }
          .active {
            background-color: $color_brand;
          }
        }
      }
    }
    .accordion-header:has(+ .accordion-content.open) .accordion-toggle .chev {
      transform: rotate(270deg);
    }
    &.active .accordion-header .accordion-toggle .chev {
      transform: rotate(270deg);
    }

    .accordion-content {
      display: none; // Default: hidden

      .gallery {
        margin: 0;
        figcaption {
          padding-left: 10px;
        }
      }

      .paragraphs {
        display: block;
      }
    }

    // Show content when active
    &.active .accordion-content {
      display: block;
    }
  }
}

.footer {
  background-color: $color_white;
  color: $color_primary_text;
  .footer-container {
    @include apply-flex-styles($flex-col-center);
    .footer-social-icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 50px;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity ease-in-out 0.3s;
        .Home-icon {
          background-image: url('../assets/images/iconography/Home-Icon-min.svg');
          width: 35px;
          height: 35px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        .linkedIn-icon {
          background-image: url('../assets/images/iconography/linkedin-min.svg');
          width: 40px;
          height: 40px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        .gitHub-icon {
          background-image: url('../assets/images/iconography/github-logo-min.svg');
          width: 40px;
          height: 40px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        .cv-icon {
          background-image: url('../assets/images/iconography/cv-icon-min.svg');
          width: 40px;
          height: 40px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .copy-panel {
      @include apply-flex-styles($flex-row-center);
      background-color: $background_copy;
      color: #0a0a0a;
      padding: 1em;
      width: 100vw;
      p {
        margin: 0;
        font-size: 14px;
      }
    }
  }
}
@media only screen and (min-width: 425px) {
  .editorial .hero-content .image-container {
    background-color: #fec6c7;
    .primary-banner {
      width: 250px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .sm-accordion,
  .tabular-view-sm {
    display: none;
  }
  .hide-sm,
  .tab-container.hide-sm {
    display: flex;
    margin-top: 1em;
  }

  section {
    margin: 0 auto;
  }

  .sidebar-open {
    width: 40%;
  }

  // Layouts

  @mixin apply-grid-styles($grid-styles) {
    @each $property, $value in $grid-styles {
      #{$property}: $value;
    }
  }
  // grid 1 col 0 rows
  $grid-1col: (
    display: grid,
    grid-template-columns: 1fr,
    grid-gap: 1em,
    margin-top: 1em,
  );
  $grid-2col-auto: (
    display: grid,
    grid-template-columns: repeat(2, 1fr),
    grid-template-rows: auto,
    grid-gap: 1em,
  );
  $grid-3col-auto: (
    display: grid,
    grid-template-columns: repeat(3, 1fr),
    grid-template-rows: auto,
    gap: 1em,
  );
  $grid-4col-auto: (
    display: grid,
    grid-template-columns: repeat(4, 1fr),
    grid-template-rows: auto,
    grid-gap: 1em,
  );
  $grid-5col-auto: (
    display: grid,
    grid-template-columns: repeat(5, 1fr),
    grid-template-rows: auto,
    grid-gap: 1em,
  );
  $grid-6col-auto: (
    display: grid,
    grid-template-columns: repeat(6, 1fr),
    grid-template-rows: auto,
    grid-gap: 1em,
  );

  .editorial {
    .hero-content {
      .hero-buttons-container {
        width: -webkit-fill-available;
        margin-top: 1em;
        .col {
          display: flex;
          justify-content: space-between;
          .hero-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;
            width: 50%;
            .tertiary-link {
              justify-content: flex-start;
            }
          }
        }
      }
      .primary-button-container {
        display: flex;
        margin-top: 1em;
        width: 33%;
      }
      .bullet-list-row {
        @include apply-flex-styles($flex-row-center-space_between);
        flex-wrap: wrap;
      }
      .image-container {
        border-radius: 0 0 8px 8px;
        .primary-banner {
          width: 100%;
        }
      }
    }
    .achievement-cards {
      @include apply-grid-styles($grid-4col-auto);
      .card {
        .stat {
          font-size: 1.3rem;
          font-weight: 500;
        }
        .highlight {
          font-size: 0.9rem;
        }
      }
    }
    .grid-container-4col {
      @include apply-grid-styles($grid-4col-auto);
      .gallery {
        figcaption {
          font-size: 0.9rem;
        }
      }
    }
    .grid-container-2col {
      margin-top: 2em;
      @include apply-grid-styles($grid-2col-auto);
      .grrid-item {
        @include apply-flex-styles($flex-col-center);
      }
    }
    .grid-container-3col {
      @include apply-grid-styles($grid-3col-auto);
      .lightbox-img-trigger {
        cursor: pointer;
      }
    }
    .grid-container-4col {
      @include apply-grid-styles($grid-4col-auto);
    }

    .split-header {
      flex-direction: row;
      align-items: center;
      width: 100%;
      .left-align {
        width: 50%;
        display: inline-flex;
      }
      .right-align {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        .primary-button {
          margin-bottom: 0;
        }
      }
      .title-col {
        width: 60%;
        margin-right: 10px;
      }
      .header-banner {
        background-position: right;
        height: 150px;
        &.carousel-banner-1 {
          background-image: url(../assets/images/Case-Studies/CS2/Enhanced/Hi-Fi/carousel-slides/Foundation/foundation-image.svg);
          width: 150px;
          height: 150px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: bottom;
          margin-bottom: 1em;
        }
        &.carousel-banner-2 {
          background-image: url(../assets/images/Case-Studies/CS2/Enhanced/Hi-Fi/carousel-slides/Components/Components-image.svg);
          width: 100%;
          height: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: right;
          border-radius: $brad-8;
        }
        &.carousel-banner-3 {
          background-image: url(../assets/images/Case-Studies/CS2/Enhanced/Hi-Fi/carousel-slides/Content/Content-Banner-image.svg);
          width: 100%;
          height: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: right;
          border-radius: $brad-8;
        }
        &.carousel-banner-4 {
          background-image: url(../assets/images/Case-Studies/CS2/Enhanced/Hi-Fi/carousel-slides/Patterns/Patterns-Banner-image.svg);
          width: 100%;
          height: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: right;
          border-radius: $brad-8;
        }
      }
    }
  }

  .tab-container .tab-contents .tab-module {
    .list-column {
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin-top: 1em;
    }
  }

  .lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000075;
    z-index: 9999;
    cursor: zoom-out;
    .lightbox-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include apply-flex-styles($flex-col-center-start);
      background-color: #fff;
      padding: 1em;
      border-radius: $brad-8;
      width: 90%;
      cursor: context-menu;

      &.w-40 {
        max-width: 40%;
      }
      &.w-50 {
        max-width: 50%;
      }
      &.w-90 {
        max-width: 90%;
      }
      img {
        background-color: $color_white;
        border: $color_border-settings-grey;
        align-self: center;
        &.no-border {
          border: none;
        }
      }
      p {
        font-size: 12px;
        line-height: 11px;
        margin: 0;
        margin-top: 10px;
      }
      .header {
        width: 100%;
        @include apply-flex-styles($flex-row-center-space_between);
        margin-bottom: 10px;
        h4 {
          font-size: 16px;
          margin: 0;
          display: inherit;
          flex: 0 0 75%;
        }
        .close-btn {
          flex: 1;
          background-color: $color_white;
          color: $color_primary_text;
          border: none;
          font-size: 30px;
          text-align: right;
          cursor: pointer;
          transition: all 0.5s ease-in-out;
          &:hover {
            background-color: gainsboro;
          }
        }
      }
    }
  }

  .flex-row {
    &.space-between {
      .col {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1em;
        .left-align {
          display: inherit;
          justify-content: flex-start;
          align-items: center;
          width: 40%;
          .m-0 {
            margin: 0;
          }
          .tertiary-link svg {
            width: 45px;
          }
        }
        .right-align {
          display: inherit;
          justify-content: flex-end;
          width: 46%;
          .primary-button {
            width: 25%;
            &.m-0 {
              margin: 0;
            }
          }
        }
      }
    }
    &.no-border {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: -webkit-fill-available;
      .left-col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .col {
          flex-direction: column;
          align-items: flex-start;
          gap: 1em;
          width: -webkit-fill-available;
        }
      }
      .width_50 {
        width: 50%;
        .col {
          .tertiary-link {
            display: flex;
            align-items: center;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

// laptop
@media only screen and (min-width: 1024px) {
  .navbar .navbar-container .nav-menu .navbar-link .accordion {
    display: inherit;
  }

  .accordion,
  .accordion-toggle {
    display: none;
  }

  .sidebar-open {
    top: 76px;
    width: 30%;
    box-shadow: $b-shadow;
  }

  .editorial {
    .hero-content {
      .primary-button-container {
        flex-direction: row;
        justify-content: flex-end;
        .primary-button {
          width: 33%;
        }
      }
    }
    .col-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    .col-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    .tabular-view .tab-container .tab-contents .tab-module {
      .col-5 {
        grid-template-columns: repeat(5, 1fr);
      }
      .col-6 {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }

  aside {
    margin-top: 1em;
  }
  .grid-container-1col .marketing-banner {
    background-size: cover;
    height: 360px;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .lightbox {
    .lightbox-content {
      &.w-40a {
        max-width: 40%;
      }
      &.w-80a {
        max-width: 80%;
      }
      &.w-90a {
        max-width: 90%;
      }
    }
  }

  .skills-section .centered-row .flex-row .left-col,
  .skills-section .centered-row .flex-row .right-col {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar-container {
    padding: 0 1em;
  }

  .open-sidebar-btn {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }

  .editorial {
    max-width: 95%;
    .border {
      width: 100%;
    }
  }

  .achievements-section .split-header .left-align .primary-button,
  .achievements-section .split-header .right-align .primary-button {
    width: auto;
  }

  .grid-container-2col .prototype-container {
    display: unset;
    margin-top: 0;
    a {
      @include apply-flex-styles($flex-col-center);
      background-color: #fdc4c5;
      border-radius: 10px;
      .border {
        width: 50%;
      }
      &:hover {
        filter: opacity(0.6);
      }
    }
  }

  .skills-section .centered-row {
    .left-col,
    .left-col.width_50 {
      width: 90%;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .navbar {
    @include apply-flex-styles($flex-row-center-space_evenly);
    .navbar-container {
      width: 90%;
      .menu-toggle {
        display: none;
      }
      .logo-container {
        width: max-content;
        .logo-name,
        .logo-title {
          font-size: 1rem;
          color: $color_primary_text;
          letter-spacing: 0.6pt;
        }
      }
      .nav-menu {
        @include apply-flex-styles($flex-row-center-end);
        gap: 1em;
        .navbar-item {
          transition: all 0.3s 0.5s ease-in-out;
          a {
            font-size: 1rem;
            color: $color_primary_text;
            letter-spacing: 0.6pt;
          }
          &:active {
            border-bottom: $color_border-focus;
          }
          &:hover {
            border-bottom: $color_border-brand;
          }
        }
        .accordion {
          position: relative;
          width: fit-content;
          border: none;

          .accordion-header {
            cursor: pointer;
            display: flex;
            padding: 1em;
            font-size: 1rem;
            color: $color_primary_text;
            letter-spacing: 0.6pt;
            position: relative;
            z-index: 2;
          }
          .chevron {
            transition: transform 0.3s ease;
            margin-left: 10px;
            // fill: #3f3f3f;
            transform: rotate(0deg); /* Initially pointing down */
          }

          .accordion-content {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 1;
            overflow: hidden;
            opacity: 0;
            max-height: 0;
            transition: opacity 0.3s ease, max-height 0.3s ease;
            background-color: $color_white;
            box-shadow: $b-shadow;
            border-radius: 0 0 8px 8px;
            display: flex;
            flex-wrap: nowrap;
            gap: 10px;
            width: 350px;
            ul {
              li {
                width: -webkit-fill-available;
                transition: all 0.3s ease-in-out;
                .case-link {
                  color: $color_primary_text;
                  display: flex;
                  padding: 10px;
                  &:hover {
                    background-color: #8dddfd;
                    border: none;
                    width: -webkit-fill-available;
                  }
                }
              }
            }
          }
          &:hover {
            .chevron {
              transform: rotate(180deg); /* Rotate the chevron */
              transition: transform 0.3s ease;
            }
            .accordion-content {
              opacity: 1;
              max-height: 300px; /* Adjust to the desired size */
              width: 275px;
            }
          }
        }

        /* Adjust positioning for specific navbar structure */
        .navbar {
          .navbar-container {
            .nav-menu {
              .navbar-link {
                .accordion {
                  .accordion-content {
                    opacity: 1;
                    max-height: 1000px; /* Adjust to the desired size */
                    top: 65px; /* Ensure proper alignment */
                    padding: 1em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .contents {
    display: none;
  }
  main {
    padding-top: 6em;
  }
  .page-wrapper {
    width: 90%;
    margin: 0 auto;
    &.main-content {
      @include apply-grid-styles($grid-2col-auto);
      grid-template-columns: 22% auto;
    }
    article {
      display: flex;
      .sideBar {
        background-color: $color_white;
        border-radius: $brad-8;
        display: flex;
        height: 580px;
        width: fit-content;
        position: fixed;
        .sideBar-content {
          display: flex;
          flex-direction: column;
          align-items: baseline;
          .header {
            display: flex;
            h3 {
              margin: 13px 0;
            }
          }
          ul {
            list-style-type: none;
            margin: 0 1em;
            align-items: flex-start;
            gap: 0.5em;
            width: fit-content;

            .side-bar-list-item {
              @include apply-flex-styles($flex-col-center);
              transition: all 0.3s ease-in-out;
              height: 40px;
              width: -webkit-fill-available;
              a {
                @include apply-flex-styles($flex-row-center-start);
                gap: 10px;
                width: -webkit-fill-available;

                &:hover,
                &:focus {
                  background-color: aliceblue; // Default active background color (for when no color is applied)
                }
                &.active {
                  background-color: aliceblue; // Default active background color (for when no color is applied)
                }
              }
              .side-bar-icon {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                color: #404040;
                width: 40px;
                height: 40px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                &.introduction-icon {
                  background-image: url('../assets/images/Case-Studies/side-bar-icons/Intro-Icon-min.svg');
                }
                &.research-icon {
                  background-image: url('../assets/images/Case-Studies/side-bar-icons/Research-Icon-min.svg');
                }
                &.IA-icon {
                  background-image: url('../assets/images/Case-Studies/side-bar-icons/IA-Icon-min.svg');
                }
                &.ID-icon {
                  background-image: url('../assets/images/Case-Studies/side-bar-icons/Inter-Design-Icon-min.svg');
                }
                &.Lo-Fi-icon {
                  background-image: url('../assets/images/Case-Studies/side-bar-icons/Lo-Fi-Icon-min.svg');
                }
                &.DesSystem-icon {
                  background-image: url('../assets/images/Case-Studies/side-bar-icons/Des-System-Icon-min.svg');
                }
                &.Hi-Fi-icon {
                  background-image: url('../assets/images/Case-Studies/side-bar-icons/HiFi-Icon-min.svg');
                }
                &.UXTesting-icon {
                  background-image: url('../assets/images/Case-Studies/side-bar-icons/UXTest-icon-min.svg');
                }
                &.Results-icon {
                  background-image: url('../assets/images/Case-Studies/side-bar-icons/Research-Icon-min.svg');
                }
                &.Conc-icon {
                  background-image: url('../assets/images/Case-Studies/side-bar-icons/Conclusion-Icon-min.svg');
                }
                &.Info-icon {
                  background-image: url('../assets/images/Case-Studies/side-bar-icons/Info-Icon-min.svg');
                }
              }
            }
          }
        }
      }
    }

    .editorial {
      margin-bottom: 2em;
      padding: 1em;
      .hero-content {
        .primary-button-container .primary-button {
          width: auto;
        }
      }
    }
    .border {
      width: unset;
    }
    .border-gradient {
      border: 1px solid;
      &.-brief_border {
        border-image: linear-gradient(to right, #b2abff 1%, #ffffff00 30%) 1;
      }
      &.-research_border {
        border-image: linear-gradient(to right, #ff9494 1%, #ffffff00 30%) 1;
      }
      &.-IA_border {
        border-image: linear-gradient(to right, #7aafff 1%, #ffffff00 30%) 1;
      }
      &.-Inter_border {
        border-image: linear-gradient(to right, #ffe079 1%, #ffffff00 30%) 1;
      }
      &.-Lo-Fi_border {
        border-image: linear-gradient(to right, #9efbe6 1%, #ffffff00 30%) 1;
      }
      &.-desSystem_border {
        border-image: linear-gradient(to right, #c5ffff 1%, #ffffff00 30%) 1;
      }
      &.-Hi-Fi_border {
        border-image: linear-gradient(to right, #86ffb8 1%, #ffffff00 30%) 1;
      }
      &.-uxTest_border {
        border-image: linear-gradient(to right, #21b1c9 1%, #ffffff00 30%) 1;
      }
      &.-results_border {
        border-image: linear-gradient(to right, #ffe7b0 1%, #ffffff00 30%) 1;
      }
      &.-conclusion_border {
        border-image: linear-gradient(to right, #c6ffc6 1%, #ffffff00 30%) 1;
      }
    }
  }

  .lightbox .lightbox-content {
    &.w-15b {
      max-width: 15em;
    }
    &.w-20b {
      max-width: 20em;
    }
    &.w-30b {
      max-width: 25em;
    }
    &.w-40b {
      max-width: 30em;
    }
    &.w-50b {
      max-width: 40em;
    }
    &.w-60b {
      max-width: 50em;
    }
    &.w-80b {
      max-width: 70em;
    }
  }
}

@media only screen and (min-width: 1800px) {
  .navbar .navbar-container {
    width: 70%;
  }

  .page-wrapper {
    width: 70vw;
  }
}
