/* Style the tab content */
:root {
  --body-copy: "Poppins";
  --brand-color: #2c4465;
  --primary-text-color: #1a1a1a;
  --yellow_bkg: #fff2ce;
  --white-bkg: #fff;
  --blue-bkg: #f0f8ff;
  --form-p-text: #666;
  --no-background: transparent;
  --tertiary-link: text-decoration:underline;
  --b-shadow: 10px 10px 22px -6px #b9b9b9;
  --br-shadow: 8px 8px 16px -8px #b9b9b9;
  --border: 1px solid #afafaf;
  --br-sm: 8px;
  --br-md: 16px;
  --br-lg: 24px;
  --form-br-sm: 4px;
  --form-br-md: 8px;
  --form-br-lg: 16px;
  --navbar-height: 56px;
  --navbar-bg-color: #f6f2ee;
  --side-margins-576px: 0 16px;
  --side-margins-768px: 0 20px;
  --side-margins-992px: 0 24px;
  --side-margins-1200px: 0 28px;
  --side-margins-1400px: 0 32px;
  --side-margins-1900px: 0 38px;
  --side-margins-2560px: 0 48px;
}

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--body-copy);
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--white-bkg);
  font-family: var(--body-copy);
}

main {
  position: relative;
  top: 42px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: var(--body-copy);
  font-size: 26px;
  font-weight: 500;
  line-height: 24pt;
  color: var(--brand-color);
  text-align: left;
  letter-spacing: 3pt;
  margin-top: 0;
  text-transform: capitalize;
}

h2 {
  font-family: var(--body-copy);
  font-size: 22px;
  font-weight: 500;
  line-height: 24pt;
  color: var(--brand-color);
  text-align: left;
  letter-spacing: 3pt;
  text-transform: capitalize;
}

h3 {
  font-family: var(--body-copy);
  font-size: 20px;
  font-weight: 500;
  line-height: 22pt;
  color: var(--brand-color);
  text-align: left;
  letter-spacing: 3pt;
  text-transform: capitalize;
}

h4 {
  font-family: var(--body-copy);
  font-size: 16px;
  font-weight: 500;
  line-height: 22pt;
  color: var(--brand-color);
  text-align: left;
  letter-spacing: 3pt;
  text-transform: capitalize;
}

p {
  font-family: var(--body-copy);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-text-color);
}

a {
  font-family: var(--body-copy);
  text-decoration: none;
}

section {
  padding-top: 1em;
  margin-bottom: 1em;
}

ul {
  font-family: var(--body-copy);
  list-style: disc;
  margin-left: 16px;
  padding: 0;
}
ul li {
  font-family: var(--body-copy);
  font-size: 16px;
}

ol {
  font-family: var(--body-copy);
  margin-left: 16px;
  padding: 0;
}
ol li {
  font-family: var(--body-copy);
  font-size: 16px;
}

li.li-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

img {
  width: 100%;
  height: auto;
}

img.logo-sm {
  width: 40px;
  height: auto;
}

.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 40px;
  padding: 8px 16px;
  width: -webkit-fill-available;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
  transition: linear 0.1s ease-in-out;
  box-shadow: var(--br-shadow);
  margin-bottom: 1em;
  background-color: #bbefc4;
}

.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 40px;
  padding: 8px 16px;
  width: -webkit-fill-available;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
  transition: linear 0.1s ease-in-out;
  box-shadow: var(--br-shadow);
  margin-bottom: 1em;
  background-color: var(--white-bkg);
  color: var(--primary-text-color);
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  box-shadow: var(--b-shadow);
  z-index: 1;
  width: 100%;
}

.navbar-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 53px;
  padding-left: 5px;
}

.home-link {
  font-family: var(--body-copy);
  color: var(--brand-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-links {
  font-family: var(--body-copy);
  color: var(--brand-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-logo {
  display: flex;
  font-family: var(--body-copy);
  color: var(--brand-color-focus);
  flex-direction: row;
  align-items: center;
}
.navbar-logo img {
  width: 40px;
  height: auto;
  background-color: var(--white-bkg);
  border-radius: 50%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.logo-name {
  font-size: 18px;
  line-height: 20px;
}

.logo-title {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.3pt;
}

.menu-toggle {
  border: none;
  cursor: pointer;
  display: flex;
  height: 50px;
  width: 50px;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
  display: none;
}
.nav-menu .navbar-link {
  display: flex;
  font-family: "Poppins";
  color: #1a1a1a;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 51px;
  margin: 23px;
  font-size: 19px;
}
.nav-menu .navbar-link a {
  display: flex;
  font-family: "Poppins";
  color: #1a1a1a;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 51px;
  margin: 23px;
  font-size: 19px;
}

.nav-menu.show {
  position: fixed;
  top: 56px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow_bkg);
  left: 0;
  margin: 0;
  border-top: 1px solid #c9c9c9;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-container .gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.image-container .gallery a img {
  transition: transform ease-in-out 0.3s;
  width: 390px;
  height: 360px;
  border-radius: 6px;
  box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.4);
}

.primary-banner {
  margin: 2em 0;
}

.contents {
  position: sticky;
  top: 74px;
}

.open-sidebar-btn {
  border: none;
  border-radius: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
.open-sidebar-btn svg {
  fill: var(--brand-color);
  width: 42px;
  height: 42px;
}

.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  left: 0;
  overflow-x: hidden;
  top: 54px;
  background-color: #ffffff;
  border: 1px solid lightgrey;
  box-shadow: 10px 10px 28px -5px rgba(0, 0, 0, 0.49);
  transition: width 0.5s ease-in;
}
.sidebar .close-btn {
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  border: none;
  rotate: 180deg;
}
.sidebar .close-btn svg {
  fill: var(--brand-color);
  width: 42px;
  height: 42px;
}
.sidebar .header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}
.sidebar li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.sidebar a {
  color: #000;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.sidebar a .nav-item {
  margin-left: 10px;
}

.sidebar.show {
  width: 67%;
  padding: 20px;
}

.sm-cs-hero {
  display: flex;
}

.lg-cs-hero {
  display: none;
}

.bullet-list-row {
  display: none;
}
.bullet-list-row li .bullet-list-col {
  display: none;
}

.bullet-list-col li {
  display: none;
}

.table-lg {
  display: none;
}

.two-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: -webkit-fill-available;
  gap: 1em;
}

.research-list li {
  padding: 16px 32px;
  list-style: none;
}
.research-list li a {
  color: var(--brand-color);
  font-weight: 700;
  border-bottom: 1px solid var(--brand-color);
  transition: all ease-in-out 0.5s;
}
.research-list li a:hover {
  border-bottom: none;
}

.align-top .gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.align-top .gallery img {
  transition: transform ease-in-out 0.3s;
  width: 390px;
  height: 500px;
  border: 1px solid lightgray;
  border-radius: 6px;
  box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.4);
}
.align-top .gallery .md {
  width: 300px;
  height: 400px;
}

.tab-container {
  width: 100%;
}

.tab-buttons {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

.tab-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px 20px;
  transition: all 1s;
  font-family: var(--body-copy);
  font-size: 18px;
  width: 33.33%;
}

.tab-button.active {
  background-color: #b7d1c8;
}

.tab-content {
  display: none;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
.tab-content .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 1em;
}
.tab-content .gallery .col {
  display: flex;
  flex-direction: column;
}
.tab-content .gallery .col a .md {
  width: 180px;
  height: 440px;
  border: 1px solid lightgray;
  border-radius: 6px;
}
.tab-content .gallery .col a .sm {
  width: 70px;
  height: 500px;
  border: 1px solid lightgray;
  border-radius: 6px;
}
.tab-content .gallery .col a .xsm {
  width: 70px;
  height: 270px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

figcaption {
  display: flex;
  justify-self: flex-start;
  background-color: #fff;
  padding: 10px;
  font-family: inherit;
  color: var(--primary-text-color);
  font-size: 14px;
  text-transform: capitalize;
}

.centered-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-bkg);
  border-radius: 8px;
  padding: 0 12px 12px 12px;
}

.i-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
  border-radius: 20px;
  height: 517px;
  width: 184px;
  box-shadow: 0 20px 15px rgba(51, 51, 51, 0.2078431373);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}
.i-phone img {
  display: flex;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.i-phone:hover {
  transform: scale(1.03);
  filter: grayscale(50%);
}

.no-background {
  background-color: var(--no-background);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 3em;
  margin-bottom: 1em;
  border-bottom: 1px solid lightgray;
}

.no-border {
  border: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: flex-start;
}

.left-col {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.right-col {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.tertiary-link {
  color: var(--body-copy);
  font-size: 16px;
  border-bottom: 1px solid black;
}
.tertiary-link:hover {
  border: none;
}

footer {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container .footer-social-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

.btt-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #dc143c;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
  box-shadow: 10px 10px 22px -6px rgba(0, 0, 0, 0.44);
}
.btt-button .span {
  fill: white;
  transition: 0.2s ease-out;
}
.btt-button:hover {
  background-color: #be1a3b;
  box-shadow: none;
}
.btt-button:hover .span {
  transform: translateY(-4px);
}

.introduction {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.item {
  text-align: left;
}

table {
  width: 100%;
}

th {
  padding: 1rem;
  text-align: left;
  background-color: #b7d1cb;
  display: none;
}

td {
  padding: 1rem;
  display: grid;
  grid-template-columns: 15ch auto;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  justify-items: stretch;
  border-bottom: 1px solid darkgrey;
}
td .close {
  fill: #b21515;
}
td .check {
  fill: #60ad56;
}
td::before {
  content: attr(data-cell) ": ";
  font-weight: 700;
  text-transform: capitalize;
}

caption {
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

tr:nth-of-type(odd) {
  background-color: #f0f8ff;
}

@media only screen and (min-width: 576px) {
  body {
    margin: var(--side-margins-576px);
  }
  main {
    top: 63px;
    margin-bottom: 1em;
  }
  .home-link {
    padding-left: 20px;
  }
  .menu-toggle {
    height: 50px;
    width: 60px;
    padding-right: 20px;
  }
  .sidebar.show {
    width: 50%;
    padding: 20px;
  }
  .hero-container {
    padding: 0;
  }
  #competitive-analysis {
    margin-bottom: 4em;
  }
  #user-interviews {
    margin-bottom: 4em;
  }
  #outcomes {
    margin-bottom: 4em;
  }
  #persona {
    margin-bottom: 4em;
  }
  #ideation {
    margin-bottom: 4em;
  }
  #i-a {
    margin-bottom: 4em;
  }
  #i-design {
    margin-bottom: 4em;
  }
  #ui-design {
    margin-bottom: 4em;
  }
  #ux-testing {
    margin-bottom: 4em;
  }
  #conclusion {
    margin-bottom: 4em;
  }
  .case-study-inner {
    margin: 1em;
    margin-top: 0;
  }
  .image-container .gallery a img {
    width: 540px;
    height: 400px;
  }
  .gallery .sm {
    width: 80px;
    height: 240px;
  }
  .gallery .xsm {
    width: 80px;
    height: 240px;
  }
  .table-sm {
    width: 100%;
  }
  .content .td:nth-child(even) {
    width: 96%;
  }
  .content .td .col-right {
    width: 24%;
  }
  .centered-row {
    background-color: var(--blue-bkg);
    border-radius: 8px;
    padding: 0 12px 12px 12px;
  }
  .no-background {
    background-color: var(--no-background);
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 3em;
    margin-bottom: 1em;
    border-bottom: 1px solid lightgray;
  }
  .no-border {
    border: none;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: flex-start;
  }
  .left-col {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
  .right-col {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  .tertiary-link {
    color: var(--body-copy);
    font-size: 16px;
    border-bottom: 1px solid black;
  }
  .tertiary-link:hover {
    border: none;
  }
  footer .footer-container .footer-details {
    padding: 2em;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: var(--side-margins-768px);
  }
  .sm-cs-hero {
    display: none;
  }
  .lg-cs-hero {
    display: flex;
  }
  .two-button-container {
    flex-direction: row;
    gap: 1em;
  }
  .two-button-container .primary-button {
    width: 50%;
    height: 42px;
  }
  .two-button-container .secondary-button {
    width: 50%;
    height: 42px;
  }
  .primary-button {
    width: 120px;
    height: 24px;
  }
  .col-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    gap: 3em;
  }
  .col-2 .left-col {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .col-2 .right-col {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .flex-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .flex-col-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }
  .sidebar #sidebar-menu-btn {
    top: 0.5rem;
  }
  .sidebar.show {
    width: 40%;
    padding: 20px;
  }
  .image-container .gallery a img {
    width: 100%;
    height: auto;
  }
  .align-top .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
  }
  .align-top .gallery a .lg {
    width: 220px;
  }
  .align-top .gallery a .md {
    width: 160px;
  }
  .align-top .gallery a .sm {
    width: 80px;
  }
  .gallery .xsm {
    width: 115px;
    height: 450px;
  }
}
@media only screen and (min-width: 992px) {
  .body {
    margin: var(--side-margins-992px);
  }
  .sidebar.show {
    width: 30%;
  }
  .introduction {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
  .two-button-container {
    flex-direction: row;
    display: flex;
    gap: 1em;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
  }
  .two-button-container .primary-button {
    width: 18%;
    height: 36px;
  }
  .two-button-container .secondary-button {
    width: 18%;
    height: 36px;
  }
  .align-top .gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 1em;
    margin-bottom: 1em;
  }
  .align-top .gallery a .lg {
    width: 300px;
    height: 400px;
    border: 1px solid darkgrey;
  }
  .align-top .gallery a .md {
    width: 260px;
    height: 400px;
    border: 1px solid darkgrey;
  }
  .align-top .gallery a .sm {
    width: 110px;
    height: 800px;
    border: 1px solid darkgrey;
  }
  .align-top .gallery a .xsm {
    width: 110px;
    height: 400px;
    border: 1px solid darkgrey;
  }
  .tab-content .gallery .col a .lg {
    width: 420px;
    height: 540px;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-bottom: 0.8em;
  }
  .tab-content .gallery .col a .sm {
    width: 110px;
    height: 800px;
    border: 1px solid darkgrey;
  }
  .tab-content .gallery .col a .xsm {
    width: 110px;
    height: 400px;
    border: 1px solid darkgrey;
  }
  footer .footer-container .footer-details {
    padding: 2.2em;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-name {
    letter-spacing: 5.2pt;
    font-size: 1.8rem;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-title {
    font-size: 1.2rem;
    letter-spacing: 2pt;
  }
  table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
  }
  tr {
    display: flex;
  }
  td {
    grid-template-columns: 13ch auto;
    align-items: center;
    padding: 0.3rem;
    text-align: center;
  }
  td::before {
    display: none;
  }
  td:first-child {
    text-align: left;
    padding-top: 0.5rem;
  }
  td:last-child {
    padding-bottom: 0.5rem;
  }
  caption {
    text-align: left;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem;
  }
  th {
    display: flex;
    width: 30%;
    font-size: 16px;
    padding: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar-container {
    margin: 0 88px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 53px;
  }
  .menu-toggle {
    display: none;
  }
  .nav-menu {
    display: flex;
  }
  .nav-menu .navbar-link {
    color: #1a1a1a;
    font-size: 19px;
    margin: 0;
  }
  .nav-menu .navbar-link:hover {
    color: var(--brand-color);
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid var(--brand-color);
  }
  .sidebar.show {
    width: 26%;
  }
  .open-sidebar-btn {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .open-sidebar-btn:hover {
    opacity: 0.7;
  }
  .sidebar .close-btn {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .sidebar .close-btn:hover {
    opacity: 0.7;
  }
  .sidebar a {
    width: 100%;
    padding: 10px;
  }
  .sidebar a:hover {
    filter: opacity(1) saturate(1.3);
    background-color: #f2fbfe;
  }
  .two-button-container .primary-button {
    width: 20%;
  }
  .two-button-container .secondary-button {
    width: 20%;
  }
  .primary-button:hover {
    background: #b3e2bb;
    border-color: #4f9985;
    box-shadow: none;
  }
  .secondary-button:hover {
    background-color: #DFEDFF;
    color: #1a1a1a;
    border-color: #1a1a1a;
    box-shadow: none;
  }
  .tab:hover {
    background-color: #93c0b0;
  }
  .image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .image-container .gallery a img {
    width: 800px;
    height: auto;
  }
  .main-content {
    width: 83%;
    margin: 0 auto;
  }
  .hero-container {
    padding: 0;
  }
  .primary-banner {
    display: inherit;
  }
  .align-top .gallery {
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .footer-container .footer-social-icon {
    width: 50vw;
  }
  .footer-container .footer-social-icon a:hover {
    opacity: 0.5;
  }
  td {
    width: 100%;
  }
}
@media only screen and (min-width: 1400px) {
  body {
    margin: 0;
  }
  section {
    width: 80%;
    margin: 0 auto;
  }
  .grid-container-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2, 1fr;
    grid-gap: 1em;
    background-color: var(--blue-bkg);
    padding: 1em;
    border-radius: 8px;
  }
  .grid-container-4col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
    background-color: #f1f1f1;
    padding: 1em;
    border-radius: 8px;
  }
  .grid-container-4col a {
    background-color: #fff;
    border: 1px solid #f2fbfe;
    border-radius: 5px;
    filter: opacity(0.64) saturate(1.3);
    transition: 0.5s all ease-in-out;
    padding: 1em;
  }
  .grid-container-4col a:first-child {
    filter: opacity(1) saturate(1.3);
  }
  .grid-container-4col a:hover {
    filter: opacity(1) saturate(1.3);
    background-color: #f2fbfe;
  }
  .grid-container-4col img {
    width: 100%;
    height: 200px;
  }
  .figma a {
    background-color: #fff;
    border: 1px solid #f2fbfe;
    border-radius: 5px;
    filter: opacity(0.64) saturate(1.3);
    transition: 0.5s all ease-in-out;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid lightblue;
    border-radius: 8px;
    padding: 8px;
  }
  .figma a:first-child {
    filter: opacity(1) saturate(1.3);
  }
  .figma a:hover {
    filter: opacity(1) saturate(1.3);
    background-color: #f2fbfe;
  }
  .grid-container-6col {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
    place-items: center;
    align-items: start;
    background-color: #f1f1f1;
    padding: 1em;
    border-radius: 8px;
  }
  .tab {
    overflow: hidden;
    background-color: lightblue;
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
  }
  .tab:hover {
    background-color: lightblue;
  }
  .tab button:hover {
    background-color: #568898;
    color: #fff;
  }
  .tablinks {
    background-color: #f2f2f2;
    font-family: inherit;
    font-size: 1rem;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  .tablinks.active {
    background-color: #568898;
    color: #fff;
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  .navbar-container {
    margin: 0 130px;
  }
  .open-sidebar-btn {
    display: none;
  }
  .sidebar {
    width: auto;
    left: 2em;
    overflow-x: visible;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .mobile-sidebar {
    display: none;
  }
  .hero-container {
    width: 100%;
  }
  .two-button-container {
    justify-content: flex-end;
  }
  .two-button-container .primary-button {
    width: 15%;
  }
  .two-button-container .secondary-button {
    width: 15%;
  }
  .main-content {
    width: 70%;
    margin: 0 auto;
  }
  .bullet-list-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 0.3em;
    margin-bottom: 1em;
  }
  .bullet-list-row li {
    font-size: 16px;
    color: #4E4E4C;
  }
  .bullet-list-col {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.3em;
    margin-left: 1em;
    list-style: disc;
  }
  .bullet-list-col li {
    font-size: 16px;
  }
  caption {
    font-size: 19px;
    text-transform: capitalize;
    padding: 0;
  }
  table {
    margin-bottom: 1em;
  }
  tbody {
    width: 100%;
  }
  tr {
    display: flex;
    width: 104%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }
  td:first-child {
    justify-items: start;
    padding-top: 0.5rem;
  }
}
@media only screen and (min-width: 1800px) {
  .navbar-container {
    margin: 0 170px;
  }
  .sidebar.show {
    width: 17%;
  }
  table {
    margin-bottom: 1em;
  }
  tbody {
    max-width: 90%;
  }
  th {
    display: flex;
    width: 49%;
    font-size: 16px;
    padding: 6px 30px;
  }
  tr {
    max-width: 91%;
    width: 100%;
  }
}/*# sourceMappingURL=cstudy-stylesheet.css.map */