@font-face {
	font-family: SF-Pro;
	src: url(/assets/fonts/SF-Pro.ttf);
}

$color_brand: var(--brand-color);
$color_primary_text: var(--primary-text-color);
$color_brand_focus: var(--brand-color-focus);
$color_white: var(--white-bkg);
$color_6: var(--body-copy);
$color_8: #4e4e4c;
$font-family_1: var(--body-copy);
$main-bkg: var(--body-bkg);
$border-color: var(--border);
$background-color_1: #bbefc4;
$background-color_d-blue: $color_brand;
$background-color_white: var(--white-bkg);
$background-green: var(--pale-green);
$background-color_4: var(--yellow_bkg);
$background-pale-blue: var(--pale-blue);
$right-shadow: var(--r-shadow);
$background-color_15: #f0f8ff;
$background-color_16: #dfedff;
$background-color_17: #93c0b0;
$background-color_18: #f2fbfe;
$background-color_19: #f1f1f1;
$background-color_20: lightblue;
$background-color_21: #648c99;
$background-color_22: #f2f2f2;
$background-color_23: transparent;
$border-color_1: #4f9985;
$border-color_2: #1a1a1a;

/* Style the tab content */
:root {
	// themes
	--body-bkg: #f0f2f5;
	--yellow_bkg: #fff2ce;
	--white-bkg: #fff;
	--blue-bkg: #f0f8ff;
	--form-p-text: #666;
	--illuminate-yellow: #fffaa3;
	--pale-green: #aafaaa;
	--pale-pink: #eda4fc;
	--pale-blue: #e8f8ff;
	--light-orange: #ffd992;
	/* box shadow styles  */
	--b-shadow: 0 8px 8px 0 rgba(201, 201, 201, 0.5);
	--r-shadow: 8px 0 8px 0 rgba(201, 201, 201, 0.5);
	/* border-styles  */
	--border: 1px solid #d4d4d4;
	--br-8: 8px;
	--br-16: 16px;
	--br-24: 24px;
	--br-50: 50px;
	/* input field border-radius  */
	--form-br-4: 4px;
	--form-br-8: 8px;
	--form-br-16: 16px;

	/* navigation defaults  */
	--navbar-height: 56px;
	--navbar-position: fixed;

	// Typography
	--body-copy: "SF-Pro", sans-serif;
	--brand-color: #2c4465;
	--primary-text-color: #1a1a1a;
	--h1-mobile: 30px;
	--h1-desktop: 48px;
	--h2-mobile: 27px;
	--h2--desktop: 30px;
}
html {
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-family: $font-family_1;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--body-bkg);
	color: var(--primary-text-color);
	font-family: var(--body-copy);
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
}
main {
	margin: 0 auto;
}
h1 {
	font-family: $font-family_1;
	font-size: 26px;
	font-weight: 500;
	line-height: 24pt;
	color: $color_brand;
	text-align: left;
	letter-spacing: 3pt;
	margin-top: 0;
	text-transform: capitalize;
}
h2 {
	font-family: $font-family_1;
	font-size: 22px;
	font-weight: 500;
	line-height: 24pt;
	color: $color_brand;
	text-align: left;
	letter-spacing: 3pt;
	text-transform: capitalize;
}
h3 {
	font-family: $font-family_1;
	font-size: 20px;
	font-weight: 500;
	line-height: 22pt;
	color: $color_brand;
	letter-spacing: 3pt;
	text-transform: capitalize;
}
h4 {
	font-family: $font-family_1;
	font-size: 18px;
	font-weight: 600;
	line-height: 0.1pt;
	color: $color_brand;
	letter-spacing: 1pt;
	text-transform: capitalize;
}
p {
	font-family: $font-family_1;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 1px;
	color: $color_primary_text;
}
a {
	font-family: $font-family_1;
	text-decoration: none;
}
section {
	width: 100%;
	padding-top: 1em;
	margin-bottom: 1em;
}
ul {
	font-family: $font-family_1;
	list-style: disc;
	margin-left: 16px;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	&.no-disc {
		margin-left: 0;
		list-style: none;
	}
	li {
		font-family: $font-family_1;
		font-size: 16px;
		.emphasis {
			font-weight: 700;
		}
	}
}
ol {
	font-family: $font-family_1;
	margin-left: 16px;
	padding: 0;
	li {
		display: list-item;
		font-family: $font-family_1;
		font-size: 16px;
	}
}

img {
	width: 100%;
	height: auto;
	border: 1px solid gainsboro;
	border-radius: var(--br-8);
}
img.logo-sm {
	width: 40px;
	height: auto;
	border: none;
}
.emphasis {
	font-weight: 700;
}
.primary-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: var(--border);
	border-radius: 40px;
	padding: 8px 16px;
	width: -webkit-fill-available;
	color: $color_primary_text;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 1px;
	text-transform: capitalize;
	cursor: pointer;
	transition: linear 0.1s ease-in-out;
	box-shadow: var(--b-shadow);
	background-color: $background-color_1;
}
.secondary-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: var(--border);
	border-radius: 40px;
	padding: 8px 16px;
	width: -webkit-fill-available;
	line-height: 30px;
	letter-spacing: 1px;
	text-transform: capitalize;
	cursor: pointer;
	transition: linear 0.1s ease-in-out;
	box-shadow: var(--b-shadow);
	background-color: $background-color_white;
	color: $color_primary_text;
}

/* Top nav and menu  */
#navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--white-bkg);
	transition: background-color 0.3s ease;
	z-index: 100;
	&.scrolled {
		background-color: var(--white-bkg);
		box-shadow: var(--b-shadow);
	}
	.navbar-container {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 53px;
		.home-link {
			padding-left: 1em;
			.navbar-logo {
				display: flex;
				font-family: var(--body-copy);
				color: var(--brand-color-focus);
				flex-direction: row;
				align-items: center;
				img {
					width: 40px;
					height: auto;
					background-color: var(--white-bkg);
					border-radius: 50%;
					border-color: transparent;
				}
				.logo-container {
					display: flex;
					flex-direction: column;
					margin-left: 10px;
					.logo-name {
						font-size: 18px;
						line-height: 20px;
						.logo-title {
							font-size: 16px;
							line-height: 16px;
							letter-spacing: 0.3pt;
						}
					}
				}
			}
		}
		.menu-toggle {
			display: flex;
			align-items: center;
			padding: 10px;
			background: none;
			border: none;
			cursor: pointer;
		}
		.nav-menu {
			list-style-type: none;
			padding: 0;
			display: none;
			&.show {
				position: fixed;
				top: 53px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 2em;
				width: 100vw;
				height: 100vh;
				background-color: var(--yellow_bkg);
				margin: 0;
				.navbar-link {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					padding-top: 1em;
					padding-bottom: 1em;
					font-size: 20px;
					a {
						font-family: inherit;
						color: var(--primary-text-color);
					}
				}
			}
		}
	}
}
.page-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
	top: 30px;
}
.main-content {
	width: -webkit-fill-available;
}
.hero-container {
	display: flex;
	flex-direction: column;
	background: white;
	padding: 10px;
	padding-top: 2em;
	margin-bottom: 1em;
	border-radius: var(--br-8);
	.hero-header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;

		.two-button-container {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-around;
			align-items: center;
			width: -webkit-fill-available;
			gap: 1em;
		}
		.bullet-list-row {
			list-style-type: none;
		}
		.image-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}

.primary-banner {
	margin-top: 2em;
}
.contents {
	position: fixed;
	top: 55px;
	z-index: 1;
}
.open-sidebar-btn {
	background-color: var(--brand-color);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: none;
	width: 34px;
	height: 34px;
	border-radius: 24px;
	.material-symbols-outlined {
		color: $color_white;
		font-size: 30px;
	}
}
.sideBar {display: none;}

.mobile-sidebar {
	width: 0;
	height: 100%;
	position: fixed;
	left: 0;
	overflow-x: hidden;
	top: 54px;
	background-color: $background-color_white;
	border-right: $border-color;
	box-shadow: $right-shadow;
	.close-btn {
		background-color: var(--brand-color);
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: none;
		width: 34px;
		height: 34px;
		border-radius: 24px;
		.material-symbols-outlined {
			color: $color_white;
			font-size: 30px;
		}
	}
	.header {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: space-between;
		align-items: center;
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0 1em;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: flex-start;
		justify-content: center;
		align-items: flex-start;
		gap: 1em;
	}
	li {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
	}
	a {
		color: $color_primary_text;
		text-decoration: none;
		display: block;
		transition: 0.3s;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		.nav-item {
			margin-left: 10px;
			fill: #404040;
		}
	}
}

.sidebar-open {
	display: block;
	z-index: 1;
	width: 70%;
	padding: 0 10px;
}

.accordion {
	width: 100%;
	width: 100%;
	border: 1px solid grey;
	.accordion-item {
		border-bottom: 1px solid #ccc;
		.accordion-header {
			background-color: #f5f5f5;
			padding: 10px;
			cursor: pointer;
			background-color: #f5f5f5;
			padding: 10px;
			cursor: pointer;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			&:hover {
				background-color: #e0e0e0;
			}
			.headline {
				margin: 0;
			}
		}
		.accordion-content {
			padding: 10px;
			display: none;
			background-color: #fff;
			.gallery {
				width: -webkit-fill-available;
				margin: 0;
			}
		}
	}
}
.accordion-item.active .accordion-content {
	display: block;
}

.accordion-item:not(.active) .accordion-content {
	display: none;
}

.page-components {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 20px;
}
.sm-cs-hero {
	display: flex;
}
.lg-cs-hero {
	display: none;
}
.bullet-list-row {
	display: none;
	li {
		.bullet-list-col {
			display: none;
		}
	}
}
.bullet-list-col {
	li {
		display: none;
	}
}
.research-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		.logo-sm {
			width: 40px;
			height: auto;
		}
		a {
			color: $color_primary_text;
			font-weight: 500;
			text-decoration: underline;
			color: var(--brand-color);
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.table-lg {
	display: none;
}
.two-button-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: -webkit-fill-available;
	gap: 1em;
}

.tab-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	.tab-buttons {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: $background-pale-blue;
		border-top-right-radius: 8px;
		.tab-button {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			border: none;
			padding: 10px 20px;
			transition: all 0.5s ease-in-out;
			font-family: $font-family_1;
			font-size: 18px;
			background-color: white;
			border-bottom: 2px solid transparent;
			color: #525252;
			&.active {
				border-bottom: 2px solid #b7d1c8;
				color: #000;
			}
		}
	}
	.tab-contents {
		border: 0.5px solid gainsboro;
		padding: 8px;
		border-radius: 0 0 8px 8px;
		.tab-module {
			display: flex;
			flex-direction: column;
			.gallery {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: flex-start;
				margin-bottom: 1em;
				img {
					border: none;
				}
				.col {
					display: flex;
					flex-direction: column;
					.md {
						width: 180px;
						height: 440px;
						border: 1px solid lightgray;
						border-radius: 6px;
					}
					.sm {
						width: 70px;
						height: 500px;
						border: 1px solid lightgray;
						border-radius: 6px;
					}
					.xsm {
						width: 70px;
						height: 270px;
						border: 1px solid lightgrey;
						border-radius: 5px;
					}
				}
			}
		}
	}
	&.hide-sm {
		display: none;
	}
}

.grid-container-1col,
.grid-container-2col,
.grid-container-3col,
.grid-container-4col,
.grid-container-5col,
.grid-container-6col {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1em;
	background-color: $background-color_white;
	border-radius: 8px;
	.image-container {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		.gallery {
			background-color: $background-color_white;
			border: 1px solid #f2fbfe;
			border-radius: var(--br-8);
			transition: 0.5s all ease-in-out;
			padding: 0.5em;
			border-radius: var(--br-8);
			box-shadow: var(--b-shadow);
			margin: 10px;
			&:first-child {
				filter: opacity(1) saturate(1.3);
			}
			&:hover {
				filter: opacity(1) saturate(1.3);
				background-color: $background-color_18;
				border-color: #8fbadf;
			}

			img {
				width: 100%;
				height: auto;
			}
		}
		.lightbox {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #00000075;
			z-index: 9999;
			cursor: zoom-out;
			&-content {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: flex-start;
				background-color: #fff2cead;
				padding: 1em 0;
				border-radius: var(--br-16);
				cursor: context-menu;
				img {
					width: 100%;
					height: auto;
					border-radius: var(--br-16);
				}
				.sm-device {
					width: 100vw;
					height: auto;
				}
				.close-btn {
					position: absolute;
					top: 10px;
					right: 10px;
					background-color: var(--white-bkg);
					color: var(--primary-text-color);
					border: 1px solid var(--primary-text-color);
					font-size: 30px;
					width: 42px;
					height: 42px;
					border-radius: 50px;
					cursor: pointer;
					transition: all 0.5s ease-in-out;

					&:hover {
						background-color: gainsboro;
					}
				}
			}
		}
	}
	.prototype-container {
		display: flex;
		flex-direction: column;
		a {
			color: var(--primary-text-color);
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.editorial-sm {
		display: flex;
		flex-direction: column;
		width: 100%;
		.content {
			display: flex;
			flex-direction: column;
			width: 100%;
			ul {
				list-style-type: none;
				text-wrap: pretty;
				margin: 0;
			}
		}
	}
}
.carousel-container {
	position: relative;
	overflow: hidden;
	width: -webkit-fill-available;
	height: auto;
	margin: auto;
	.carousel-track {
		display: flex;
		transition: transform 0.5s ease-in-out;
		.carousel-slide {
			min-width: 100%;
			height: auto;
			background-size: cover;
			.gallery .lg {
				width: -webkit-fill-available;
				height: auto;
				border: none;
			}
		}
	}
	.carousel-buttons {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		.controls {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border: 1px solid var(--brand-color);
			border-radius: 50%;
			width: 50px;
			height: 50px;
			transition: all 0.3s ease-in-out;
			background-color: var(--white-bkg);
			box-shadow: var(--br-shadow);
			color: var(--brand-color);
			cursor: pointer;
			&:hover {
				background-color: var(--brand-color);
				color: white;
				box-shadow: none;
			}
		}
	}
	.pagination {
		text-align: center;
		margin-top: 10px;
		.dot {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 10px;
			background-color: lightblue;
			border: 1px solid var(--brand-color);
			border-radius: 50%;
			cursor: pointer;
		}
		.active {
			background-color: var(--brand-color);
		}
	}
}

.centered-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $background-color_white;
	border-radius: 8px;
	.image-container {
		display: inherit;
		.gallery {
			margin: 0;
			padding: 0;
		}
	}
}

.no-background {
	background-color: $background-color_white;
}
.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 3em;
	margin-bottom: 1em;
	border-bottom: 1px solid lightgray;
}
.no-border {
	border: none;
}
.flex-col {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: space-around;
	justify-content: center;
	align-items: flex-start;
}
.left-col {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
}
.right-col {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	width: 50%;
}
.tertiary-link {
	color: $color_6;
	font-size: 16px;
	border-bottom: 1px solid black;
	&:hover {
		border: none;
	}
}
footer {
	margin-top: 2em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: $background-color-white;
	.footer-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.footer-social-icon {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			width: 100vw;
			.logo img {
				border: none;
			}
		}
	}
}
.btt-button {
	position: fixed;
	bottom: 6rem;
	right: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: $background-green;
	border-radius: 0.5rem;
	padding: 0.5rem;
	text-decoration: none;
	transition: 0.2s ease-out;
	box-shadow: var(--b-shadow);
	.span {
		fill: $color_brand;
		transition: 0.2s ease-out;
	}
	&:hover {
		background-color: #74c974;
		box-shadow: none;
		.span {
			transform: translateY(-4px);
		}
	}
}
.editorial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: $background-color_white;
	padding: 10px;
	border-radius: var(--br-8);
	margin-bottom: 1em;

	.header_2-col-banner-right {
		display: none;
	}
	.skills-section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: -webkit-fill-available;
		.centered-row {
			align-items: flex-start;
			justify-content: flex-start;
			.flex-row {
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				gap: 10px;
				.left-col,
				.right-col {
					flex-direction: column;
					width: 100%;
				}
			}
		}
	}
}
.banner-container {
	display: none;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-gap: 10px;
}
.item {
	text-align: left;
}
table {
	width: 100%;
	font-family: inherit;
}
th {
	padding: 1rem;
	text-align: left;
	background-color: $background-pale-blue;
	display: none;
}
td {
	padding: 1rem;
	display: grid;
	grid-template-columns: 15ch auto;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	justify-items: stretch;
	border-bottom: 1px solid darkgrey;
	.close {
		fill: #b21515;
	}
	.check {
		fill: #60ad56;
	}
	&::before {
		content: attr(data-cell) ": ";
		font-weight: 700;
		text-transform: capitalize;
	}
}
caption {
	text-align: left;
	font-size: 19px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 1rem;
}
tr {
	&:nth-of-type(odd) {
		background-color: $background-color_15;
	}
}

@media only screen and (min-width: 425px) {
	main {
		top: 63px;
		margin-bottom: 1em;
	}
	.home-link {
		padding-left: 20px;
	}
	.menu-toggle {
		height: 50px;
		width: 60px;
		padding-right: 20px;
	}
	.sidebar.show {
		width: 50%;
		padding: 20px;
	}

	.case-study-inner {
		margin: 1em;
		margin-top: 0;
	}

	.table-sm {
		width: 100%;
	}
	.content {
		.td {
			&:nth-child(even) {
				width: 96%;
			}
			.col-right {
				width: 24%;
			}
		}
	}

	.flex-row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		gap: 3em;
		margin-bottom: 1em;
		border-bottom: 1px solid lightgray;
	}
	.no-border {
		border: none;
	}
	.flex-col {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: space-around;
		justify-content: center;
		align-items: flex-start;
	}
	.left-col {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-start;
	}
	.right-col {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 50%;
	}
	.tertiary-link {
		color: $color_6;
		font-size: 16px;
		border-bottom: 1px solid black;
		&:hover {
			border: none;
		}
	}
	footer {
		.footer-container {
			.footer-details {
				padding: 2em;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	body {
		margin: var(--side-margins-768px);
	}
	.sidebar-open {width: 40%;}
	.sm-cs-hero {
		display: none;
	}
	.lg-cs-hero {
		display: flex;
	}
	.accordion {
		display: none;
	}
	.hide-sm {
		display: flex !important;
	}
	.two-button-container {
		flex-direction: row;
		gap: 1em;
		max-height: 42px;
		width: 50%;
		.primary-button,
		.secondary-button {
			width: 50%;
			height: inherit;
		}
	}
	.col-2 {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: flex-start;
		width: 100%;
		gap: 3em;
		.left-col {
			display: flex;
			flex-direction: column;
			width: 50%;
		}
		.right-col {
			display: flex;
			flex-direction: column;
			width: 50%;
		}
	}
	.flex-row-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.flex-col-container {
		display: flex;
		flex-direction: column;
		margin-bottom: 1em;
	}

	.tab-container .tab-buttons {
		flex-direction: row;
	}
	.grid-container-2col {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-gap: 1em;
		background-color: var(--white-bkg);
		border-radius: 8px;
		.prototype-container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
		}
	}
	.grid-container-3col {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		grid-gap: 1em;
		background-color: var(--white-bkg);
		border-radius: 8px;
		.prototype-container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
		}
	}
	.grid-container-4col {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		grid-gap: 1em;
		background-color: var(--white-bkg);
		padding: 1em;
		border-radius: 8px;
	}
	.grid-container-5col {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: auto;
		grid-gap: 1em;
		background-color: var(--white-bkg);
		padding: 1em;
		border-radius: 8px;
	}
	.grid-container-6col {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto;
		grid-gap: 1em;
		background-color: $background-pale-blue;
		padding: 1em;
		border-radius: 8px;
		align-items: start;
		justify-content: space-evenly;
		&.no-background {
			background-color: $background-color_white;
		}
	}
	.editorial .skills-section .centered-row .flex-row {
		flex-direction: row;
	}
	.banner-container {
		display: grid;
		grid-template-columns: 1fr 1fr; // Two equal columns
		grid-gap: 10px; // Adjust gap between grid items as needed
		width: 100%;
		.banner-wrapper {
			height: 500px; // Set the height as needed
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			font-size: 24px;

			&.banner-1 {
				background-image: url(/assets/images/Case-Studies/CS2/Testing_images/SUS-Results-Banner.svg);
				background-size: contain;
				background-repeat: no-repeat;
			}
			&.banner-2 {
				background-size: contain;
				background-repeat: no-repeat;
				background-image: url(/assets/images/Case-Studies/CS2/Testing_images/SUS-stats-Banner.svg);
			}
		}
	}
	.btt-button {
		bottom: 2rem;
		right: 1rem;
	}
}
@media only screen and (min-width: 1024px) {
	.body {
		margin: var(--side-margins-992px);
	}
.sidebar-open{width: 30%;}
	.editorial {
		padding: 2em;
	}
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 10px;
	}
	.two-button-container {
		width: 50%;
	}

	.tab-container .tab-contents .tab-module {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: $background-color_white;
		.carousel-header {
			display: flex;
			width: 100%;
			margin-bottom: 1em;
			.flex-col-left {
				flex: 70%;
				box-sizing: border-box;
				.carousel-editorial {
					padding: 20px 0 20px 0;
					.headline {
						width: 100%;
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
					}
				}
			}
			.flex-col-right {
				flex: 20%;
				box-sizing: border-box;
				.carousel-banner-1 {
					background-image: url(/assets/images/Case-Studies/CS2/Enhanced/Hi-Fi/carousel-slides/Foundation/foundation-image.svg);
					width: 100%;
					height: 100%;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					border-radius: 8px;
				}
				.carousel-banner-2 {
					background-image: url(/assets/images/Case-Studies/CS2/Enhanced/Hi-Fi/carousel-slides/Components/Components-image.svg);
					width: 100%;
					height: 100%;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					border-radius: 8px;
				}
				.carousel-banner-3 {
					background-image: url(/assets/images/Case-Studies/CS2/Enhanced/Hi-Fi/carousel-slides/Content/Content-Banner-image.svg);
					width: 100%;
					height: 100%;
					background-size: contain;
					background-repeat: no-repeat;
					border-radius: 8px;
				}
				.carousel-banner-4 {
					background-image: url(/assets/images/Case-Studies/CS2/Enhanced/Hi-Fi/carousel-slides/Patterns/Patterns-Banner-image.svg);
					width: 100%;
					height: 100%;
					background-size: contain;
					background-repeat: no-repeat;
					border-radius: 8px;
				}
			}
		}
		.gallery {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: 8px;
			margin: 0;
			width: -webkit-fill-available;
			.lg {
				width: 800px;
				height: auto;
				border-radius: 6px;
				margin-bottom: 0.8em;
			}
			.sm {
				width: 110px;
				height: 800px;
			}
			.xsm {
				width: 110px;
				height: 400px;
			}
			figcaption {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-self: flex-start;
			}
		}
		.carousel-container {
			width: -webkit-fill-available;
			height: auto;
			.carousel-track .carousel-slide .gallery .lg {
				width: 90%;
				height: auto;
			}
		}
	}

	footer {
		.footer-container {
			.footer-details {
				padding: 2.2em;
				.footer-top-bar {
					.logo {
						.logo-container {
							.logo-name {
								letter-spacing: 5.2pt;
								font-size: 1.8rem;
							}
							.logo-title {
								font-size: 1.2rem;
								letter-spacing: 2pt;
							}
						}
					}
				}
			}
		}
	}
	table {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
		align-items: flex-start;
		justify-content: center;
	}
	tr {
		display: flex;
	}
	td {
		&::before {
			display: none;
		}
		grid-template-columns: 13ch auto;
		align-items: center;
		padding: 0.3rem;
		text-align: center;
		&:first-child {
			text-align: left;
			padding-top: 0.5rem;
		}
		&:last-child {
			padding-bottom: 0.5rem;
		}
	}
	caption {
		text-align: left;
		padding: 1rem;
		font-size: 1.5rem;
		font-weight: 700;
		text-transform: uppercase;
		padding: 1rem;
	}
	th {
		display: flex;
		width: 30%;
		font-size: 16px;
		padding: 10px;
	}
}
@media only screen and (min-width: 1200px) {
	#navbar {
		.navbar-container {
			margin: 0 60px;
			display: inline-flex;
			justify-content: space-between;
			align-items: center;
			width: 92%;
			height: 60px;
			.menu-toggle {
				display: none;
			}
			.nav-menu {
				display: flex;
				flex-direction: row;
				a {
					color: #1a1a1a;
					font-size: 16px;
					margin: 0;
					padding: 10px 20px;
					width: unset;
					transition: border-bottom 0.3s ease;
					&:hover {
						border-bottom: 1px solid var(--brand-color);
					}
				}
			}
		}
	}

	.open-sidebar-btn {
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		&:hover {
			opacity: 0.7;
		}
	}

	.two-button-container {
		.primary-button {
			width: 20%;
		}
		.secondary-button {
			width: 20%;
		}
	}
	.primary-button {
		&:hover {
			background: #b3e2bb;
			border-color: $border-color_1;
			box-shadow: none;
		}
	}
	.secondary-button {
		&:hover {
			background-color: $background-color_16;
			color: $color_primary_text;
			border-color: $border-color_2;
			box-shadow: none;
		}
	}

	.main-content {
		width: 83%;
		margin: 0 auto;
	}
	.hero-container {
		padding: 0;
	}
	.primary-banner {
		display: inherit;
	}

	.footer-container {
		.footer-social-icon {
			width: 50vw;
			a {
				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
	td {
		width: 100%;
	}
}
@media only screen and (min-width: 1400px) {
	body {
		margin: 0;
	}
	main {
		width: 94%;
		margin: 0 auto;
	}
	.sideBar {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		border-radius: var(--br-8);
		.sideBar-content {
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0 1em;
				display: flex;
				flex-direction: column;
				align-items: baseline;
				gap: 0.5em;
				.side-bar-list-item {
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: flex-start;
					align-items: center;
					width: 100%;
					a {
						color: #404040;
						text-decoration: none;
						display: block;
						transition: 0.3s;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						align-items: center;
						width: 100%;
						padding: 10px;
						.side-bar-icon svg {
							fill: #404040;
						}
					}
				}
			}
		}
	}

	.page-wrapper {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		gap: 1em;
		margin: 0 auto;
		position: relative;
		top: 70px;
		margin-bottom: 5em;
	}
	.page-components {
		position: static;
	}
	.two-button-container {
		width: 100%;
	}
	article {
		width: 23%;
		background-color: white;
		border-radius: var(--br-8);
		.sideBar {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			width: 100%;
			position: inherit;
			.sideBar-content {
				position: fixed;
				display: flex;
				flex-direction: column;
				align-items: baseline;
				ul {
					gap: 0.5em;
					.side-bar-list-item {
						height: 50px;
					}
				}
			}
		}
	}
	.main-content {
		width: 80%;
		display: flex;
		flex-direction: column;
		gap: 2em;
	}

	section {
		width: 100%;
		margin: unset;
		display: flex;
		flex-direction: column;
		padding-top: 0;
		border-radius: var(--br-8);
	}

	.grid-container-1col {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1em;
		background-color: $background-color_white;
		padding: 1em;
		border-radius: 8px;
	}
	.grid-container-2col {
		display: grid;
		grid-template-columns: 40% auto;
		grid-template-rows: auto;
		grid-gap: 1em;
		background-color: $background-color_white;
		padding: 1em;
		border-radius: 8px;
		.prototype-container {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			width: 360px;
			height: auto;
			cursor: pointer;
			transition: all 10s ease-in-out;
			a {
				font-family: inherit;
				color: var(--primary-text-color);
				text-decoration: underline;
				video {
					width: 100%;
					height: auto;
					border-radius: 30px;
					&:hover {
						opacity: 0.7;
					}
				}
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	.grid-container-3col {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		grid-gap: 1em;
		background-color: $background-color_white;
		padding: 1em;
		border-radius: 8px;
	}
	.grid-container-4col {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		grid-gap: 1em;
		background-color: $background-color_white;
		padding: 1em;
		border-radius: 8px;
	}
	.grid-container-5col {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: auto;
		grid-gap: 1em;
		background-color: $background-color_white;
		padding: 1em;
		border-radius: 8px;
	}
	.grid-container-6col {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto;
		grid-gap: 1em;
		background-color: $background-color_white;
		padding: 1em;
		border-radius: 8px;
	}
	.grid-container-1col .image-container .lightbox, 
	.grid-container-2col .image-container .lightbox, 
	.grid-container-3col .image-container .lightbox, 
	.grid-container-4col .image-container .lightbox, 
	.grid-container-5col .image-container .lightbox, 
	.grid-container-6col .image-container .lightbox {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #00000075;
		z-index: 9999;
		cursor: zoom-out;
		&-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			background-color: #fff2cead;
			padding: 1em 0;
			border-radius: var(--br-16);
			cursor: context-menu;
			img {
				width: 60%;
				height: auto;
			}
			.vertical_94 {
				width: 94%;
			}
			.vertical_60 {
				width: 60%;
			}
			.vertical {
				width: 40%;
			}
			.vertical_46 {
				width: 46%;
			}
			.vertical_36 {
				width: 36%;
			}
			.vertical_30 {
				width: 27%;
			}
			.close-btn {
				position: absolute;
				top: 10px;
				right: 10px;
				background-color: var(--white-bkg);
				color: var(--primary-text-color);
				border: 1px solid var(--primary-text-color);
				font-size: 30px;
				width: 42px;
				height: 42px;
				border-radius: 50px;
				cursor: pointer;
				transition: all 0.5s ease-in-out;

				&:hover {
					background-color: gainsboro;
				}
			}
		}
	}

	.no-background {
		background-color: transparent;
		.image-container {
			.gallery {
				background-color: var(--white-bkg);
				padding: 0.5em;
				border-radius: var(--br-8);
				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
	
	.grid-container-4col .image-container .gallery,
	.grid-container-6col .image-container .gallery {
				background-color: var(--white-bkg);
				border: 1px solid #f2fbfe;
				border-radius: var(--br-8);
				filter: opacity(0.64) saturate(1.3);
				transition: 0.5s all ease-in-out;
				padding: 0.5em;
				border-radius: var(--br-8);
				cursor: zoom-in;
				box-shadow: var(--br-shadow);
				&:first-child {
					filter: opacity(1) saturate(1.3);
				}
				&:hover {
					filter: opacity(1) saturate(1.3);
					background-color: $background-color_18;
					border-color: #8fbadf;
				}

				img {
					width: 100%;
					height: 200px;
				}
			}


	.tab-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		border: 1px solid gainsboro;
		border-radius: var(--br-8);
		.tab-buttons {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			background-color: aliceblue;
			button {
				&:hover {
					background-color: #e0effd;
				}
			}
		}
		.tab-module {
			border-radius: 0 0 8px 8px;
			padding: 1em;
			padding-top: 0;
		}
	}

	.navbar-container {
		margin: 0 130px;
	}
	.open-sidebar-btn {
		display: none;
	}

	.mobile-sidebar {
		display: none;
	}
	.hero-container {
		padding: 2em;
		.two-button-container {
			.primary-button {
				width: 15%;
			}
			.secondary-button {
				width: 15%;
			}
			justify-content: flex-end;
		}
		.bullet-list-row {
			list-style: none;
		}
	}
	.main-content {
		width: 74%;
		margin: unset;
	}
	.bullet-list-row {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: row;
		gap: 0.3em;
		margin: 0;
		padding-top: 1em;
		li {
			font-size: 16px;
			color: $color_8;
		}
	}
	.bullet-list-col {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: column;
		gap: 0.3em;
		margin-left: 1em;
		list-style: disc;
		li {
			font-size: 16px;
		}
	}
	caption {
		font-size: 19px;
		text-transform: capitalize;
		padding: 0;
	}
	table {
		margin-bottom: 1em;
	}
	tbody {
		width: 100%;
	}
	tr {
		display: flex;
		width: 104%;
		flex-direction: row;
		justify-content: center;
		flex-wrap: nowrap;
	}
	td {
		&:first-child {
			justify-items: flex-start;
			padding-top: 0.5rem;
		}
	}

	.carousel-container {
		width: -webkit-fill-available;
		height: 600px;
	}

	.editorial {
		.header_2-col-banner-right {
			display: grid;
			grid-template-columns: 70% auto;
			width: 100%;
			height: 150px;
			.editorial-headline {
				display: flex;
				flex-direction: column;
			}
			.primary-banner {
				border-radius: 30px;
				width: 100%;
				margin: 0;
				.sus {
					background-size: contain;
					background-repeat: no-repeat;
					background-image: url(/assets/images/Case-Studies/CS2/Testing_images/SUS-Banner.svg);
					background-position: center;
				}
			}
			ol li {
				margin: 0 0 10px 10px;
			}
		}
		.tab-container .tab-contents {
			width: 100%;
			overflow-x: hidden;
			padding: 0;
		}
	}

}

@media only screen and (min-width: 1800px) {
	.navbar-container {
		margin: 0 170px;
	}
	.sidebar.show {
		width: 17%;
	}
	article .sideBar .sideBar-content ul {
		gap: 1em;
	}
	table {
		margin-bottom: 1em;
	}
	tbody {
		max-width: 90%;
	}
	th {
		display: flex;
		width: 49%;
		font-size: 16px;
		padding: 6px 30px;
	}
	tr {
		max-width: 91%;
		width: 100%;
	}
}
