/* Style the tab content */
:root {
  --body-bkg: #f0f2f5;
  --yellow_bkg: #fff2ce;
  --white-bkg: #fff;
  --blue-bkg: #f0f8ff;
  --form-p-text: #666;
  --illuminate-yellow: #fffaa3;
  --pale-green: #aafaaa;
  --pale-pink: #eda4fc;
  --pale-blue: rgb(155, 234, 245);
  --light-orange: #ffd992;
  /* box shadow styles  */
  --b-shadow: -2px 10px 21px -2px rgba(201, 201, 201, 0.75);
  --br-shadow: 0 8px 16px 0 rgba(181, 181, 181, 0.4);
  /* border-styles  */
  --border: 1px solid #afafaf;
  --br-8: 8px;
  --br-16: 16px;
  --br-24: 24px;
  --br-50: 50px;
  /* input field border-radius  */
  --form-br-4: 4px;
  --form-br-8: 8px;
  --form-br-16: 16px;
  /* navigation defaults  */
  --navbar-height: 56px;
  --navbar-position: fixed;
  --body-copy: "Poppins";
  --brand-color: #2c4465;
  --primary-text-color: #1a1a1a;
  --h1-mobile: 30px;
  --h1-desktop: 48px;
  --h2-mobile: 27px;
  --h2--desktop: 30px;
}

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--body-copy);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bkg);
  color: var(--primary-text-color);
  font-family: var(--body-copy);
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

h1 {
  font-family: var(--body-copy);
  font-size: 26px;
  font-weight: 500;
  line-height: 24pt;
  color: var(--brand-color);
  text-align: left;
  letter-spacing: 3pt;
  margin-top: 0;
  text-transform: capitalize;
}

h2 {
  font-family: var(--body-copy);
  font-size: 22px;
  font-weight: 500;
  line-height: 24pt;
  color: var(--brand-color);
  text-align: left;
  letter-spacing: 3pt;
  text-transform: capitalize;
}

h3 {
  font-family: var(--body-copy);
  font-size: 20px;
  font-weight: 500;
  line-height: 22pt;
  color: var(--brand-color);
  letter-spacing: 3pt;
  text-transform: capitalize;
}

h4 {
  font-family: var(--body-copy);
  font-size: 18px;
  font-weight: 600;
  line-height: 0.1pt;
  color: var(--brand-color);
  letter-spacing: 1pt;
  text-transform: capitalize;
}

p {
  font-family: var(--body-copy);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-text-color);
}

a {
  font-family: var(--body-copy);
  text-decoration: none;
}

section {
  width: 100%;
  padding-top: 1em;
  margin-bottom: 1em;
}

ul {
  font-family: var(--body-copy);
  list-style: disc;
  margin-left: 16px;
  padding: 0;
}
ul li {
  font-family: var(--body-copy);
  font-size: 16px;
}
ul li .emphasis {
  font-weight: 700;
}

ol {
  font-family: var(--body-copy);
  margin-left: 16px;
  padding: 0;
}
ol li {
  display: list-item;
  font-family: var(--body-copy);
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
  border: 1px solid gainsboro;
  border-radius: var(--br-8);
}

img.logo-sm {
  width: 40px;
  height: auto;
  border: none;
}

.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 40px;
  padding: 8px 16px;
  width: -webkit-fill-available;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
  transition: linear 0.1s ease-in-out;
  box-shadow: var(--br-shadow);
  margin-bottom: 1em;
  background-color: #bbefc4;
}

.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 40px;
  padding: 8px 16px;
  width: -webkit-fill-available;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
  transition: linear 0.1s ease-in-out;
  box-shadow: var(--br-shadow);
  background-color: var(--white-bkg);
  color: var(--primary-text-color);
}

/* Top nav and menu  */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--white-bkg);
  transition: background-color 0.3s ease;
  z-index: 100;
}
#navbar.scrolled {
  background-color: var(--white-bkg);
  box-shadow: var(--b-shadow);
}
#navbar .navbar-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 53px;
}
#navbar .navbar-container .home-link {
  padding-left: 1em;
}
#navbar .navbar-container .home-link .navbar-logo {
  display: flex;
  font-family: var(--body-copy);
  color: var(--brand-color-focus);
  flex-direction: row;
  align-items: center;
}
#navbar .navbar-container .home-link .navbar-logo img {
  width: 40px;
  height: auto;
  background-color: var(--white-bkg);
  border-radius: 50%;
  border-color: transparent;
}
#navbar .navbar-container .home-link .navbar-logo .logo-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
#navbar .navbar-container .home-link .navbar-logo .logo-container .logo-name {
  font-size: 18px;
  line-height: 20px;
}
#navbar .navbar-container .home-link .navbar-logo .logo-container .logo-name .logo-title {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.3pt;
}
#navbar .navbar-container .menu-toggle {
  display: flex;
  align-items: center;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
#navbar .navbar-container .nav-menu {
  list-style-type: none;
  padding: 0;
  display: none;
}
#navbar .navbar-container .nav-menu.show {
  position: fixed;
  top: 53px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow_bkg);
  margin: 0;
}
#navbar .navbar-container .nav-menu.show .navbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 20px;
}
#navbar .navbar-container .nav-menu.show .navbar-link a {
  font-family: inherit;
  color: var(--primary-text-color);
}

.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  top: 60px;
}

.main-content {
  width: -webkit-fill-available;
}

.hero-container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 10px;
  margin-bottom: 1em;
  border-radius: var(--br-8);
}
.hero-container .hero-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hero-container .hero-header .two-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: -webkit-fill-available;
  gap: 1em;
}
.hero-container .hero-header .bullet-list-row {
  list-style-type: none;
}
.hero-container .hero-header .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primary-banner {
  margin-top: 2em;
}

.contents {
  position: fixed;
  top: 55px;
}

.open-sidebar-btn {
  border: none;
  border-radius: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
.open-sidebar-btn svg {
  fill: var(--brand-color);
  width: 42px;
  height: 42px;
}

.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  left: 0;
  overflow-x: hidden;
  top: 54px;
  background-color: #ffffff;
  border: 1px solid lightgrey;
  box-shadow: 10px 10px 28px -5px rgba(0, 0, 0, 0.49);
  transition: width 0.5s ease-in;
}
.sidebar .close-btn {
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  border: none;
  rotate: 180deg;
}
.sidebar .close-btn svg {
  fill: var(--brand-color);
  width: 42px;
  height: 42px;
}
.sidebar .header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}
.sidebar li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.sidebar a {
  color: #000;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.sidebar a .nav-item {
  margin-left: 10px;
  fill: #404040;
}

.sidebar.show {
  width: 67%;
  padding: 20px;
}

.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: var(--br-8);
}
.sideBar .sideBar-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0.5em;
}
.sideBar .sideBar-content ul .side-bar-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.sideBar .sideBar-content ul .side-bar-list-item a {
  color: #404040;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.sideBar .sideBar-content ul .side-bar-list-item a .side-bar-icon svg {
  fill: #404040;
}

.page-components {
  display: flex;
  flex-direction: column;
  position: 60px;
}

.sm-cs-hero {
  display: flex;
}

.lg-cs-hero {
  display: none;
}

.bullet-list-row {
  display: none;
}
.bullet-list-row li .bullet-list-col {
  display: none;
}

.bullet-list-col li {
  display: none;
}

.research-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
.research-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.research-list li .logo-sm {
  width: 40px;
  height: auto;
}
.research-list li a {
  color: #1a1a1a;
  font-weight: 700;
  text-decoration: underline;
}
.research-list li a:hover {
  text-decoration: none;
}

.table-lg {
  display: none;
}

.two-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: -webkit-fill-available;
  gap: 1em;
}

.vertical-section {
  display: flex;
  flex-direction: column;
}

.tab-container {
  width: 100%;
}
.tab-container .tab-buttons {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  border-top-left-radius: 8px;
  background-color: white;
}
.tab-container .tab-buttons > :first-child {
  border-top-left-radius: 8px;
}
.tab-container .tab-buttons .tab-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px 20px;
  transition: all 0.5s ease-in-out;
  font-family: var(--body-copy);
  font-size: 18px;
  background-color: white;
  border-bottom: 2px solid transparent;
  color: #525252;
}
.tab-container .tab-buttons .tab-button.active {
  border-bottom: 2px solid #b7d1c8;
  color: #000;
}
.tab-container .tab-contents {
  background-color: var(--white-bkg);
  border-top: 0.5px solid gainsboro;
  padding: 10px;
  width: -webkit-fill-available;
}
.tab-container .tab-contents .tab-module .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 1em;
}
.tab-container .tab-contents .tab-module .gallery img {
  border: none;
}
.tab-container .tab-contents .tab-module .gallery .col {
  display: flex;
  flex-direction: column;
}
.tab-container .tab-contents .tab-module .gallery .col .md {
  width: 180px;
  height: 440px;
  border: 1px solid lightgray;
  border-radius: 6px;
}
.tab-container .tab-contents .tab-module .gallery .col .sm {
  width: 70px;
  height: 500px;
  border: 1px solid lightgray;
  border-radius: 6px;
}
.tab-container .tab-contents .tab-module .gallery .col .xsm {
  width: 70px;
  height: 270px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 700px;
  height: auto;
  /* Adjust as needed */
  margin: auto;
}
.carousel-container .carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-container .carousel-track .carousel-slide {
  min-width: 100%;
  height: auto;
  background-size: cover;
}
.carousel-container .carousel-track .carousel-slide .gallery img,
.carousel-container .carousel-track .carousel-slide figure img {
  border: none;
}
.carousel-container .carousel-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.carousel-container .carousel-buttons .controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--brand-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: all 0.3s ease-in-out;
  background-color: var(--white-bkg);
  box-shadow: var(--br-shadow);
  color: var(--brand-color);
  cursor: pointer;
}
.carousel-container .carousel-buttons .controls:hover {
  background-color: var(--brand-color);
  color: white;
  box-shadow: none;
}
.carousel-container .pagination {
  text-align: center;
  margin-top: 10px;
}
.carousel-container .pagination .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  background-color: lightblue;
  border: 1px solid var(--brand-color);
  border-radius: 50%;
  cursor: pointer;
}
.carousel-container .pagination .active {
  background-color: var(--brand-color);
}

.centered-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-bkg);
  border-radius: 8px;
}
.centered-row .image-container {
  display: inherit;
}
.centered-row .image-container .gallery {
  margin: 0;
  padding: 0;
}

.no-background {
  background-color: var(--no-background);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 3em;
  margin-bottom: 1em;
  border-bottom: 1px solid lightgray;
}

.no-border {
  border: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: flex-start;
}

.left-col {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.right-col {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.tertiary-link {
  color: var(--body-copy);
  font-size: 16px;
  border-bottom: 1px solid black;
}
.tertiary-link:hover {
  border: none;
}

footer {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container .footer-social-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

.btt-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #dc143c;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
  box-shadow: 10px 10px 22px -6px rgba(0, 0, 0, 0.44);
}
.btt-button .span {
  fill: white;
  transition: 0.2s ease-out;
}
.btt-button:hover {
  background-color: #be1a3b;
  box-shadow: none;
}
.btt-button:hover .span {
  transform: translateY(-4px);
}

.editorial {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  padding: 10px;
  border-radius: var(--br-8);
  margin-bottom: 1em;
}
.editorial .header_2-col-banner-right {
  display: grid;
  grid-template-columns: 70% auto;
}
.editorial .header_2-col-banner-right .editorial-headline {
  display: flex;
  flex-direction: column;
}
.editorial .header_2-col-banner-right .primary-banner {
  border-radius: 30px;
}
.editorial .header_2-col-banner-right .primary-banner .sus {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/assets/images/Case-Studies/CS2/Testing_images/SUS-Banner.svg);
}
.editorial .concluding_editorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.editorial .concluding_editorial ol li {
  margin: 0 0 10px 10px;
}
.editorial .banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
}
.editorial .banner-container .banner-wrapper {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}
.editorial .banner-container .banner-wrapper.banner-1 {
  background-image: url(/assets/images/Case-Studies/CS2/Testing_images/SUS-Results-Banner.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.editorial .banner-container .banner-wrapper.banner-2 {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/assets/images/Case-Studies/CS2/Testing_images/SUS-stats-Banner.svg);
}
.editorial .skills-section {
  width: 100%;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.item {
  text-align: left;
}

table {
  width: 100%;
}

th {
  padding: 1rem;
  text-align: left;
  background-color: #b7d1cb;
  display: none;
}

td {
  padding: 1rem;
  display: grid;
  grid-template-columns: 15ch auto;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  justify-items: stretch;
  border-bottom: 1px solid darkgrey;
}
td .close {
  fill: #b21515;
}
td .check {
  fill: #60ad56;
}
td::before {
  content: attr(data-cell) ": ";
  font-weight: 700;
  text-transform: capitalize;
}

caption {
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

tr:nth-of-type(odd) {
  background-color: #f0f8ff;
}

@media only screen and (min-width: 425px) {
  main {
    top: 63px;
    margin-bottom: 1em;
  }
  .home-link {
    padding-left: 20px;
  }
  .menu-toggle {
    height: 50px;
    width: 60px;
    padding-right: 20px;
  }
  .sidebar.show {
    width: 50%;
    padding: 20px;
  }
  .hero-container {
    padding: 0;
  }
  .case-study-inner {
    margin: 1em;
    margin-top: 0;
  }
  .table-sm {
    width: 100%;
  }
  .content .td:nth-child(even) {
    width: 96%;
  }
  .content .td .col-right {
    width: 24%;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 3em;
    margin-bottom: 1em;
    border-bottom: 1px solid lightgray;
  }
  .no-border {
    border: none;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: flex-start;
  }
  .left-col {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
  .right-col {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  .tertiary-link {
    color: var(--body-copy);
    font-size: 16px;
    border-bottom: 1px solid black;
  }
  .tertiary-link:hover {
    border: none;
  }
  footer .footer-container .footer-details {
    padding: 2em;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: var(--side-margins-768px);
  }
  .sm-cs-hero {
    display: none;
  }
  .lg-cs-hero {
    display: flex;
  }
  .two-button-container {
    flex-direction: row;
    gap: 1em;
  }
  .two-button-container .primary-button {
    width: 50%;
    height: 42px;
  }
  .two-button-container .secondary-button {
    width: 50%;
    height: 42px;
  }
  .primary-button {
    width: 120px;
    height: 24px;
  }
  .col-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    gap: 3em;
  }
  .col-2 .left-col {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .col-2 .right-col {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .flex-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .flex-col-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }
  .sidebar #sidebar-menu-btn {
    top: 0.5rem;
  }
  .sidebar.show {
    width: 40%;
    padding: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .body {
    margin: var(--side-margins-992px);
  }
  .sidebar.show {
    width: 30%;
  }
  .editorial {
    padding: 2em;
  }
  .editorial .skills-section .centered-row {
    padding: 2em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
  .two-button-container {
    flex-direction: row;
    display: flex;
    gap: 1em;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
  }
  .two-button-container .primary-button {
    width: 18%;
    height: 36px;
  }
  .two-button-container .secondary-button {
    width: 18%;
    height: 36px;
  }
  .tab-container .tab-contents .tab-module {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
  }
  .tab-container .tab-contents .tab-module .carousel-header {
    display: flex;
    width: 100%;
    margin-bottom: 1em;
  }
  .tab-container .tab-contents .tab-module .carousel-header .flex-col-left {
    flex: 70%;
    box-sizing: border-box;
  }
  .tab-container .tab-contents .tab-module .carousel-header .flex-col-left .carousel-editorial {
    padding: 20px 0 20px 0;
  }
  .tab-container .tab-contents .tab-module .carousel-header .flex-col-left .carousel-editorial .headline {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .tab-container .tab-contents .tab-module .carousel-header .flex-col-right {
    flex: 20%;
    box-sizing: border-box;
  }
  .tab-container .tab-contents .tab-module .carousel-header .flex-col-right .carousel-banner-1 {
    background-image: url(/assets/images/Case-Studies/CS2/Enhanced/Hi-Fi/carousel-slides/Foundation/foundation-image.svg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }
  .tab-container .tab-contents .tab-module .carousel-header .flex-col-right .carousel-banner-2 {
    background-image: url(/assets/images/Case-Studies/CS2/Enhanced/Hi-Fi/carousel-slides/Components/Components-image.svg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }
  .tab-container .tab-contents .tab-module .carousel-header .flex-col-right .carousel-banner-3 {
    background-image: url(/assets/images/Case-Studies/CS2/Enhanced/Hi-Fi/carousel-slides/Content/Content-Banner-image.svg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }
  .tab-container .tab-contents .tab-module .carousel-header .flex-col-right .carousel-banner-4 {
    background-image: url(/assets/images/Case-Studies/CS2/Enhanced/Hi-Fi/carousel-slides/Patterns/Patterns-Banner-image.svg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }
  .tab-container .tab-contents .tab-module .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 0;
    width: -webkit-fill-available;
  }
  .tab-container .tab-contents .tab-module .gallery .lg {
    width: 800px;
    height: auto;
    border-radius: 6px;
    margin-bottom: 0.8em;
  }
  .tab-container .tab-contents .tab-module .gallery .sm {
    width: 110px;
    height: 800px;
  }
  .tab-container .tab-contents .tab-module .gallery .xsm {
    width: 110px;
    height: 400px;
  }
  .tab-container .tab-contents .tab-module .gallery figcaption {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
  }
  .tab-container .tab-contents .tab-module .carousel-container {
    width: -webkit-fill-available;
    height: auto;
  }
  .tab-container .tab-contents .tab-module .carousel-container .carousel-track .carousel-slide .gallery .lg {
    width: 90%;
    height: auto;
  }
  footer .footer-container .footer-details {
    padding: 2.2em;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-name {
    letter-spacing: 5.2pt;
    font-size: 1.8rem;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-title {
    font-size: 1.2rem;
    letter-spacing: 2pt;
  }
  table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
  }
  tr {
    display: flex;
  }
  td {
    grid-template-columns: 13ch auto;
    align-items: center;
    padding: 0.3rem;
    text-align: center;
  }
  td::before {
    display: none;
  }
  td:first-child {
    text-align: left;
    padding-top: 0.5rem;
  }
  td:last-child {
    padding-bottom: 0.5rem;
  }
  caption {
    text-align: left;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem;
  }
  th {
    display: flex;
    width: 30%;
    font-size: 16px;
    padding: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  #navbar .navbar-container {
    margin: 0 60px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 60px;
  }
  #navbar .navbar-container .menu-toggle {
    display: none;
  }
  #navbar .navbar-container .nav-menu {
    display: flex;
  }
  #navbar .navbar-container .nav-menu a {
    color: #1a1a1a;
    font-size: 16px;
    margin: 0;
    padding: 10px 20px;
    width: unset;
    transition: border-bottom 0.3s ease;
  }
  #navbar .navbar-container .nav-menu a:hover {
    border-bottom: 1px solid var(--brand-color);
  }
  .sidebar.show {
    width: 26%;
  }
  .open-sidebar-btn {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .open-sidebar-btn:hover {
    opacity: 0.7;
  }
  .sidebar .close-btn {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .sidebar .close-btn:hover {
    opacity: 0.7;
  }
  .sidebar a {
    width: 100%;
    padding: 10px;
  }
  .sidebar a:hover {
    filter: opacity(1) saturate(1.3);
    background-color: #f2fbfe;
  }
  .two-button-container .primary-button {
    width: 20%;
  }
  .two-button-container .secondary-button {
    width: 20%;
  }
  .primary-button:hover {
    background: #b3e2bb;
    border-color: #4f9985;
    box-shadow: none;
  }
  .secondary-button:hover {
    background-color: #dfedff;
    color: #1a1a1a;
    border-color: #1a1a1a;
    box-shadow: none;
  }
  .main-content {
    width: 83%;
    margin: 0 auto;
  }
  .hero-container {
    padding: 0;
  }
  .primary-banner {
    display: inherit;
  }
  .footer-container .footer-social-icon {
    width: 50vw;
  }
  .footer-container .footer-social-icon a:hover {
    opacity: 0.5;
  }
  td {
    width: 100%;
  }
}
@media only screen and (min-width: 1400px) {
  body {
    margin: 0;
  }
  main {
    width: 94%;
    margin: 0 auto;
  }
  .page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    margin: 0 auto;
  }
  article {
    width: 20%;
    padding: 0 1em;
    background-color: white;
    border-radius: var(--br-8);
  }
  .sideBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: inherit;
  }
  .sideBar .sideBar-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  section {
    width: 100%;
    margin: unset;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    border-radius: var(--br-8);
  }
  .grid-container-1col {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    background-color: var(--blue-bkg);
    padding: 1em;
    border-radius: 8px;
  }
  .grid-container-2col {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: auto;
    grid-gap: 1em;
    background-color: var(--blue-bkg);
    padding: 1em;
    border-radius: 8px;
  }
  .grid-container-2col .prototype-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 360px;
    height: auto;
    cursor: pointer;
    transition: all 10s ease-in-out;
  }
  .grid-container-2col .prototype-container a {
    font-family: inherit;
    color: var(--primary-text-color);
    text-decoration: underline;
  }
  .grid-container-2col .prototype-container a video {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }
  .grid-container-2col .prototype-container a video:hover {
    opacity: 0.7;
  }
  .grid-container-2col .prototype-container:hover {
    text-decoration: none;
  }
  .grid-container-4col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    background-color: var(--blue-bkg);
    padding: 1em;
    border-radius: 8px;
  }
  .grid-container-5col {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    background-color: var(--blue-bkg);
    padding: 1em;
    border-radius: 8px;
  }
  .no-background {
    background-color: transparent;
  }
  .no-background .image-container .gallery {
    background-color: var(--white-bkg);
    padding: 0.5em;
    border-radius: var(--br-8);
  }
  .no-background .image-container .gallery img {
    width: 100%;
    height: auto;
  }
  .grid-container-4col .image-container .gallery {
    background-color: var(--white-bkg);
    border: 1px solid #f2fbfe;
    border-radius: var(--br-8);
    filter: opacity(0.64) saturate(1.3);
    transition: 0.5s all ease-in-out;
    padding: 0.5em;
    border-radius: var(--br-8);
    cursor: zoom-in;
    box-shadow: var(--br-shadow);
  }
  .grid-container-4col .image-container .gallery:first-child {
    filter: opacity(1) saturate(1.3);
  }
  .grid-container-4col .image-container .gallery:hover {
    filter: opacity(1) saturate(1.3);
    background-color: #f2fbfe;
    border-color: #8fbadf;
  }
  .grid-container-4col .image-container .gallery img {
    width: 100%;
    height: 200px;
  }
  .grid-container-4col .image-container .lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4588235294);
    z-index: 9999;
    cursor: zoom-out;
  }
  .grid-container-4col .image-container .lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 242, 206, 0.6784313725);
    padding: 1em 0;
    border-radius: var(--br-16);
    cursor: context-menu;
  }
  .grid-container-4col .image-container .lightbox-content img {
    width: 100%;
    height: auto;
    border-radius: var(--br-16);
  }
  .grid-container-4col .image-container .lightbox-content .vertical_60 {
    width: 60%;
  }
  .grid-container-4col .image-container .lightbox-content .vertical_96 {
    width: 96%;
  }
  .grid-container-4col .image-container .lightbox-content .vertical_90 {
    width: 90%;
  }
  .grid-container-4col .image-container .lightbox-content .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--white-bkg);
    color: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
    font-size: 30px;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .grid-container-4col .image-container .lightbox-content .close-btn:hover {
    background-color: gainsboro;
  }
  .grid-container-6col {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    background-color: var(--blue-bkg);
    padding: 1em;
    border-radius: 8px;
  }
  .grid-container-6col .image-container .gallery {
    background-color: var(--white-bkg);
    border: 1px solid #f2fbfe;
    border-radius: var(--br-8);
    filter: opacity(0.64) saturate(1.3);
    transition: 0.5s all ease-in-out;
    margin: 10px;
    border-radius: var(--br-8);
    cursor: zoom-in;
  }
  .grid-container-6col .image-container .gallery:first-child {
    filter: opacity(1) saturate(1.3);
  }
  .grid-container-6col .image-container .gallery:hover {
    background-color: var(--white-bkg);
    filter: opacity(1) saturate(1.3);
    border-color: #8fbadf;
  }
  .grid-container-6col .image-container .gallery img {
    width: 100%;
    height: auto;
  }
  .grid-container-6col .image-container .lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4588235294);
    z-index: 9999;
    cursor: zoom-out;
  }
  .grid-container-6col .image-container .lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 242, 206, 0.6784313725);
    padding: 1em 0;
    border-radius: var(--br-16);
    cursor: context-menu;
  }
  .grid-container-6col .image-container .lightbox-content img {
    width: 60%;
    height: auto;
  }
  .grid-container-6col .image-container .lightbox-content .vertical_94 {
    width: 94%;
  }
  .grid-container-6col .image-container .lightbox-content .vertical_60 {
    width: 60%;
  }
  .grid-container-6col .image-container .lightbox-content .vertical {
    width: 40%;
  }
  .grid-container-6col .image-container .lightbox-content .vertical_46 {
    width: 46%;
  }
  .grid-container-6col .image-container .lightbox-content .vertical_36 {
    width: 36%;
  }
  .grid-container-6col .image-container .lightbox-content .vertical_30 {
    width: 27%;
  }
  .grid-container-6col .image-container .lightbox-content .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--white-bkg);
    color: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
    font-size: 30px;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .grid-container-6col .image-container .lightbox-content .close-btn:hover {
    background-color: gainsboro;
  }
  .tab-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid gainsboro;
    border-radius: var(--br-8);
  }
  .tab-container .tab-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: aliceblue;
  }
  .tab-container .tab-buttons button:hover {
    background-color: #e0effd;
  }
  .tab-container .tab-module {
    border-radius: 0 0 8px 8px;
    padding: 1em;
    padding-top: 0;
  }
  .navbar-container {
    margin: 0 130px;
  }
  .open-sidebar-btn {
    display: none;
  }
  .sidebar {
    top: 68px;
    left: 0;
    padding-left: 0;
    border: none;
    box-shadow: none;
    border-radius: var(--br-8);
  }
  .mobile-sidebar {
    display: none;
  }
  .hero-container {
    padding: 2em;
  }
  .hero-container .two-button-container {
    justify-content: flex-end;
  }
  .hero-container .two-button-container .primary-button {
    width: 15%;
  }
  .hero-container .two-button-container .secondary-button {
    width: 15%;
  }
  .hero-container .bullet-list-row {
    list-style: none;
  }
  .main-content {
    width: 74%;
    margin: unset;
  }
  .bullet-list-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 0.3em;
    margin-bottom: 1em;
  }
  .bullet-list-row li {
    font-size: 16px;
    color: #4e4e4c;
  }
  .bullet-list-col {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.3em;
    margin-left: 1em;
    list-style: disc;
  }
  .bullet-list-col li {
    font-size: 16px;
  }
  caption {
    font-size: 19px;
    text-transform: capitalize;
    padding: 0;
  }
  table {
    margin-bottom: 1em;
  }
  tbody {
    width: 100%;
  }
  tr {
    display: flex;
    width: 104%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }
  td:first-child {
    justify-items: flex-start;
    padding-top: 0.5rem;
  }
  .carousel-container {
    width: -webkit-fill-available;
    height: 600px;
  }
}
@media only screen and (min-width: 1800px) {
  .navbar-container {
    margin: 0 170px;
  }
  .sidebar.show {
    width: 17%;
  }
  table {
    margin-bottom: 1em;
  }
  tbody {
    max-width: 90%;
  }
  th {
    display: flex;
    width: 49%;
    font-size: 16px;
    padding: 6px 30px;
  }
  tr {
    max-width: 91%;
    width: 100%;
  }
}/*# sourceMappingURL=cstudy-stylesheet.css.map */