// Global Variables
$font-family: 'Poppins', sans-serif;

// color palette
$color_base-bkg: #30a7bf;
$color_base-bkg-dark: darken($color_base-bkg, 10%);
$color_base-bkg-light: #dcfbff;
$color_pButton_hover: #4f73a4;

$color-sButton: #2b737c;
$color-sButton_hover: #0a7d94;

// grey scale
$color_white: #fff;
$color_main-bkg: #f7f7f7;
$color_primary_text: #1a1a1a;
$background_copy: gainsboro;
$background_theader: #f2f2f2;

// blue-scale
$color_brand: #2c4465;
$background-color_blue: #f0f8ff;
$background-color_teal: #4fbdd2;
$background-color_link: #1b1bac;

//yellow scale
$background-color_yellow: #fff2ce;

// box shadow
$b-shadow: 0px 0px 8px 0px rgba(201, 201, 201, 0.9);
$br-shadow: 4px 4px 4px 0px rgba(201, 201, 201, 0.9);
$top-shadow: 1px -5px 5px 0px rgba(201, 201, 201, 0.6);

// border-settings
$color_border-settings-grey: 1px solid #d4d4d4;
$color_border-settings-primary: 1px solid #4eca63;
$color_border-settings-secondary: 1px solid #2c4465;
$brad-4: 4px;
$brad-6: 6px;
$brad-8: 8px;
$brad-16: 16px;

// imports

@import './partials/spinner';
@import './partials/layout';
@import './partials/editorials';
@import './partials/containers';
@import './partials/header-footer';
@import './partials/hero';
@import './partials/buttons';
@import './partials/cards';
@import './partials/form';
@import './partials/side-bar';
@import './partials/tabs';
@import './partials/accordions';
@import './partials/lightbox';
@import './partials/bttt-button';

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: $color_primary_text;
}

main {
  background-color: $color_main-bkg;
  padding-bottom: 1em;
  margin-top: 76px;
}

h2 {
  font-weight: 500;
  font-size: 1.35rem;
  line-height: 1;
  margin-bottom: 0.7rem;
  color: $color_brand;
}

h3 {
  font-weight: 500;
  font-size: 1.2rem;
  color: $color_brand;
  font-display: block;
}

h4 {
  font-weight: 500;
  font-size: 1.15rem;
  font-display: block;
  line-height: 1;
  margin-bottom: 0.7rem;
  color: $color_brand;
}

a {
  font-size: 1rem;
  color: $color_brand;
  text-decoration: none;
}

ul {
  font-family: $font-family;
  list-style: none;
  margin-left: 16px;
  padding: 0;
  @include apply-flex-styles($flex-col-center-start);
  gap: 10px;
  &.no-disc {
    margin-left: 0;
    list-style: none;
    display: inherit;
  }
  &.disc {
    margin-left: 16px;
    list-style: disc;
  }
  li {
    display: list-item;
    font-family: $font-family;
    font-size: 16px;
    line-height: 30px;
    color: $color_primary_text;
  }
}

ol {
  font-family: $font-family;
  margin-left: 0;
  @include apply-flex-styles($flex-col-center-start);
  gap: 10px;
  li {
    display: list-item;
    font-family: $font-family;
    font-size: 16px;
  }
}

.emphasis {
  font-weight: 500;
}

img {
  width: 100%;
  height: auto;
}

section {
  @include apply-flex-styles($flex-col-center);
  margin: 0 auto;
}

.main-content {
  @include apply-flex-styles($flex-col-center-start);
  gap: 1em;
  width: 100%;
  margin-top: 3em;
}

@media only screen and (min-width: 1024px) {
  .body {
    margin: var(--side-margins-992px);
  }
}

@media screen and (min-width: 1600px) {
  .main-content {
    margin-top: 0;
  }
}
