@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

// Typography
$font-family: "Spartan";

// color palette

// grey scale
$color_white: #fff;
$color_main-bkg: #f0f2f5;
$color_primary_text: #1a1a1a;
$color_border-settings-grey: 1px solid #d4d4d4;
// blue-scale
$color_brand: #2c4465;
$color_border-settings-secondary: 1px solid #2c4465;

$color_8: #4e4e4c;

// green scale
$color_border-settings-primary: 1px solid #4eca63;
$color_primary-btn-bkg: #bbefc4;
$color_focus: #7fffd4;

$color_primary_text: var(--primary-text-color);
$color_brand_focus: var(--brand-color-focus);
$color_white: var(--white-bkg);
$color_6: var($font-family);
$color_8: #4e4e4c;

$border-color: var(--border);
$background-color_1: #bbefc4;
$background-color_d-blue: $color_brand;
$background-color_white: var(--white-bkg);
$background-green: var(--pale-green);
$background-color_4: var(--yellow_bkg);
$background-pale-blue: var(--pale-blue);
$right-shadow: var(--r-shadow);
$background-color_15: #f0f8ff;
$background-color_16: #dfedff;
$background-color_17: #93c0b0;
$background-color_18: #f2fbfe;
$background-color_19: #f1f1f1;
$background-color_20: lightblue;
$background-color_21: #648c99;
$background-color_22: #f2f2f2;
$background-color_23: transparent;
$border-color_1: #4f9985;
$border-color_2: #1a1a1a;

// box shadow
$b-shadow: 0px 12px 16px 0px rgba(201, 201, 201, 0.5);
$br-shadow: 3px 10px 10px 0px rgba(201, 201, 201, 0.5);
/* Style the tab content */
:root {
  // themes

  --yellow_bkg: #fff2ce;
  --white-bkg: #fff;
  --blue-bkg: #f0f8ff;
  --form-p-text: #666;
  --illuminate-yellow: #fffaa3;
  --pale-green: #aafaaa;
  --pale-pink: #eda4fc;
  --pale-blue: #e8f8ff;
  --light-orange: #ffd992;
  /* box shadow styles  */

  /* border-styles  */
  --border: 1px solid #d4d4d4;
  --br-8: 8px;
  --br-16: 16px;
  --br-24: 24px;
  --br-50: 50px;
  /* input field border-radius  */
  --form-br-4: 4px;
  --form-br-8: 8px;
  --form-br-16: 16px;

  /* navigation defaults  */
  --navbar-height: 56px;
  --navbar-position: fixed;

  // Typography

  --brand-color: #2c4465;
  --primary-text-color: #1a1a1a;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: $font-family;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: $color_primary_text;
}
main {
  background-color: $color_main-bkg;
}
h1 {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
  line-height: 20pt;
  color: $color_brand;
}

h2 {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 27pt;
  color: $color_brand;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  line-height: 18pt;
  color: $color_brand;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  line-height: 18pt;
  color: $color_brand;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 15pt;
  letter-spacing: 0.55pt;
}

a {
  font-size: 1.1rem;
  color: $color_brand;
  text-decoration: none;
}

ul {
  font-family: $font-family;
  list-style: disc;
  margin-left: 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &.no-disc {
    margin-left: 0;
    list-style: none;
  }
  li {
    font-family: $font-family;
    font-size: 16px;
    .emphasis {
      font-weight: 700;
    }
  }
}
ol {
  font-family: $font-family;
  margin-left: 16px;
  padding: 0;
  li {
    display: list-item;
    font-family: $font-family;
    font-size: 16px;
  }
}

img {
  width: 100%;
  height: auto;
}

section {
  margin: 10px;
  &.p-0 {
    margin: 0;
  }
}

/* Top nav and menu  */
#navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  transition: background-color 0.3s ease;
  &.scrolled {
    background-color: var(--white-bkg);
    box-shadow: $b-shadow;
    z-index: 100;
    &.logo-container {
      // display: flex;
      // flex-direction: column;
      // margin-left: 10px;
      // font-family: $font-family;
      // color: #272727;
      // font-size: 16px;
      // line-height: 16pt;
      opacity: 1;
    }
    .home-link .navbar-logo .logo-container,
    .navbar-container .nav-menu a {
      color: $color_brand;
    }
    .navbar-container .menu-toggle .icon-bar {
      fill: $color_brand;
    }
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 76px;
    margin: 0 auto;
    font-family: $font-family;
    .home-link .navbar-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 0;
      img {
        width: 60px;
        height: 60px;
        background-color: var(--white-bkg);
        border-radius: 50%;
      }
      .logo-container {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        font-family: $font-family;
        color: #272727;
        font-size: 16px;
        line-height: 16pt;
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }
    }
    .menu-toggle {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      .icon-bar {
        fill: $color_white;
      }
    }
    .nav-menu {
      list-style-type: none;
      padding: 0;
      display: none;
      &.show {
        position: fixed;
        top: 75px;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: #30a7bf;
        margin: 0;
        .navbar-link {
          width: 100%;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: inherit;
            padding-top: 1em;
            padding-bottom: 1em;
            font-size: 20px;
            font-family: inherit;
            color: $color_white;
          }
        }
      }
    }
  }
}
// hero section styling
.p-0 {
  margin-top: 75px;
  padding: 0;
  width: 100vw;
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    &.index-banner {
      background: url(/assets/images/hero-images/index/index-hero-banner_sm.svg) no-repeat top right;
    }
    .hero-content {
      padding: 20px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 0.5em;
      max-width: calc(100vw - 20%);
      .name-container {
        background-color: #545454;
        color: $color_white;
        padding: 10px;
        padding-bottom: 8px;
        border-radius: 50px;
        p {
          font-weight: 600;
          letter-spacing: 3pt;
          margin: 0;
        }
      }
      h1 {
        text-align: left;
        font-size: 2em;
        line-height: 1.3em;
        color: #4e4e4e;
        font-weight: 600;
        margin: 0;
      }
    }
  }
}

// generic layout styles

.research-qoute {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  .qoute-text {
    font-size: 1.3rem;
    line-height: 27pt;
    font-style: italic;
    .signature {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      font-size: 1rem;
      margin-right: 2em;
      font-style: italic;
    }
  }
}

.centered-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.8rem;
  margin: 0.5rem;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 1 auto;
}

.th {
  display: none;
  font-weight: 700;
  background-color: #f2f2f2;
}

.th > .td {
  white-space: normal;
  justify-content: flex-start;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.content .td:nth-child(even) {
  background-color: var(--blue-bkg);
  width: 92%;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 6px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
  padding: 12px;
}

.editorial {
  background-color: $color_white;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  &.transparent {
    background-color: transparent;
  }
  &.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.align-start {
      align-items: flex-start;
    }
    &.align-end {
      align-items: flex-end;
    }
    &.justify-start {
      align-items: flex-start;
    }
    &.justify-end {
      align-items: flex-end;
    }
    &.col {
      flex-direction: column;
    }
  }
  .editorial-footer {
    display: inherit;
    flex-direction: inherit;
    gap: 1em;
    width: 100%;
    a {
      font-size: 16px;
    }
  }
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.tab.active {
  background-color: #b7d1c8;
}

.tab:hover {
  background-color: #93c0b0;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

[data-tab-target] {
  cursor: pointer;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

/* end of top bar  */
.primary-button,
.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: $color_border-settings-primary;
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 14px;
  color: $color_primary_text;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  box-shadow: $br-shadow;
  margin-bottom: 1em;
}

.primary-button {
  background-color: $color_brand;
  border-color: $color_brand;
  color: $color_white;
  &:hover {
    background: #4f73a4;
    box-shadow: none;
  }
}
.secondary-button {
  background-color: #0a7d94;
  border-color: #0a7d94;
  color: $color_white;
  &:hover {
    background-color: #4fbdd2;
    box-shadow: none;
  }
}

.tertiary-btn {
  font-weight: bold;
  border-bottom: $color_border-settings-grey;
  color: $color_brand;
}

/* index page styles  */
.profile-image {
  max-width: 200px;
  max-height: 200px;
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 100%;
}
.expanded-headline {
  text-align: left;
  font-size: 2em;
  line-height: 1.3em;
  color: #4e4e4e;
  font-weight: 600;
  margin: 0;
  .highlight-text {
    color: #0a7d94;
  }
}

.career-history-banner {
  background: url(/assets/images/hero-images/index/career-path_sm.svg) center no-repeat;
  background-size: contain;
  height: 1100px;
  width: 300px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white-bkg);
  padding: 10px;
  border-radius: var(--br-8);
  // portfolio
  .wide-card {
    display: inherit;
    flex-direction: column;
    border-bottom: $color_border-settings-grey;
    &.no-border {
      border: none;
    }
    .card-header {
      display: inherit;
      flex-direction: column;
      width: 100%;
      .inline-decorated-list {
        list-style: none;
        margin: 0;
        padding-bottom: 1em;
        li {
          font-size: 18px;
          letter-spacing: 2px;
        }
      }
    }
    .card-body {
      display: flex;
      flex-direction: column-reverse;

      .card-editorial {
        display: inherit;
        flex-direction: column;
        flex: 70%;
        a {
          font-weight: 700;
          text-decoration: underline;
          transition: all 0.3s ease-in-out;
          &:hover {
            font-weight: 500;
            text-decoration: none;
          }
        }
        .more-content {
          display: none;
        }
        .show-more {
          display: inline;
        }
      }
      .image-container {
        flex: auto;
        width: 100%;
        max-height: 300px;
        border-radius: var(--br-8);
        box-shadow: $br-shadow;
        &.come-together-banner {
          background: url(/assets/images/hero-images/index/come-together-banner.webp) no-repeat center;
          background-size: cover;
          width: 100%;
          height: 300px;
        }
        &.syn-banner {
          background: url(/assets/images/hero-images/index/syn-banner.webp) no-repeat center;
          background-size: contain;
          width: 100%;
          height: 300px;
        }
        &.just-speak-banner {
          background: url(/assets/images/hero-images/index/guitar-lessons-banner.webp) no-repeat center;
          background-size: cover;
          width: 100%;
          height: 300px;
        }
      }
      .button-row {
        width: 100%;
        a {
          text-decoration: none;
        }
      }
    }
  }
  // skills
  .highlighted-section {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--blue-bkg);
    border-radius: 8px;
    padding: 0 12px 12px 12px;
    .column {
      display: inherit;
    }
  }
  .experience-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
      .button-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: -webkit-fill-available;
      }
    }
  }
  .experience-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .experience-body {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid gainsboro;
      margin-bottom: 1em;
      .experience-duration {
        flex: 0 0 100%;
      }
      .experience-details {
        flex: 0 0 100%;
        padding-left: 0;
      }
    }
  }
}

/* contact page styles  */
.contact-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/images/contact-page-bkg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  .contact-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .contact-form-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      border-bottom: var(--border);
    }
    .contact-form-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      background-color: #f0f6ff; /* Pale blue background for the container */
      padding: 10px;
      border-radius: var(--br-8);
      .input-group {
        background-color: #ffffff; /* White background for the form */
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .input {
        position: relative;
        margin-bottom: 10px;
        cursor: pointer;
        outline: none;
        border: 0;
        font-size: 16px;
        label {
          position: absolute;
          top: 20px; /* Adjusted top value to ensure proper alignment */
          left: 0; /* Adjusted left value to align with the input field */
          color: var(--primary-text-color);
          font-size: 16px;
          transition: all 0.3s ease;
        }
        textarea {
          height: 150px;
        }
        input,
        textarea {
          box-sizing: border-box;
          width: calc(100% - 10px);
          padding: 60px 0 0 0;
          border: none;
          border-bottom: 1.5px solid #aaa;
          font-size: 16px;
          letter-spacing: 1.5pt;
          font-weight: 500;
          font-family: "Poppins";
        }
      }
    }
    .form-footer {
      display: flex;
      width: 100%;
      justify-content: center;
      width: 100%;
      margin-top: 2em;
      .primary-button {
        width: 100%;
      }
    }
    .contact-card-container {
      background-color: var(--yellow_bkg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px;
      border-radius: var(--br-8);
      .header {
        border-bottom: var(--border);
        width: 100%;
      }
      .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        justify-content: center;
        .contact-links {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-evenly;
          gap: 1em;
          list-style: none;
          margin: 0;

          a {
            display: inline-flex;
            align-items: center;
            gap: 1rem;
            font-size: 16px;
            font-weight: 800;
            color: #1a1a1a;

            .tertiary-link {
              display: flex;
              flex-direction: column;
              .title {
                font-weight: 500;
              }
              .link-text {
                font-weight: 700;
                text-decoration: underline;
                text-decoration-color: var(--primary-text-color);
                text-decoration-thickness: 0.125em;
                text-underline-offset: 2px;
                cursor: pointer;
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }

      .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #1a1a1a;
        padding: 1em;
      }
    }
  }
}

/* thank you styles  */

.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 8px;
  background-color: var(--white-bkg) fff;
  padding: 8px;
  margin: 0 auto;
}

.thankyou-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.thankyou-body {
  display: flex;
  flex-direction: row;
}

.thankyou-footer {
  display: flex;
  flex-direction: column;
}
.italic {
  font-style: italic;
}

.footer-container {
  padding: 10px;
  padding-bottom: 0;
  background-color: $color_white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .footer-social-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    a {
      width: 40px;
      height: 40px;
      &.logo {
        background: url(/assets/images/jp-LOGO-mini.svg) no-repeat center;
        background-size: contain;
      }
    }
  }
  .copy-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    color: #0a0a0a;
    padding: 10px;
    padding-bottom: 0;
    width: 100vw;
    p {
      margin: 0;
    }
  }
}

@media only screen and (min-width: 516px) {
  .contact-card-container {
    width: 94%;
  }
}

@media only screen and (min-width: 576px) {
  .wrapper {
    padding: 1em;
  }

  /* thankyou styles  */
  .thank-you-container {
    width: 80%;
  }

  footer .footer-container .footer-details {
    padding: 2em;
  }
}

/* Start of Responsive Navigation Shift  */
@media screen and (min-width: 768px) {
  .button-container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
  }

  .p-0 .hero {
    &.index-banner {
      background: url(/assets/images/hero-images/index/index-hero-banner_md.svg) no-repeat top right;
      .hero-content {
        width: 100vw;
        h1 {
          font-size: 4em;
          font-weight: bold;
          color: #4e4e4e;
        }
      }
    }
  }

  .editorial {
    &.dynamic-row {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1em;
      .profile-image {
        flex: 90%;
      }
    }
  }

  .career-history-banner {
    background: url(/assets/images/hero-images/index/career-path_lg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 150px;
    width: 100%;
  }
  .flex-container {
    .wide-card {
      display: flex;
      .card-header {
        display: flex;
        .inline-decorated-list {
          display: flex;
          width: -webkit-fill-available;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 4em;
        }
      }
      .card-body {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
        .card-editorial {
          width: 60%;
        }
        .image-container {
          width: 40%;
        }
      }
      .button-row {
        display: flex;
      }
    }
    .experience-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      .left {
        width: 70%;
      }
      .right {
        width: 20%;
        .button-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }
      }
    }
  }

  /* contact page styles  */
  .contact-page-container .contact-details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }

  .contact-card-container {
    width: 40%;
  }

  /* thankyou styles  */
  .thank-you-container {
    width: 60%;
    padding: 2em;
    margin-bottom: 2em;
  }

  .thankyou-footer {
    align-items: center;
  }
}

@media only screen and (min-width: 992px) {
  /* index-styles  */
  .p-0 .hero .hero-content {
    border: 1px solid gainsboro;
  }
  .wrapper {
    .hero-editorial {
      flex-direction: row;
    }
    .editorial-footer a {
      width: 50%;
      font-size: 16px;
    }
    .wide-card {
      .card-header {
        .inline-decorated-list {
          gap: 1.9em;
        }
      }
      .card-body {
        .card-editorial {
          width: 70%;
        }
        .button-row {
          a {
            font-weight: normal;
          }
        }
      }
    }
    .experience-wrapper .editorial-body {
      flex-direction: row;
      .experience-duration {
        flex: 0 0 19%;
      }
      .experience-details {
        flex: 0 0 81%;
      }
    }
  }
  /* about page styles */

  /* contact page styles  */

  /* thankyou styles  */
  .thank-you-container {
    width: 40%;
  }

  footer .footer-container .footer-details {
    padding: 2.2em;
  }

  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-name {
    letter-spacing: 5.2pt;
    font-size: 1.8rem;
  }

  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-title {
    font-size: 1.2rem;
    letter-spacing: 2pt;
  }
}

@media only screen and (min-width: 1200px) {
  section {
    width: 90%;
    margin: 0 auto;
  }

  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .navbar-container {
      width: 90%;
      margin: 0 auto;
      .menu-toggle {
        display: none;
      }
      .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 1em;
        a {
          color: #3f3f3f;
          font-size: 16px;
          margin: 0;
          padding: 1em 0 1em 1em;
          transition: border-bottom 0.3s ease;
          &:hover {
            border-bottom: 1px solid #4e4e4e;
          }
        }
      }
    }
  }
  .p-0 .hero {
    &.index-banner {
      background: url(/assets/images/hero-images/index/index-hero-banner_lg.svg) no-repeat;
    }
  }

  .page-boundary .centered-row {
    max-width: 80%;
    align-items: center;
  }

  /* index page styles  */

  .footer-container .footer-social-icon {
    width: 80%;
    margin: 0 auto;
  }
}
/*Large Desktop viewport styles */
@media only screen and (min-width: 1400px) {
  /* index styles  */

  .wrapper {
    margin-bottom: 2em;
    .editorial-footer {
      width: 30%;
    }
    .wide-card .card-body .image-container {
      width: 25%;
    }
  }

  /* about page  */

  .skills-section,
  .experience-container {
    width: 100%;
  }

  .experience-body {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1em;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .experience-duration {
    display: flex;
    justify-content: flex-start;
    width: 19%;
    margin-right: 8px;
  }

  .experience-body .experience-container {
    display: flex;
    justify-content: flex-end;
    width: auto;
  }

  .skills-section,
  .experience-container {
    // width: 100%;
    background-color: var(--white-bkg);
    padding: 1em;
    border-radius: var(--br-16);
    margin-bottom: 2em;
  }
  .experience-container {
    display: flex;
    flex-direction: column;
  }

  .experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .experience-body {
    display: flex;
    margin-bottom: 10px;

    .experience-duration {
      flex: 0 0 20%;
    }

    .experience-container {
      flex: 0 0 80%;
      padding-left: 20px;
    }
  }
}

@media only screen and (min-width: 1800px) {
  section {
    width: 85%;
  }
  #navbar .navbar-container {
    margin: 0 138px;
    width: 88%;
  }
  // index

  .wrapper .wide-card .card-body {
    .card-editorial {
      width: 80%;
    }
    .image-container {
      width: 15%;
    }
    .button-row {
      margin-top: 2em;
    }
  }
  // skills
  .experience-header .right .button-container a {
    width: 120px;
  }
  .footer-container .footer-social-icon {
    justify-content: space-evenly;
  }
}
