@font-face {
  font-family: Poppins;
  font-size: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
  color: #1a1a1a;
}

:root {
  /* colors  */
  --brand-color: #2c4465;
  --primary-text-color: #1a1a1a;
  --yellow_bkg: #fff2ce;
  --white-bkg: #fff;
  --blue-bkg: #f0f8ff;
  --form-p-text: #666;
  --illuminate-yellow: #fffaa3;
  --pale-green: #aafaaa;
  --pale-pink: #eda4fc;
  --pale-blue: rgb(155, 234, 245);
  --light-orange: #ffd992;
  /* box shadow styles  */
  --b-shadow: -2px 10px 21px -2px rgba(201, 201, 201, 0.75);
  --br-shadow: 8px 4px 23px 0px #0000001c;

  /* border-styles  */
  --border: 1px solid #afafaf;
  --br-sm: 8px;
  --br-md: 16px;
  --br-lg: 24px;

  /* input field border-radius  */
  --form-br-sm: 4px;
  --form-br-md: 8px;
  --form-br-lg: 16px;

  /* navigation defaults  */
  --navbar-height: 56px;
  --navbar-bg-color: #f6f2ee;

  /* responsive page margins  */
  --side-margins-576px: 0 16px;
  --side-margins-768px: 0 20px;
  --side-margins-992px: 0 24px;
  --side-margins-1200px: 0 28px;
  --side-margins-1400px: 0 32px;
  --side-margins-1900px: 0 38px;
  --side-margins-2560px: 0 48px;

  // themes
  --white-theme: #fff;

  // bkg-images
  --ux-ui: url(/assets/images/contact-page-bkg.webp);
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Poppins;
}

main {
  position: relative;
  top: 50px;
  background-color: var(--white-theme);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  color: var(--brand-color);
  text-align: left;
  letter-spacing: 3pt;
  margin-top: 0;
  text-transform: capitalize;
}


h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 24pt;
  color: var(--brand-color);
  text-align: left;
  letter-spacing: 3pt;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 22pt;
  color: var(--brand-color);
  text-align: left;
  letter-spacing: 3pt;
  text-transform: capitalize;
}

p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}

label {
  font-family: "Poppins";
  color: var(--brand-color);
  font-size: 14px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
  font-size: 16px;
  height: 42px;
  padding-left: 10px;
  color: var(--form-p-text);
  border: 1px solid #d6d6d6;
  border-radius: var(--form-br-sm);
  background-color: var(--white-bkg);
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

textarea {
  font-family: inherit;
  font-size: 16px;
  height: 100px;
  width: auto;
  padding-top: 16px;
  padding-left: 10px;
  color: var(--form-p-text);
  border: 1px solid #d6d6d6;
  border-radius: var(--form-br-sm);
  background: var(--white-bkg);
  resize: none;
  outline: none;
}

section {
  padding-top: 1em;
  margin-bottom: 1em;
}

ul {
  list-style: disc;
  margin-left: 16px;
  padding: 0;
}

ol {
  margin-left: 16px;
  padding: 0;
}

ul li,
ol li {
  font-family: "Poppins";
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

.bold-italic {
  font-weight: 700;
  font-style: italic;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.8rem;
  margin: 0.5rem;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 1 auto;
}

.th {
  display: none;
  font-weight: 700;
  background-color: #f2f2f2;
}

.th > .td {
  white-space: normal;
  justify-content: flex-start;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.content .td:nth-child(even) {
  background-color: var(--blue-bkg);
  width: 92%;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 6px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
  padding: 12px;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5px;
  width: 100%;
  margin: 2em 0;
  .border-centered {
    background-color: #dcdcdc;
    display: flex;
    width: 60%;
    height: 2px;
    border-radius: 50px;
  }
}
.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.tab.active {
  background-color: #b7d1c8;
}

.tab:hover {
  background-color: #93c0b0;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

[data-tab-target] {
  cursor: pointer;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  margin-top: 2em;
  background-color: #fff;
}
/* Top nav and menu  */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  box-shadow: var(--b-shadow);
  z-index: 1;
  width: 100%;
}

.navbar-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 53px;
  padding-left: 5px;
}

.home-link,
.navbar-links {
  font-family: var(--body-copy);
  color: var(--brand-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-logo {
  display: flex;
  font-family: var(--body-copy);
  color: var(--brand-color-focus);
  flex-direction: row;
  align-items: center;
}

.navbar-logo img {
  width: 40px;
  height: auto;
  background-color: var(--white-bkg);
  border-radius: 50%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.logo-name {
  font-size: 18px;
  line-height: 20px;
}

.logo-title {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.3pt;
}

.menu-toggle {
  border: none;
  cursor: pointer;
  display: flex;
  height: 50px;
  width: 50px;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
  display: none;
}

.nav-menu.show {
  position: fixed;
  top: 56px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow_bkg);
  left: 0;
  margin: 0;
  border-top: 1px solid #c9c9c9;
}

.nav-menu .navbar-link,
.nav-menu .navbar-link a {
  display: flex;
  font-family: "Poppins";
  color: #1a1a1a;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 51px;
  margin: 23px;
  font-size: 19px;
}

/* end of top bar  */
.primary-button,
.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 40px;
  padding: 8px 16px; /* Decrease padding for smaller screens */
  font-size: 14px; /* Decrease font size for smaller screens */
  color: var(--primary-text-color);
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
  transition: linear 0.1s ease-in-out;
  box-shadow: var(--br-shadow);
  margin-bottom: 1em;
}

.primary-button {
  background-color: #bbefc4;
}

.secondary-button {
  background-color: var(--white-bkg);
  color: var(--primary-text-color);
}

.tertiary-btn {
  font-weight: bold;
  border-bottom: 1px solid var(--brand-color);
  color: var(--brand-color);
}

.mouse-scroller {
  display: none;
}

/* index page styles  */

.hero-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  .hero-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
  }
  .hero-editorial {
    display: flex;
    flex-direction: column-reverse;
    .hero-text-content {
      order: 2;
    }
    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      order: 1;
      .profile-image {
        object-fit: cover;
        width: 200px;
        height: 200px;
        background-image: url(/assets/images/me-min.webp);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
      }
    }
  }
  .editorial-footer {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    .two-button-container {
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      order: 3;
    }
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: -webkit-fill-available;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
  border-radius: 16px;
}

.portfolio .portfolio-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  margin-top: 1em;
}

.centered-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}

.wide-card {
  .card-header {
    width: 100%;
    .inline-decorated-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  .card-body {
    display: grid;
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: auto; /* Automatically sized rows */
    .card-editorial {
      grid-row: 2;
      // width: 100%;
      a {
        font-weight: 700;
        text-decoration: underline;
        transition: all 0.3s ease-in-out;
        &:hover {
          font-weight: 500;
          text-decoration: none;
        }
      }
      .more-content {
        display: none;
      }
      .show-more {
        display: inline;
      }
    }

    .button-row {
      width: 70;
      justify-content: flex-end;
      a {
        font-weight: normal;
        text-decoration: none;
      }
    }
    .image-container {
      grid-row: 1;
      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }
    }
  }
}

/* about page  */

.p0 {
  padding: 0;
}

.centered-row {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--blue-bkg);
  border-radius: 8px;
  padding: 0 12px 12px 12px;
}

.skills-section {
  display: flex;
  flex-direction: column;
}

.skills-section ul li {
  padding-top: 10px;
}

.experience-container {
  display: flex;
  flex-direction: column;
}

.experience-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  align-items: flex-start;
  justify-content: center;
}

.experience-header .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.experience-header .right {
  display: flex;
  width: -webkit-fill-available;
}

.experience-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.experience-body {
  border-bottom: var(--border);
}

/* contact page styles  */
.contact-page-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#contact-form {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact-form-container {
    background-color: var(--white-bkg);
    border-radius: 8px;
    padding: 8px;

    .contact-form-editorial {
      display: flex;
      flex-direction: column;
      .editorial-header {
        padding-top: 8px;
        border-bottom: var(--border);
        .editorial-body {
          padding-top: 8px;
        }
      }
    }
  }
  /*contact form styles  */
  .contact-form-body {
    background-color: #fafafa;
    border-radius: var(--br-sm);
    padding: 8px;
    width: -webkit-fill-available;
    .row {
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin-bottom: 16px;
      .input-group {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 10px;
        .form__input,
        .textarea {
          &:focus,
          &:focus-visible {
            box-shadow: 0px 0px 5px 2px rgba(90, 134, 230, 0.5);
            -webkit-box-shadow: 0px 0px 5px 2px rgba(90, 134, 230, 0.5);
            -moz-box-shadow: 0px 0px 5px 2px rgba(90, 134, 230, 0.5);
          }
        }
      }
    }
    .form-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .primary-button {
        flex-direction: column;
        border: var(--border);
        border-radius: var(--br-lg);
        color: var(--primary-text-color);
        font-size: 16px;
        cursor: pointer;
        transition: linear 0.1s ease-in-out;
        box-shadow: var(--br-shadow);
        background-color: #bbefc4;
        font-family: "Poppins";
      }
    }
  }
}

.contact-card-container {
  background-color: var(--yellow_bkg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
  border: var(--border);
  flex-direction: column;
  .header {
    border-bottom: var(--border);
    width: 100%;
  }
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: center;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 1em;
      list-style: none;
      margin: 0;
      li {
        a {
          display: inline-flex;
          gap: 1rem;
          font-size: 16px;
          font-weight: 800;
          color: #1a1a1a;
          .link-text {
            border-bottom: 1px solid #1a1a1a;
            transition: all 0.5s ease-in-out;
            &:hover {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

.contact-card-container .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a1a1a;
  padding: 1em;
}

/* thank you styles  */

.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 8px;
  background-color: var(--white-bkg) fff;
  padding: 8px;
  margin: 0 auto;
}

.thankyou-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.thankyou-body {
  display: flex;
  flex-direction: row;
}

.thankyou-footer {
  display: flex;
  flex-direction: column;
}

.thankyou-footer span {
  font-style: italic;
  color: var(--brand-color);
}

.sm-cs-hero {
  display: flex;
}

.lg-cs-hero,
.bullet-list-row,
.bullet-list-row li .bullet-list-col,
.bullet-list-col li,
.table-lg {
  display: none;
}

footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container .footer-social-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

@media only screen and (min-width: 500px) {
  .contact-card-container .body ul {
    gap: 2em;
  }

  .contact-card-container .body ul li span {
    padding-right: 8px;
  }
}

@media only screen and (min-width: 576px) {
  body {
    margin: var(--side-margins-576px);
  }

  main {
    margin-bottom: 1em;
  }
  .home-link {
    padding-left: 2%;
  }

  .menu-toggle {
    width: 74px;
  }
.hero-header h1 {
  .highlight {
    font-weight: 800;
    padding: 10px;
    background-color: var(--illuminate-yellow);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: transparent;
      font-weight: normal;
      padding: 0;
    }
  }
  .outline {
    display: inline-block;
    border-radius: 0px;
    opacity: 1;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-shadow:
      1px 1px 1px #000,
      0 -1px 1px #000,
      1px 1px 1px #000,
      -1px 0 0 #000,
      1px 1px 0 #000,
      1px 0 0 #000,
      0 -1px 0 #000;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  
    &.green:hover {
      background-color: #cefe9d;
      color: #191b1e;
      text-shadow: none;
    }
  
    &.pink:hover {
      background-color: #ff90ed;
      color: #191b1e;
      text-shadow: none;
    }
  
    &.blue:hover {
      background-color: #9ee3fe;
      color: #191b1e;
      text-shadow: none;
    }
  
    &.orange:hover {
      background-color: #ffb366;
      color: #191b1e;
      text-shadow: none;
    }
  }
}
  .hero-container {
    padding: 0;
  }

  .portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    width: 100%;
  }

  .card-container .left-project-1,
  .card-container .left-project-2,
  .card-container .left-project-3,
  .card-container .left-project-4 {
    width: 100%;
    height: 100%;
    min-height: 250px;
    border-radius: 24px 24px 0 0;
    background-color: var(--white-bkg);
  }

  .portfolio .portfolio-container .right {
    height: 100%;
    min-height: 250px;
    padding: 8px;
    box-shadow: none;
    border-radius: 0 0 24px 24px;
  }

  .portfolio .portfolio-container .right .card-title h3 {
    font-size: 20px;
    margin: 1em 0;
  }

  .card-editorial {
    margin: 10px 0;
  }

  .card-editorial button {
    margin-bottom: 0;
  }

  /*contact page styles*/
  .contact-form-container,
  .contact-form-container .contact-form-body,
  .contact-card-container {
    padding: 16px;
  }

  /* thankyou styles  */
  .thank-you-container {
    width: 80%;
  }

  footer .footer-container .footer-details {
    padding: 2em;
  }
}

/* Start of Responsive Navigation Shift  */
@media screen and (min-width: 768px) {
  body {
    margin: var(--side-margins-768px);
  }

  .two-button-container {
    flex-direction: row;
    gap: 1em;
    .primary-button,
    .secondary-button {
      padding: 12px 24px; /* Increase padding for larger screens */
      font-size: 18px; /* Increase font size for larger screens */
    }
  }

  .button-container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
  }

  .portfolio {
    margin-bottom: 2em;
  }
  //index-hero
  .hero-container {
    display: flex;
    flex-direction: column;
    .hero-header {
      order: 0;
    }
    .hero-editorial {
      .hero-text-content {
        flex: 0 0 80%;
        box-sizing: border-box;
        order: 1;
      }
      .image-container {
        flex: 0 0 20%;
        order: 2;
      }
    }
    .editorial-footer {
      display: flex;
      flex-direction: column;
      flex: 0 0 100%;
      .two-button-container {
        order: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1em;
        a {
          width: 50%;
        }
      }
      .mouse-scroller {
        display: flex;
        justify-content: center;
        margin-top: 1em;
        .mouse {
          width: 10px;
          padding: 5px 6px;
          height: 35px;
          border: var(--border);
          border-radius: 25px;
          opacity: 0.75;
          box-sizing: content-box;
          margin-bottom: 20px;
          .mouse-animation {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: black;
            animation: scroll 3s linear infinite;
          }
        }
      }
      @keyframes scroll {
        from {
          opacity: 1;
          position: relative;
          top: 0;
        }

        to {
          opacity: 0.5;
          position: relative;
          top: 25px;
        }
      }
    }
  }
  // index cards
  .wide-card {
    .card-header {
      .inline-decorated-list {
        flex-direction: row;
        gap: 1.5rem;
      }
    }
    .card-body {
      display: flex;
      flex-direction: row;
      .card-editorial {
        display: flex;
        width: 60%;
      }
      .image-container {
        display: flex;
        width: 40%;
      }
    }
    .button-row {
      display: flex;
    }
  }
  /* Skills Section  */
  .centered-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: stretch;
  }

  /* Experience section  */
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .experience-header .right .button-container {
    justify-content: flex-end;
  }

  .experience-header .right .secondary-button {
    width: 120px;
    height: 24px;
  }

  /* contact page styles  */

  .contact-page-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .contact-card-container .body ul {
    flex-direction: column;
  }
  .contact-form-container .contact-form-body .form-footer .primary-button {
    width: 240px;
    margin: 1em;
  }

  /* thankyou styles  */
  .thank-you-container {
    width: 60%;
    padding: 2em;
    margin-bottom: 2em;
  }

  .thankyou-footer {
    align-items: center;
  }
}

@media only screen and (min-width: 992px) {
  .body {
    margin: 0;
    overflow: hidden;
  }

  .home-link {
    padding-left: 3%;
  }

  /* index-styles  */

  .two-button-container {
    width: 80%;
  }
  .hero-container .hero-editorial {
    flex-direction: row;
  }
  .hero-container .editorial-footer .two-button-container a {
    width: 30%;
  }

  .primary-button,
  .secondary-button {
    padding: 12px 24px;
    font-size: 18px;
  }
  .portfolio {
    padding: 0 0.7em;
  }

  /* about page styles */

  .about-primary-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em 16px;
    width: 20%;
  }

  .profile-section .primary-button {
    width: 40%;
    margin: 2em 0;
  }

  .skills-section {
    margin: 0 auto;
  }

  .centered-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .column {
    &:first-child {
      flex: 1 1 100%; // Allow the first item to wrap
      max-width: 33%; // Set a minimum width for the first item to prevent it from collapsing
    }
    &:not(:first-child) {
      flex: 0 0 33%; // Set a fixed width for the other items
    }
  }

  /* contact page styles  */

  .page-boundary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .page-boundary .centered-row {
    align-items: flex-start;
    gap: 0.5em;
    margin: 0 auto;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &.no-background {
      background-color: transparent;
    }
  }

  .contact-form-container {
    max-width: 900px;
  }

  .contact-form-container .contact-form-body .form-footer .submit-button {
    width: 50%;
  }

  .contact-card-container {
    max-width: 690px;
  }

  /* thankyou styles  */
  .thank-you-container {
    width: 40%;
  }

  footer .footer-container .footer-details {
    padding: 2.2em;
  }

  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-name {
    letter-spacing: 5.2pt;
    font-size: 1.8rem;
  }

  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-title {
    font-size: 1.2rem;
    letter-spacing: 2pt;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar-container {
    margin: 0 88px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 50px;
  }
  .material-symbols-outlined {
    font-size: 42px !important;
  }
  .menu-toggle {
    display: none;
  }

  .nav-menu {
    display: flex;
  }

  .nav-menu .navbar-link {
    color: #1a1a1a;
    font-size: 16px;
    margin: 0;
    padding: 10px 20px;
    width: unset;
  }

  .nav-menu .navbar-link a {
    transition: border-bottom 0.3s ease;
  }
  .nav-menu .navbar-link a:hover {
    border-bottom: 1px solid var(--brand-color);
  }

  /* home page styles  */

  .two-button-container .primary-button,
  .two-button-container .secondary-button {
    width: 20%;
  }

  .primary-button:hover {
    background: #b3e2bb;
    border-color: #4f9985;
    box-shadow: none;
  }

  .secondary-button:hover {
    background-color: #dfedff;
    color: #1a1a1a;
    border-color: #1a1a1a;
    box-shadow: none;
  }

  .page-boundary .centered-row {
    max-width: 80%;
    align-items: center;
  }

  /* index page styles  */
  .main-content {
    width: 80%;
    margin: 0 auto;
  }

  .hero-container {
    width: 80%;
    margin: 0 auto;
  }

  .image-container {
    width: auto;
  }

  .button-container {
    width: 50%;
  }

  .hero-container .hero-button-container .primary-button,
  .hero-container .hero-button-container .secondary-button {
    width: 20%;
    height: 20px;
  }

  .portfolio {
    width: 80%;
    margin: 0 auto;
  }

  .portfolio .portfolio-container {
    grid-gap: 3em;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .wide-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    .card-header {
      width: 100%;
      .inline-decorated-list {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
      }
    }
    .card-body {
      display: inherit;
      .card-editorial {
        width: 70%;
      }
      .button-row {
        width: 70;
        justify-content: flex-end;
      }
      .image-container {
        img {
          width: 100%;
          height: auto;
          border-radius: 8px;
          box-shadow: 8px 4px 23px 0px #0000001c;
        }
      }
    }
  }
  /* about page */

  .skills-section,
  .experience-container {
    width: 80%;
    margin: 0 auto;
  }

  .experience-header .right {
    display: flex;
    justify-content: flex-end;
  }

  .experience-body {
    display: flex;
  }

  /* contact page styles  */

  .contact-page-content {
    max-width: 900px;
    margin: 0 auto;
  }

  .contact-form-container {
    max-width: 900px;
  }

  .contact-card-container {
    max-width: 690px;
  }
}

/*Large Desktop viewport styles */
@media only screen and (min-width: 1400px) {
  .navbar-container {
    margin: 0 110px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    height: 53px;
  }

  body {
    margin: 0;
  }

  section {
    width: 80%;
    margin: 0 auto;
  }

  .hero-container {
    width: 100%;
  }

  /* index styles  */

  .two-button-container .primary-button,
  .two-button-container .secondary-button {
    width: 15%;
  }

  .portfolio {
    width: 100%;
    margin-bottom: 2em;
  }

  .wide-card .card-body .image-container img {
    width: 74%;
  }

  .flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 2em 0;
  }
  /* about page  */

  .skills-section,
  .experience-container {
    width: 100%;
  }

  .experience-body {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1em;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .experience-duration {
    display: flex;
    justify-content: flex-start;
    width: 19%;
    margin-right: 8px;
  }

  .experience-body .experience-container {
    display: flex;
    justify-content: flex-end;
    width: auto;
  }

  .main-content {
    width: 100%;
    margin: 0 auto;
  }

  .skills-section,
  .experience-container {
    width: 100%;
  }
}

@media only screen and (min-width: 1800px) {
  .navbar-container {
    margin: 0 170px;
  }

  .contact-page-content {
    max-width: 1100px;
  }
}
