@font-face {
  font-family: Poppins;
  font-size: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
  color: #1a1a1a;
}

:root {
  // themes
  --yellow_bkg: #fff2ce;
  --white-bkg: #fff;
  --blue-bkg: #f0f8ff;
  --form-p-text: #666;
  --illuminate-yellow: #fffaa3;
  --pale-green: #aafaaa;
  --pale-pink: #eda4fc;
  --pale-blue: rgb(155, 234, 245);
  --light-orange: #ffd992;
  /* box shadow styles  */
  --b-shadow: -2px 10px 21px -2px rgba(201, 201, 201, 0.75);
  --br-shadow: 6px 6px 14px -3px rgba(181, 181, 181, 0.74);

  /* border-styles  */
  --border: 1px solid #afafaf;
  --br-8: 8px;
  --br-16: 16px;
  --br-24: 24px;
  --br-50: 50px;
  /* input field border-radius  */
  --form-br-4: 4px;
  --form-br-8: 8px;
  --form-br-16: 16px;

  /* navigation defaults  */
  --navbar-height: 56px;
  --navbar-position: fixed;

  // Typography
  --body-copy: "Poppins";
  --brand-color: #2c4465;
  --primary-text-color: #1a1a1a;
  --h1-mobile: 30px;
  --h1-desktop: 48px;
  --h2-mobile: 27px;
  --h2--desktop: 30px;

  // bkg-images
  --ux-ui: url(/assets/images/contact-page-bkg.webp);
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f43d;
  color: var(--primary-text-color);
  font-family: var(--body-copy);
}

main {
  position: relative;
  padding: 0;
  top: 50px;
  margin-top: 1em;
}

footer {
  background-color: var(--white-bkg);
  padding: 10px;
}

h1 {
  font-size: var(--h1-mobile);
  font-weight: 500;
  line-height: 36px;
  color: var(--brand-color);
  text-align: left;
  letter-spacing: 3pt;
  margin-top: 0;
  text-transform: capitalize;
}

h2 {
  font-size: var(--h2-mobile);
  font-weight: 500;
  line-height: 30pt;
  color: var(--brand-color);
  text-align: left;
  letter-spacing: 3pt;
  text-transform: capitalize;
  text-decoration: none;
  text-underline-offset: 10px;
}

h3 {
  font-size: 26px;
  font-weight: 500;
  line-height: 22pt;
  color: var(--brand-color);
  text-transform: capitalize;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 22pt;
  color: var(--brand-color);
  text-transform: capitalize;
}

p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-text-color);
  .bold-italic {
    font-weight: 700;
    font-style: italic;
  }
}

a {
  text-decoration: none;
}

section {
  padding-top: 1em;
  margin-bottom: 1em;
}

ul {
  list-style: disc;
  margin-left: 16px;
  padding: 0;
}

ol {
  margin-left: 16px;
  padding: 0;
}

ul li,
ol li {
  font-family: "Poppins";
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

// generic layout styles

.centered-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.8rem;
  margin: 0.5rem;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 1 auto;
}

.th {
  display: none;
  font-weight: 700;
  background-color: #f2f2f2;
}

.th > .td {
  white-space: normal;
  justify-content: flex-start;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.content .td:nth-child(even) {
  background-color: var(--blue-bkg);
  width: 92%;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 6px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
  padding: 12px;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5px;
  width: 100%;
  margin: 2em 0;
  .border-centered {
    background-color: #dcdcdc;
    display: flex;
    width: 60%;
    height: 2px;
    border-radius: 50px;
  }
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.tab.active {
  background-color: #b7d1c8;
}

.tab:hover {
  background-color: #93c0b0;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

[data-tab-target] {
  cursor: pointer;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

/* Top nav and menu  */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--white-bkg);
  transition: background-color 0.3s ease;
  z-index: 100;
  &.scrolled {
    background-color: var(--white-bkg);
    box-shadow: var(--b-shadow);
  }
  .navbar-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 53px;
    .home-link {
      padding-left: 1em;
      .navbar-logo {
        display: flex;
        font-family: var(--body-copy);
        color: var(--brand-color-focus);
        flex-direction: row;
        align-items: center;
        img {
          width: 40px;
          height: auto;
          background-color: var(--white-bkg);
          border-radius: 50%;
        }
        .logo-container {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          .logo-name {
            font-size: 18px;
            line-height: 20px;
            .logo-title {
              font-size: 16px;
              line-height: 16px;
              letter-spacing: 0.3pt;
            }
          }
        }
      }
    }
    .menu-toggle {
      display: flex;
      align-items: center;
      padding: 10px;
      background: none;
      border: none;
      cursor: pointer;
    }
    .nav-menu {
      list-style-type: none;
      padding: 0;
      display: none;
      &.show {
        position: fixed;
        top: 53px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        width: 100vw;
        height: 100vh;
        background-color: var(--yellow_bkg);
        margin: 0;
        .navbar-link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding-top: 1em;
          padding-bottom: 1em;
          font-size: 20px;
          a {
            font-family: inherit;
            color: var(--primary-text-color);
          }
        }
      }
    }
  }
}

/* end of top bar  */
.primary-button,
.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 14px;
  color: var(--primary-text-color);
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
  transition: linear 0.1s ease-in-out;
  box-shadow: var(--br-shadow);
  margin-bottom: 1em;
}

.primary-button {
  background-color: #bbefc4;
}

.secondary-button {
  background-color: var(--white-bkg);
  color: var(--primary-text-color);
}

.tertiary-btn {
  font-weight: bold;
  border-bottom: 1px solid var(--brand-color);
  color: var(--brand-color);
}

.mouse-scroller {
  display: none;
}

/* index page styles  */

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--white-bkg);
  padding: 10px;
  border-radius: var(--br-8);
  .hero-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .highlight {
      color: var(--primary-text-color);
      font-weight: 800;
      padding: 8px;
      background-color: var(--illuminate-yellow);
      transition: all 0.5s ease-in-out;
      cursor: pointer;
    }
    .outline {
      color: var(--primary-text-color);
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      &.green {
        background-color: #cefe9d;
      }
      &.pink {
        background-color: #ff90ed;
      }
      &.blue {
        background-color: #9ee3fe;
      }
      &.orange {
        background-color: #ffb366;
      }
    }
    @keyframes jitter {
      0% {
        transform: rotate(-0.5deg);
      }
      50% {
        transform: rotate(0.7deg);
      }
      100% {
        transform: rotate(-0.5deg);
      }
    }
    .jitter {
      animation: jitter 0.5s ease-in-out infinite;
      display: inline-block; /* Ensures the element stays inline */
    }
  }
  .hero-editorial {
    display: flex;
    flex-direction: column-reverse;
    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      .profile-image {
        width: 200px;
        height: 200px;
        background-image: url(/assets/images/me-min.webp);
        background-size: cover;
        border-radius: 50%;
      }
    }
  }
  .editorial-footer {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    gap: 1em;
  }
  // portfolio
  .wide-card {
    display: inherit;
    flex-direction: column;
    .card-header {
      display: inherit;
      flex-direction: column;
      width: 100%;
      .inline-decorated-list {
        list-style: none;
        margin: 0;
        padding-bottom: 1em;
        li {
          font-size: 18px;
          letter-spacing: 2px;
        }
      }
    }
    .card-body {
      display: flex;
      flex-direction: column-reverse;
      .image-container {
        display: inherit;
        img {
          width: 100%;
          height: auto;
          border-radius: var(--br-8);
        }
      }
      .card-editorial {
        display: inherit;
        flex-direction: column;
        a {
          font-weight: 700;
          text-decoration: underline;
          transition: all 0.3s ease-in-out;
          &:hover {
            font-weight: 500;
            text-decoration: none;
          }
        }
        .more-content {
          display: none;
        }
        .show-more {
          display: inline;
        }
      }

      .button-row {
        width: 100%;
        a {
          text-decoration: none;
        }
      }
    }
  }
  // skills
  .highlighted-section {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--blue-bkg);
    border-radius: 8px;
    padding: 0 12px 12px 12px;
    .column {
      display: inherit;
    }
  }
  .experience-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
      .button-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: -webkit-fill-available;
      }
    }
  }
  .experience-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .experience-body {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid gainsboro;
      margin-bottom: 1em;
      .experience-duration {
        flex: 0 0 100%;
      }
      .experience-details {
        flex: 0 0 100%;
        padding-left: 0;
      }
    }
  }
}

/* contact page styles  */
#contact-form {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .contact-details-container {
    background-color: var(--white-bkg);
    border-radius: 8px;
    .header {
      display: flex;
      flex-direction: column;
    }
  }
}
/*contact form styles  */
.contact-form-body {
  background-color: #bce1ff;
  border-radius: var(--br-sm);
  padding: 8px;
  display: flex;
  flex-direction: column;
  .input-group {
    display: flex;
    flex-direction: inherit;
  }
}
// .input  {
//   outline: none;
//   border: 1.5px solid #aaa;
//   border-radius: 8px;
//   padding: 8px 16px;
//   transition: border .2s, box-shadow .2s;
//   font-size: 16px;
//   color: var(--primary-text-color);
//   resize: vertical;
// }

// .input :focus {
//   border-color: #512da8;
//   box-shadow: 0px 0px 0px 1px rgba(81, 45, 168, 1);
// }

// .input :focus ~ label {
//   color: #512da8;
//   margin-top: -5px;
//   margin-left: 10px;
// }

// .input-active  {
//   font-size: 16px !important;
//   border-color: #512da8;
// }

// .input-border  {
//   border: 1.5px solid #aaa;
//   border-radius: 8px;
//   padding: 8px 16px;
//   resize: vertical;
// }

// .input-border :focus {
//   box-shadow: 0px 0px 0px 1px rgba(81, 45, 168, 1);
// }

.input {
  margin-bottom: 10px;
}
.input label,
.input label {
  position: absolute;
  color: #aaa;
  font-size: 15px;
  margin-top: 15px;
  padding-left: 15px;
  transition:
    margin-top 0.3s,
    font-size 0.3s,
    margin-left 0.3s,
    padding 0.3s,
    color 0.2s;
}

.input input:focus,
.input :focus {
  border-color: #512da8;
  box-shadow: 0px -1px 0px 0px #512da8 inset;
}
.input input:focus ~ label,
.input :focus ~ label {
  color: #512da8;
}
.input-active label,
.input-active label {
  font-size: 13px !important;
  margin-top: -5px;
  margin-left: -1px;
  color: #512da8;
}
// .input-border input,
//   .input-border {
//   border: 1.5px solid #aaa;
//   padding-left: 10px;
//   border-radius: 3px;
// }
.input-border input:focus,
.input-border :focus {
  box-shadow: 0px 0px 0px 1px rgba(81, 45, 168, 1);
}
// .input-border label,
// .input-border {
//   background: white;
//   margin-left: 10px;
// }
.input-border.input-active label,
.input-border.-active label {
  margin-top: -15px;
  padding: 0 3px;
  margin-left: 6px;
  color: #512da8;
}
.input-filled-in-not-focus label,
.input-filled-in-not-focus {
  color: #aaa !important;
}

.form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .primary-button {
    flex-direction: column;
    border: var(--border);
    border-radius: var(--br-50);
    color: var(--primary-text-color);
    font-size: 16px;
    cursor: pointer;
    transition: linear 0.1s ease-in-out;
    box-shadow: var(--br-shadow);
    background-color: #bbefc4;
    font-family: "Poppins";
  }
}

.contact-card-container {
  background-color: var(--yellow_bkg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
  border: var(--border);
  flex-direction: column;
  .header {
    border-bottom: var(--border);
    width: 100%;
  }
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: center;
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      gap: 1em;
      list-style: none;
      margin: 0;
      li {
        a {
          display: inline-flex;
          gap: 1rem;
          font-size: 16px;
          font-weight: 800;
          color: #1a1a1a;
       
          .link-text {
            text-decoration: underline;
            text-decoration-color: var(--primary-text-color);
            text-decoration-thickness: 0.125em;
            text-underline-offset: 2px;
            cursor: pointer;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.contact-card-container .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a1a1a;
  padding: 1em;
}

/* thank you styles  */

.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 8px;
  background-color: var(--white-bkg) fff;
  padding: 8px;
  margin: 0 auto;
}

.thankyou-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.thankyou-body {
  display: flex;
  flex-direction: row;
}

.thankyou-footer {
  display: flex;
  flex-direction: column;
}

.thankyou-footer span {
  font-style: italic;
  color: var(--brand-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footer-social-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .copy-panel {
    display: inherit;
    p {
      font-size: 14px;
      line-height: 0;
    }
  }
}

@media only screen and (min-width: 500px) {
  .contact-card-container .body ul {
    gap: 2em;
  }

  .contact-card-container .body ul li span {
    padding-right: 8px;
  }
}

@media only screen and (min-width: 576px) {
  .wrapper {
    padding: 1em;
  }

  /*contact page styles*/
  // .contact-details-container,
  // .contact-details-container .contact-form-body,
  // .contact-card-container {
  //   padding: 16px;
  // }

  /* thankyou styles  */
  .thank-you-container {
    width: 80%;
  }

  footer .footer-container .footer-details {
    padding: 2em;
  }
}

/* Start of Responsive Navigation Shift  */
@media screen and (min-width: 768px) {
  .button-container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
  }

  //index-hero
  .wrapper {
    .editorial-footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 1em;
      width: 50%;
      a {
        font-size: 16px;
        width: 100%;
      }
      .mouse-scroller {
        display: flex;
        justify-content: center;
        margin-top: 1em;
        .mouse {
          width: 10px;
          padding: 5px 6px;
          height: 35px;
          border: var(--border);
          border-radius: 25px;
          opacity: 0.75;
          box-sizing: content-box;
          margin-bottom: 20px;
          .mouse-animation {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: black;
            animation: scroll 3s linear infinite;
          }
        }
      }
      @keyframes scroll {
        from {
          opacity: 1;
          position: relative;
          top: 0;
        }

        to {
          opacity: 0.5;
          position: relative;
          top: 25px;
        }
      }
    }
    .wide-card {
      display: flex;
      .card-header {
        display: flex;
        .inline-decorated-list {
          display: flex;
          width: -webkit-fill-available;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 4em;
        }
      }
      .card-body {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
        .card-editorial {
          width: 60%;
        }
        .image-container {
          width: 40%;
        }
      }
      .button-row {
        display: flex;
      }
    }
    .experience-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      .left {
        width: 70%;
      }
      .right {
        width: 20%;
        .button-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }
      }
    }
  }

  /* contact page styles  */

  .contact-page-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .contact-card-container .body ul {
    flex-direction: column;
  }
  .contact-details-container .contact-form-body .form-footer .primary-button {
    width: 240px;
    margin: 1em;
  }

  /* thankyou styles  */
  .thank-you-container {
    width: 60%;
    padding: 2em;
    margin-bottom: 2em;
  }

  .thankyou-footer {
    align-items: center;
  }
}

@media only screen and (min-width: 992px) {
  /* index-styles  */

  .wrapper {
    .hero-editorial {
      flex-direction: row;
    }
    .editorial-footer a {
      width: 50%;
      font-size: 16px;
    }
    .wide-card {
      .card-header {
        .inline-decorated-list {
          gap: 1.9em;
        }
      }
      .card-body {
        .card-editorial {
          width: 70%;
        }
        .button-row {
          a {
            font-weight: normal;
          }
        }
      }
    }
    .experience-wrapper .editorial-body {
      flex-direction: row;
      .experience-duration {
        flex: 0 0 19%;
      }
      .experience-details {
        flex: 0 0 81%;
      }
    }
  }
  /* about page styles */

  /* contact page styles  */

  .page-boundary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .page-boundary .centered-row {
    align-items: flex-start;
    gap: 0.5em;
    margin: 0 auto;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &.no-background {
      background-color: transparent;
    }
  }

  .contact-details-container .contact-form-body .form-footer .submit-button {
    width: 50%;
  }

  /* thankyou styles  */
  .thank-you-container {
    width: 40%;
  }

  footer .footer-container .footer-details {
    padding: 2.2em;
  }

  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-name {
    letter-spacing: 5.2pt;
    font-size: 1.8rem;
  }

  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-title {
    font-size: 1.2rem;
    letter-spacing: 2pt;
  }
}

@media only screen and (min-width: 1200px) {
  #navbar {
    .navbar-container {
      margin: 0 40px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 93%;
      height: 50px;
      .menu-toggle {
        display: none;
      }
      .nav-menu {
        display: flex;
        a {
          color: #1a1a1a;
          font-size: 16px;
          margin: 0;
          padding: 10px 20px;
          width: unset;
          transition: border-bottom 0.3s ease;
          &:hover {
            border-bottom: 1px solid var(--brand-color);
          }
        }
      }
    }
  }

  .primary-button:hover {
    background: #b3e2bb;
    border-color: #4f9985;
    box-shadow: none;
  }

  .secondary-button:hover {
    background-color: #dfedff;
    color: #1a1a1a;
    border-color: #1a1a1a;
    box-shadow: none;
  }

  .page-boundary .centered-row {
    max-width: 80%;
    align-items: center;
  }

  /* index page styles  */

  .wrapper {
    width: 90%;
    margin: 0 auto;
    border-radius: var(--br-16);
    .hero-header {
      .highlight {
        &:hover {
          background-color: transparent;
          font-weight: normal;
          padding: 0;
        }
      }
      .outline {
        display: inline-block;
        border-radius: 0px;
        opacity: 1;
        color: #191b1e;
        font-weight: 600;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        &.green:hover,
        &.pink:hover,
        &.blue:hover,
        &.orange:hover {
          background-color: transparent;
          text-shadow:
            0px 0px 0px #000,
            0 0px 0px #000,
            0 0 0 #000,
            0 0 0 #000,
            0 0 0 #000,
            0px 0 0 #000,
            0 0px 0 #000;
        }
      }
    }
    .editorial-footer {
      width: 45%;
    }
    .wide-card {
      .card-header .inline-decorated-list {
        gap: 1.9rem;
      }
      .card-body .image-container {
        width: 27%;
      }
    }
    .highlighted-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4em;
      .column {
        display: flex;
        flex-direction: column;
        max-width: 30%;
      }
    }
  }

  /* contact page styles  */

  .contact-page-content {
    max-width: 900px;
    margin: 0 auto;
  }

  .footer-container .footer-social-icon {
    width: 80%;
    margin: 0 auto;
  }
}
/*Large Desktop viewport styles */
@media only screen and (min-width: 1400px) {
  section {
    width: 86%;
    margin: 0 auto;
  }

  #navbar .navbar-container {
    margin: 0 110px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 53px;
    .home-link {
      padding-left: 0;
    }
    .nav-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: 1em;
      padding-right: 1.5em;
    }
  }

  /* index styles  */

  .wrapper {
    width: 100%;
    margin-bottom: 2em;
    .editorial-footer {
      width: 30%;
    }
    .wide-card .card-body .image-container {
      width: 25%;
    }
  }

  /* about page  */

  .skills-section,
  .experience-container {
    width: 100%;
  }

  .experience-body {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1em;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .experience-duration {
    display: flex;
    justify-content: flex-start;
    width: 19%;
    margin-right: 8px;
  }

  .experience-body .experience-container {
    display: flex;
    justify-content: flex-end;
    width: auto;
  }

  .skills-section,
  .experience-container {
    // width: 100%;
    background-color: var(--white-bkg);
    padding: 1em;
    border-radius: var(--br-16);
    margin-bottom: 2em;
  }
  .experience-container {
    display: flex;
    flex-direction: column;
  }

  .experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .experience-body {
    display: flex;
    margin-bottom: 10px;

    .experience-duration {
      flex: 0 0 20%;
    }

    .experience-container {
      flex: 0 0 80%;
      padding-left: 20px;
    }
  }
}

@media only screen and (min-width: 1800px) {
  #navbar .navbar-container {
    margin: 0 138px;
    width: 88%;
  }
  // index

  .wrapper .wide-card .card-body {
    .card-editorial {
      width: 80%;
    }
    .image-container {
      width: 15%;
    }
    .button-row {
      margin-top: 2em;
    }
  }
  // skills
  .experience-header .right .button-container a {
    width: 120px;
  }
  .footer-container .footer-social-icon {
    justify-content: space-evenly;
  }

  //contact form
  .contact-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contact-details-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      .contact-form-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
      }
      .contact-form-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 0 2em;
        background-color: #f0f6ff; /* Pale blue background for the container */
        padding: 20px;
        .input-group {
          background-color: #ffffff; /* White background for the form */
          padding: 20px;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .input {
          position: relative;
          margin-bottom: 20px;
          cursor: pointer;
          outline: none;
          border: 0;
          padding: 15px 0 0 25px;
          transition:
            border 0.2s,
            box-shadow 0.2s;
          font-size: 16px;
          transition:
            border 0.2s,
            box-shadow 0.2s;
          label {
            position: absolute;
            top: 20px; /* Adjusted top value to ensure proper alignment */
            left: 15px; /* Adjusted left value to align with the input field */
            color: #aaa;
            font-size: 16px;
            transition: all 0.3s ease;
          }
          textarea {
            height: 150px;
          }
          input,
          textarea {
            box-sizing: border-box;
            width: calc(100% - 30px); /* Adjusted width to account for padding and border */
            padding: 30px 0 30px 5px;
            border: none;
            border-bottom: 1.5px solid #aaa;
            font-size: 16px;
            transition: all 0.3s ease;
            outline: none;
            &:focus {
              border-bottom: 1.5px solid #3366cc;
              & + label {
                color: #512da8;
                font-size: 13px;
                top: -10px; /* Adjusted top value for label when active */
              }
            }

            &.input-filled,
            &:not(:placeholder-shown) {
              & + label {
                top: -10px;
                font-size: 13px;
                color: #512da8;
              }
            }
          }
        }
      }
      .contact-card-container {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
