@font-face {
  font-family: Poppins;
  font-size: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
  color: #1a1a1a;
}

:root {
  /* colors  */
  --brand-color: #2c4465;
  --primary-text-color: #1a1a1a;
  --yellow_bkg: #fff2ce;
  --white-bkg: #fff;
  --blue-bkg: #f0f8ff;
  --form-p-text: #666;


  /* box shadow styles  */
  --b-shadow: -2px 10px 21px -2px rgba(201, 201, 201, 0.75);
  --br-shadow: 8px 8px 22px 8px #b3b3b37a;

  /* border-styles  */
  --border: 1px solid #afafaf;
  --br-sm: 8px;
  --br-md: 16px;
  --br-lg: 24px;

  /* input field border-radius  */
  --form-br-sm: 4px;
  --form-br-md: 8px;
  --form-br-lg: 16px;

  /* navigation defaults  */
  --navbar-height: 56px;
  --navbar-bg-color: #f6f2ee;

  /* --navbar-bg-contrast: hsl(0, 0%, 25%); */

  /* responsive page margins  */
  /* --side-margins-330px: 0 2px; */
  --side-margins-576px: 0 16px;
  --side-margins-768px: 0 20px;
  --side-margins-992px: 0 24px;
  --side-margins-1200px: 0 28px;
  --side-margins-1400px: 0 32px;
  --side-margins-1900px: 0 38px;
  --side-margins-2560px: 0 48px;
}

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  background: var(--white-bkg);
}

main {
  position: relative;
  top: 73px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 24pt;
  color: var(--brand-color);
  text-align: left;
  letter-spacing: 3pt;
  margin-top: 0;
  text-transform: capitalize;
}

h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 24pt;
  color: var(--brand-color);
  text-align: left;
  letter-spacing: 3pt;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 22pt;
  color: var(--brand-color);
  text-align: left;
  letter-spacing: 3pt;
  text-transform: capitalize;
}

p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-text-color)
}

a {
  text-decoration: none;
}

label {
  font-family: 'Poppins';
  color: var(--brand-color);
  font-size: 14px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
  font-size: 16px;
  height: 42px;
  padding-left: 10px;
  color: var(--form-p-text);
  border: 1px solid #d6d6d6;
  border-radius: var(--form-br-sm);
  background-color: var(--white-bkg);
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

textarea {
  font-size: 16px;
  height: 100px;
  width: auto;
  padding-top: 16px;
  padding-left: 10px;
  color: var(--form-p-text);
  border: 1px solid #d6d6d6;
  border-radius: var(--form-br-sm);
  background: var(--white-bkg);
  resize: none;
  outline: none;
}

section {
  padding-top: 1em;
  margin-bottom: 1em;
}

ul {
  list-style: disc;
  margin-left: 16px;
  padding: 0;
}

ol {
  margin-left: 16px;
  padding: 0;
}

ul li,
ol li {
  font-family: "Poppins";
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: .8rem;
  margin: 0.5rem;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 1 auto;
}

.th {
  display: none;
  font-weight: 700;
  background-color: #f2f2f2;
}

.th>.td {
  white-space: normal;
  justify-content: flex-start;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.content .td:nth-child(even) {
  background-color: var(--blue-bkg);
  width: 92%;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 6px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
  padding: 12px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.tab.active {
  background-color: #b7d1c8;
}

.tab:hover {
  background-color: #93c0b0;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

[data-tab-target] {
  cursor: pointer;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Top nav and menu  */
#navbar {
  position: fixed;
  top: 0;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  box-shadow: var(--b-shadow);
  z-index: 1;
  width: -webkit-fill-available;
}

.navbar-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  min-width: 320px;
  height: 53px;
  padding-right: 8px;
}

.home-link {
  display: flex;
  flex-direction: row;
  padding-left: 8px;
}

.home-link,
.navbar-links {
  color: var(--brand-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-links {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
}

.navbar-links li a {
  width: 100%;
}

.navbar-logo {
  color: var(--brand-color-focus);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-logo img {
  width: 40px;
  background-color: var(--white-bkg);
  border-radius: 50%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.logo-name {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
}

.logo-title {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.3pt;
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 3px 0;
  font-family: "Poppins";
  background-color: var(--brand-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: #1a1a1a;
}

#navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
  font-family: "Poppins";
}

#navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  opacity: 0;
  visibility: hidden;
}

#navbar-toggle[aria-expanded='true']+#navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.navbar-links {
  list-style: none;
  position: relative;
  background-color: var(--yellow_bkg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  font-family: "Poppins";
}

.navbar-link {
  display: flex;
  font-family: "Poppins";
  color: #1a1a1a;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 42px;
  margin: 8px;
}

.navbar-link:hover {
  color: var(--brand-color);
  border-bottom: 1px solid #b7d1c8;
}
/* end of top bar  */

/* primary and secondary-button styles */
.primary-button,
.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 40px;
  padding: 12px 16px;
  width: -webkit-fill-available;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
  transition: linear 0.1s ease-in-out;
  box-shadow: var(--br-shadow);
  margin-bottom: 1em;
  margin-top: 1em;
}

.primary-button {
  background-color: #bbefc4;
}

.secondary-button {
  background-color: var(--white-bkg);
  color: var(--primary-text-color);
}

.tertiary-btn {
  font-weight: bold;
  border-bottom: 1px solid var(--brand-color);
  color: var(--brand-color);
}

.mouse-scroller {
  display: none;
}

/* index page styles  */

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.hero-editorial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
}

.profile-image {
  object-fit: cover;
  width: 200px;
  height: 200px;
  background-image: url(/assets/images/me-min.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.two-button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: -webkit-fill-available;
}

.button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: -webkit-fill-available;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 16px;
}

.portfolio .portfolio-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  margin-top: 1em;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}

.card-container a {
  border-radius: 24px;
  box-shadow: var(--br-shadow);
}

.left-project-1 {
  height: 100%;
  min-height: 250px;
  border-radius: 24px 24px 0 0;
  background-color: var(--white-bkg);
  background-image: url(/assets/images/guitarUX-min.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.left-project-2 {
  height: 100%;
  min-height: 250px;
  border-radius: 24px 24px 0 0;
  background-color: var(--white-bkg);
  background-image: url(/assets/images/remind-me-project.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.left-project-3 {
  height: 100%;
  min-height: 250px;
  border-radius: 24px 24px 0 0;
  background-color: var(--white-bkg);
  background-image: url(/assets/images/e-commerce-placeholder.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.left-project-4 {
  height: 100%;
  min-height: 250px;
  border-radius: 24px 24px 0 0;
  background-color: var(--white-bkg);
  background-image: url(/assets/images/come-together-logo_sm.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.card-container .right {
  background-color: var(--yellow_bkg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8px 0 8px;
  border-radius: 0 0 24px 24px;
  color: #1a1a1a;
}

.card-title {
  display: flex;
  flex-direction: column;
  border-bottom: var(--border);
}

.card-editorial {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-editorial button {
  font-size: 16px;
  font-family: "Poppins";
}

/* about page  */

.p0 {
  padding: 0;
}

.centered-row {
  background-color: var(--blue-bkg);
  border-radius: 8px;
  padding: 0 12px 12px 12px;
}

.skills-section {
  display: flex;
  flex-direction: column;
}

.skills-section ul li {
  padding-top: 10px;
}

.experience-container {
  display: flex;
  flex-direction: column;
}

.experience-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  align-items: flex-start;
  justify-content: center;
}

.experience-header .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.experience-header .right {
  display: flex;
  width: -webkit-fill-available;
}

.experience-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.experience-body {
  border-bottom: var(--border);
}

/* contact page styles  */
.contact-page-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: var(--white-bkg);
  box-shadow: var(--br-shadow);
  border-radius: 8px;
  border: var(--border);
  padding: 8px;
}

.contact-form-container .contact-form-editorial {
  display: flex;
  flex-direction: column;
}

.contact-form-container .contact-form-editorial .editorial-header {
  padding-top: 8px;
  margin-bottom: 8px;
  border-bottom: var(--border);
}

.contact-form-container .contact-form-editorial .editorial-body {
  padding-top: 8px;
  margin-bottom: 24px;
}

/*contact form styles  */

.contact-form-container .contact-form-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--blue-bkg);
  border-radius: var(--br-sm);
  padding: 8px;
  width: -webkit-fill-available;
}


/* input fields  */
.contact-form-container .contact-form-body .row {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 16px;
}

.contact-form-container .contact-form-body .row .input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.contact-form-container .contact-form-body .row .input-group .form__input:focus,
.contact-form-container .contact-form-body .row .input-group .form__input:focus-visible,
.contact-form-container .contact-form-body .row .input-group .text-field:focus,
.contact-form-container .contact-form-body .row .input-group .text-field:focus-visible {
  box-shadow: 0px 0px 5px 2px rgba(90, 134, 230, 0.5);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(90, 134, 230, 0.5);
  -moz-box-shadow: 0px 0px 5px 2px rgba(90, 134, 230, 0.5);
}

.contact-form-container .contact-form-body .form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form-container .contact-form-body .form-footer .primary-button {
  flex-direction: column;
  border: var(--border);
  border-radius: var(--br-lg);
  color: var(--primary-text-color);
  font-size: 16px;
  cursor: pointer;
  transition: linear 0.1s ease-in-out;
  box-shadow: var(--br-shadow);
  background-color: #bbefc4;
  font-family: 'Poppins';
}

/* end of form styles  */

.contact-card-container {
  background-color: var(--yellow_bkg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
  border: var(--border);
  flex-direction: column;
}

.contact-card-container .header {
  border-bottom: var(--border);
  width: 100%;
}

.contact-card-container .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  justify-content: center;
}

.contact-card-container .body .contact-subtitle {
  display: flex;
  color: #1a1a1a;
}

.contact-card-container .body ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  gap: 1em;
  width: 100%;
}

.contact-card-container .body ul li a {
  font-size: 16px;
  color: #1a1a1a;
  border-bottom: var(--border);
}

.contact-card-container .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a1a1a;
  padding: 1em;
}

/* thank you styles  */

.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 8px;
  background-color: var(--white-bkg)fff;
  padding: 8px;
  margin: 0 auto;
}

.thankyou-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.thankyou-body {
  display: flex;
  flex-direction: row;
}

.thankyou-footer {
  display: flex;
  flex-direction: column;
}

.thankyou-footer span {
  font-style: italic;
  color: var(--brand-color);
}

/* ########## case study styles ################ */

/* in page-nav prototype  */
.sidebar {
  position: fixed;
  top: 52px;
  height: 100vh;
  width: 40px;
  color: #12171e;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  overflow: hidden;
  z-index: 1;
}

.rotating-menu-icon {
  border: .5px solid grey;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  animation: pulse 5s infinite;
}

@keyframes pulse {

  0%,
  100% {
    fill: #89cff0;
    background-color: #a3a3a3;
  }

  50% {
    fill: #ffffff;
    background-color: #89cff0;
  }
}

.sidebar.active~.main-content {
  left: 150px;
}

.sidebar.active {
  top: 56px;
  padding: 20px;
  width: 150px;
  background-color: #f0f0f0;
  box-shadow: var(--br-shadow);
  z-index: 0;
}

.sidebar #sidebar-menu-btn {
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  color: #12171e;
  background-color: #fff;
  border: 1px solid #12171e;
  border-radius: 100%;
  padding: 5px;
  top: 1rem;
  left: 20%;
  transition: all .5s ease-in-out;
  cursor: pointer;
  box-shadow: 6px 6px 6px -8px rgba(143, 143, 143, 0.94);
}

.sidebar.active #sidebar-menu-btn {
  left: 86%;
  rotate: 180deg;
  animation: none;
}

.sidebar .top {
  display: flex;
  width: 100%;
}

.sidebar .top .logo {
  color: #12171e;
  display: flex;
  height: 20px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

.sidebar.active .top .logo {
  opacity: 1;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  gap: .5em;
  flex-wrap: wrap;
  display: none;
}

.sidebar ul li {
  list-style-type: none;
  height: 24px;
  width: 100%;
  margin: .5rem auto;
  line-height: 16px;
}

.sidebar ul li a {
  color: #12171e;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: .8rem;
}

.sidebar ul li a:hover {
  background-color: #b7d1c8;
}

.sidebar ul li a ion-icon {
  min-width: 50px;
  text-align: center;
  max-height: 50px;
  border-radius: 25px;
  line-height: 50px;
  font-size: 1.2rem;
  color: #12171e;
  transition: translateX(-50%);
  cursor: pointer;
  padding: 5px 0;
}

.sidebar ul li a ion-icon:hover {
  background-color: #b7d1c8;
}

.sidebar ul li a:hover {
  color: var(--brand-color);
}

.sidebar .nav-item {
  opacity: 0;
}

.sidebar.active ul {
  display: flex;
}

.sidebar.active .nav-item {
  opacity: 1;
  margin-left: .5em;
}


.sm-cs-hero {
  display: flex;
}

.lg-cs-hero , .bullet-list-row, .bullet-list-row li
.bullet-list-col, .bullet-list-col li, .table-lg {
  display: none;
}

.table-sm {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.table-sm .collapsible {
  background-color: #b7d1c8;
  color: black;
  cursor: pointer;
  padding: 18px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid black;
  outline: none;
  font-family: "Poppins";
  font-size: 18px;
}

.table-sm .collapsible .active {
  background-color: #b1e0d0;
}

.content .td {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 92%;
  font-size: 16px;
}

.content .td:nth-child(even) {
  background-color: var(--blue-bkg);
  width: 92%;
}

.align-top .gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.gallery img {
  transition: transform ease-in-out 0.3s;
  width: 500px;
  height: 630px;
  border-radius: 6px;
  box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.4);
}

.gallery .wide2 {
  width: 80vw;
  height: 40vh;
  padding: 1em;
}

.gallery .md {
  width: 300px;
  height: 400px;
}

.gallery .md2 {
  width: 200px;
  height: 400px;
}

.gallery .sm,
.gallery .xsm {
  width: 60px;
  height: 240px;
}


.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.02);
}

.tab-content #small .gallery,
.tab-content #medium .gallery,
.tab-content #large .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5em;
}

figcaption {
  font-family: inherit;
  color: var(--primary-text-color);
  font-size: 14px;
  text-transform: capitalize;
}

.mobile-playback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.i-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
  border-radius: 40px;
  height: 500px;
  width: 230px;
  box-shadow: 0 20px 15px #33333335;
}

.interactive-mob {
  border-radius: 30px;
}

footer {
  margin-top: 2em;
}

footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container .footer-social-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

@media only screen and (min-width: 500px) {
  .contact-card-container .body ul {
    gap: 2em;
  }

  .contact-card-container .body ul li span {
    padding-right: 8px;
  }
}

@media only screen and (min-width: 576px) {
  body {
    margin: var(--side-margins-576px);
  }

  main {
    top: 63px;
    margin-bottom: 1em;
  }

  .navbar-container {
    margin: 0 8px;
  }

  .hero-container {
    padding: 0;
  }

  .portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    width: 100%;
  }

  .card-container .left-project-1,
  .card-container .left-project-2,
  .card-container .left-project-3,
  .card-container .left-project-4 {
    width: 100%;
    height: 100%;
    min-height: 250px;
    border-radius: 24px 24px 0 0;
    background-color: var(--white-bkg);
  }

  .portfolio .portfolio-container .right {
    height: 100%;
    min-height: 250px;
    padding: 8px;
    box-shadow: none;
    border-radius: 0 0 24px 24px;
  }

  .portfolio .portfolio-container .right .card-title h3 {
    font-size: 20px;
    margin: 1em 0;
  }

  .card-editorial {
    margin: 10px 0;
  }

  .card-editorial button {
    margin-bottom: 0;
  }

  /*contact page styles*/
  .contact-form-container,
  .contact-form-container .contact-form-body,
  .contact-card-container {
    padding: 16px;
  }

  /* thankyou styles  */
  .thank-you-container {
    width: 80%;
  }

  /* case study sections  */

  /* scrollable ID's  */

  #competitive-analysis,
  #user-interviews,
  #outcomes,
  #persona,
  #ideation,
  #i-a,
  #i-design,
  #ui-design,
  #ux-testing,
  #conclusion {
    margin-bottom: 4em;
  }

  .case-study-inner {
    margin: 1em;
    margin-top: 0;
  }

  .align-top .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .gallery .wide2 {
    width: 80vw;
    height: 40vh;
    padding: 1em;
  }

  .gallery .md {
    width: 300px;
    height: 400px;
  }

  .gallery .md2 {
    width: 200px;
    height: 400px;
  }

  .gallery .sm,
  .gallery .xsm {
    width: 80px;
    height: 240px;
  }

  .gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.02);
  }

  .tab-content #small .gallery,
  .tab-content #medium .gallery,
  .tab-content #large .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
  }

  figcaption {
    font-family: inherit;
    color: var(--primary-text-color);
    font-size: 14px;
    text-transform: capitalize;
  }

  .video-lg {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .mobile-playback video {
    height: 500px;
    width: 230px;
    margin-top: 10px;
    border-radius: 25px;
  }

  .content .td,
  .content .td:nth-child(even) {
    width: 95%;
  }

  footer .footer-container .footer-details {
    padding: 2em;
  }
}

/* Start of Responsive Navigation Shift  */
@media screen and (min-width: 768px) {

  body {
    margin: var(--side-margins-768px);
  }

  .primary-button {
    width: 120px;
    height: 24px;
  }

  .navbar-container {
    margin: 0 12px;
  }

  #navbar-toggle,
  #navbar-toggle[aria-expanded='true'] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded='true']+#navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded='true']+#navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .hero-editorial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .col-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    gap: 3em;
  }

  .col-2 .left-col {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .col-2 .right-col {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .hero-text-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: nowrap;
  }

  .two-button-container {
    flex-direction: row;
    gap: 1em;
  }

  .two-button-container .primary-button,
  .two-button-container .secondary-button {
    width: 50%;
    height: 42px;
  }

  .button-container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
  }

  .portfolio {
    margin-bottom: 2em;
  }

  .portfolio .portfolio-container {
    grid-gap: 1.5em;
  }

  .card-editorial button {
    margin-bottom: 0;
    width: -webkit-fill-available;
    height: 55px;
  }

  /* Skills Section  */
  .centered-row {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: stretch;
  }

  .centered-row:nth-of-type(1) {
    flex-grow: 1;
  }

  .centered-row:nth-of-type(2) {
    flex-grow: 1;
  }

  .centered-row:nth-of-type(3) {
    flex-grow: 2;
  }

  /* Experience section  */
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .experience-header .right .button-container {
    justify-content: flex-end;
  }

  .experience-header .right .secondary-button {
    width: 120px;
    height: 24px;
  }

  /* contact page styles  */

  .contact-page-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .contact-form-container {
    max-width: 900px;
    margin-bottom: 2em;
    width: 70%;
  }

  .contact-card-container {
    max-width: 690px;
    width: 50%;
    height: 40%;
  }

  .contact-card-container .body ul {
    flex-direction: column;
  }

  .tertiary-btn {
    color: inherit;
    font-weight: 500;
    border-bottom: none
  }

  /* thankyou styles  */
  .thank-you-container {
    width: 60%;
    padding: 2em;
    margin-bottom: 2em;
  }

  .thankyou-footer {
    align-items: center;
  }

  /* ####case study styles ####### */

  .flex-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flex-row-reverse-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .flex-col-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }

  .sm-cs-hero {
    display: none;
  }

  .lg-cs-hero {
    display: flex;
  }

  .sidebar #sidebar-menu-btn {
    top: .5rem;
  }

  .align-top .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .gallery .wide2 {
    width: 80vw;
    height: 40vh;
    padding: 1em;
  }

  .gallery .md {
    width: 300px;
    height: 400px;
  }

  .gallery .md2 {
    width: 200px;
    height: 400px;
  }

  .gallery .sm {
    width: 115px;
    height: 660px;
  }

  .gallery .xsm {
    width: 115px;
    height: 450px;
  }

  .gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.02);
  }

  .tab-content #small .gallery,
  .tab-content #medium .gallery,
  .tab-content #large .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
  }


}

@media only screen and (min-width: 992px) {

  .body {
    margin: var(--side-margins-992px);
  }

  .navbar-container {
    margin: var(--side-margins-992px);
  }

  /* index-styles  */

  .hero-container {
    padding: 0 0.7em;
  }

  .two-button-container {
    flex-direction: row;
    display: flex;
    gap: 1em;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
  }

  .two-button-container .primary-button,
  .two-button-container .secondary-button {
    width: 30%;
    height: 28px;
  }

  .portfolio {
    padding: 0 0.7em;
  }

  .portfolio .portfolio-container {
    grid-gap: 2.5em;
    margin: 0 auto;
    width: 90%;
  }

  /* about page styles */

  .about-primary-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em 16px;
    width: 20%;
  }

  .profile-section .primary-button {
    width: 40%;
    margin: 2em 0;
  }

  .skills-section {
    margin: 0 auto;
  }

  .centered-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .centered-row:nth-of-type(1),
  .centered-row:nth-of-type(2),
  .centered-row:nth-of-type(3) {
    flex-grow: 0;
  }

  .centered-row .col {
    margin-right: 5em;
  }

  /* contact page styles  */

  .page-boundary {
    max-width: 1000px;
    align-items: center;
    gap: 0.5em;
    margin: 0 auto;
  }

  .contact-form-container {
    max-width: 900px;
    margin-bottom: 2em;
  }

  .contact-form-container .contact-form-body .form-footer .submit-button {
    width: 50%;
  }

  .contact-card-container {
    max-width: 690px;
  }

  /* thankyou styles  */
  .thank-you-container {
    width: 40%;
  }

  /* Case Study Styles  */

  .task-flow-design-section .centered-row {
    padding: 1em;
    flex-direction: row;
  }

  .task-flow-design-section .centered-row .image-container {
    width: 50%;
  }

  .align-top .gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 1em;
    margin-bottom: 1em;
  }

  .gallery .wide {
    width: 80vw;
    height: 80vh;
    padding: 1em;
  }

  .gallery .md {
    width: 260px;
    height: 400px;
    border: 1px solid darkgrey;
  }

  .gallery .lg {
    width: 300px;
    height: 400px;
    border: 1px solid darkgrey;
  }

  .gallery .sm {
    width: 150px;
    height: 780px;
    border: 1px solid darkgrey;
  }

  .gallery .xsm {
    width: 150px;
    height: 400px;
    border: 1px solid darkgrey;
  }

  .gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.02);
  }

  .tab-content #small .gallery,
  .tab-content #medium .gallery,
  .tab-content #large .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
  }

  figcaption {
    font-family: inherit;
    color: var(--primary-text-color);
    font-size: 14px;
    text-transform: capitalize;
  }

  .video-lg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table-sm {
    display: none;
  }

  .table-lg {
    display: block;
  }

  .table-lg .th {
    background-color: #b7d1cb;
  }

  .table-lg .th>.td {
    flex-grow: 2;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
  }

  .table-lg .table-total {
    display: flex;
    flex-direction: column;
  }

  .table-lg .table-total .td {
    justify-content: center;
  }

  .table-lg .table-total .tr:nth-child(even) {
    background-color: var(--blue-bkg);
  }
  .table-lg .table-total .td .check {
    color: #409d34;
  }

  .table-lg .table-total .td .close {
    color: #b21515;;
  }
  footer .footer-container .footer-details {
    padding: 2.2em;
  }

  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-name {
    letter-spacing: 5.2pt;
    font-size: 1.8rem;
  }

  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-title {
    font-size: 1.2rem;
    letter-spacing: 2pt;
  }

}

@media only screen and (min-width: 1200px) {
  /* Navigation and button styles  */

  .navbar-container {
    margin: 0 120px;
  }

  .navbar-item:hover {
    border-bottom: 1px solid #1a1a1a;
  }

  /* home page styles  */

  .two-button-container .primary-button,
  .two-button-container .secondary-button {
    width: 20%;
  }

  .primary-button:hover {
    background: #b3e2bb;
    border-color: #4f9985;
    box-shadow: none;
  }

  .secondary-button:hover {
    background-color: #DFEDFF;
    color: #1a1a1a;
    border-color: #1a1a1a;
    box-shadow: none;
  }

  /* index page styles  */
  .main-content {
    width: 83%;
    margin: 0 auto;
  }

  .hero-container {
    padding: 0;
  }

  .image-container {
    width: auto;
  }

  .button-container {
    width: 50%;
  }

  .hero-container .hero-button-container .primary-button,
  .hero-container .hero-button-container .secondary-button {
    width: 20%;
    height: 20px;
  }

  .hero-container .mouse-scroller {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  .hero-container .mouse-scroller .mouse {
    width: 10px;
    padding: 5px 6px;
    height: 35px;
    border: var(--border);
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    margin-bottom: 20px;
  }

  .hero-container .mouse-scroller .mouse .mouse-animation {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    animation: scroll 3s linear infinite;
  }

  @keyframes scroll {
    from {
      opacity: 1;
      position: relative;
      top: 0;
    }

    to {
      opacity: 0.5;
      position: relative;
      top: 25px;
    }
  }


  .portfolio {
    width: 80%;
    margin: 0 auto;
  }

  .portfolio .portfolio-container {
    grid-gap: 3em;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .portfolio .portfolio-container .right {
    padding: 0;
  }

  .card-title,
  .card-editorial {
    padding: 16px;
    width: 414px;
  }

  .right .primary-button {
    margin: 0 auto;
    width: 50%;
  }

  .card-container:hover {
    filter: brightness(70%);
    transition: all .1s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  }

  /* about page */

  .skills-section,
  .experience-container {
    width: 80%;
    margin: 0 auto;
  }

  .experience-header .right {
    display: flex;
    justify-content: flex-end;
  }

  .experience-body {
    display: flex;
  }

  /* contact page styles  */

  .contact-page-content {
    max-width: 900px;
    margin: 0 auto;
  }

  .contact-form-container {
    max-width: 900px;
    margin-bottom: 2em;
  }

  .contact-card-container {
    max-width: 690px;
  }

  /*########### case study styles ######## */
 
  .align-top .gallery {
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .tab-content #small .gallery, .tab-content #medium .gallery, .tab-content #large .gallery {
    align-items: flex-start;
  }
  /*footer styles */
  .footer-container .footer-social-icon {
    width: 50vw;
  }

  .footer-container .footer-social-icon a:hover {
    opacity: .5;
  }

  /*sidebar*/
  .sidebar {
    position: fixed;
    top: 56px;
    height: 100vh;
    width: 60px;
    color: #12171e;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    overflow: hidden;
    z-index: 1;
    gap: 1em;
  }

  .sidebar.active~.main-content {
    left: 150px;
  }

  .sidebar.active {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
    background-color: #f0f0f0;
    border-right: 1px solid rgb(187, 187, 187);
    box-shadow: var(--br-shadow);
    z-index: 0;
  }

  .sidebar #sidebar-menu-btn {
    position: absolute;
    color: #222222;
    background-color: #fff;
    top: 1rem;
    left: 20%;
    transition: all .5s ease-in-out;
    cursor: pointer;
    animation: none;
    fill: #fff;
    border-radius: 100%;
  }

  .sidebar #sidebar-menu-btn:hover {
    background-color: #b7d1c8;
  }

  .sidebar.active #sidebar-menu-btn {
    left: 80%;
    rotate: 180deg;
    background: #fff;
  }

  .sidebar.active #sidebar-menu-btn:hover {
    background-color: #b7d1c8;
  }

  .sidebar .top {
    display: flex;
    height: 30px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .sidebar .top .logo {
    color: #12171e;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
  }

  .sidebar.active .top .logo {
    opacity: 1;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: .5em;
    flex-wrap: wrap;
  }

  .sidebar ul li {
    list-style-type: none;
    height: 50px;
    width: 80px;
    margin: .5rem auto;
    line-height: 16px;
  }

  .sidebar ul li a {
    color: #12171e;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: .8rem;
  }

  .sidebar ul li a:hover {
    background-color: #b7d1c8;
  }

  .sidebar ul li a .side-bar-icon {
    min-width: 50px;
    text-align: center;
    max-height: 50px;
    border-radius: 25px;
    line-height: 50px;
    font-size: 32px;
    color: #12171e;
    cursor: pointer;
    padding: 5px 0;
    opacity: 1;
  }

  .sidebar ul li a:hover {
    color: var(--brand-color);
    max-width: 50px;
  }

  .sidebar .nav-item {
    opacity: 0;
  }

  .sidebar.active .nav-item {
    opacity: 1;
    margin-left: .5em;
  }

  .sidebar.active ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  }
}

/*Large Desktop viewport styles */
@media only screen and (min-width: 1400px) {

  .navbar-container {
    margin: 0 130px;
  }

  body {
    margin: 0;
  }

  section {
    width: 80%;
    margin: 0 auto;
  }

  .hero-container {
    width: 100%;
  }

  /* index styles  */

  .two-button-container .primary-button,
  .two-button-container .secondary-button {
    width: 15%;
  }

  .portfolio {
    width: 65%;
  }

  .portfolio {
    margin-bottom: 2em;
  }

  .portfolio .portfolio-container {
    grid-gap: 3em;
    width: 80%;
  }

  /* about page  */

  .skills-section,
  .experience-container {
    width: 100%;
  }

  .centered-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
  }

  .centered-row .col {
    flex-grow: 0;
    margin-right: 1em;
  }

  .experience-body {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1em;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .experience-duration {
    display: flex;
    justify-content: flex-start;
    width: 19%;
    margin-right: 8px;
  }

  .experience-body .experience-container {
    display: flex;
    justify-content: flex-end;
    width: auto;
  }

  /* ####### case study styles ########## */
  .main-content {
    width: 100%;
    margin: 0 auto;
  }

  .skills-section,
  .experience-container {
    width: 100%;
  }

  .bullet-list-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 0.3em;
    margin-bottom: 1em;
  }

  .bullet-list-row li {
    font-size: 16px;
    color: #4E4E4C;
  }

  .bullet-list-col {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.3em;
    margin-left: 1em;
    list-style: disc;
  }

  .bullet-list-col li {
    font-size: 16px;
  }

}

@media only screen and (min-width: 1800px) {

  .navbar-container {
    margin: 0 170px;
  }

  .centered-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2em;
  }

  .contact-page-content {
    max-width: 1100px;
  }

}