@font-face {
  font-family: Poppins;
  font-size: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
  color: #1a1a1a;
}
:root {
  --yellow_bkg: #fff2ce;
  --white-bkg: #fff;
  --blue-bkg: #f0f8ff;
  --form-p-text: #666;
  --illuminate-yellow: #fffaa3;
  --pale-green: #aafaaa;
  --pale-pink: #eda4fc;
  --pale-blue: rgb(155, 234, 245);
  --light-orange: #ffd992;
  /* box shadow styles  */
  --b-shadow: -2px 10px 21px -2px rgba(201, 201, 201, 0.75);
  --br-shadow: 6px 6px 14px -3px rgba(181, 181, 181, 0.74);
  /* border-styles  */
  --border: 1px solid #afafaf;
  --br-8: 8px;
  --br-16: 16px;
  --br-24: 24px;
  /* input field border-radius  */
  --form-br-4: 4px;
  --form-br-8: 8px;
  --form-br-16: 16px;
  /* navigation defaults  */
  --navbar-height: 56px;
  --navbar-position: fixed;
  --body-copy: "Poppins";
  --brand-color: #2c4465;
  --primary-text-color: #1a1a1a;
  --h1-mobile: 30px;
  --h1-desktop: 48px;
  --h2-mobile: 27px;
  --h2--desktop: 30px;
  --ux-ui: url(/assets/images/contact-page-bkg.webp);
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(244, 244, 244, 0.2392156863);
  color: var(--primary-text-color);
  font-family: var(--body-copy);
}

main {
  position: relative;
  padding: 0;
  top: 50px;
  margin-top: 1em;
}

footer {
  background-color: var(--white-bkg);
  padding: 10px;
}

h1 {
  font-size: var(--h1-mobile);
  font-weight: 500;
  line-height: 36px;
  color: var(--brand-color);
  text-align: left;
  letter-spacing: 3pt;
  margin-top: 0;
  text-transform: capitalize;
}

h2 {
  font-size: var(--h2-mobile);
  font-weight: 500;
  line-height: 30pt;
  color: var(--brand-color);
  text-align: left;
  letter-spacing: 3pt;
  text-transform: capitalize;
  text-decoration: none;
  text-underline-offset: 10px;
}

h3 {
  font-size: 26px;
  font-weight: 500;
  line-height: 22pt;
  color: var(--brand-color);
  text-transform: capitalize;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 22pt;
  color: var(--brand-color);
  text-transform: capitalize;
}

p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-text-color);
}
p .bold-italic {
  font-weight: 700;
  font-style: italic;
}

a {
  text-decoration: none;
}

section {
  padding-top: 1em;
  margin-bottom: 1em;
}

ul {
  list-style: disc;
  margin-left: 16px;
  padding: 0;
}

ol {
  margin-left: 16px;
  padding: 0;
}

ul li,
ol li {
  font-family: "Poppins";
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

.centered-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.8rem;
  margin: 0.5rem;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 1 auto;
}

.th {
  display: none;
  font-weight: 700;
  background-color: #f2f2f2;
}

.th > .td {
  white-space: normal;
  justify-content: flex-start;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.content .td:nth-child(even) {
  background-color: var(--blue-bkg);
  width: 92%;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 6px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
  padding: 12px;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5px;
  width: 100%;
  margin: 2em 0;
}
.flex-center .border-centered {
  background-color: #dcdcdc;
  display: flex;
  width: 60%;
  height: 2px;
  border-radius: 50px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.tab.active {
  background-color: #b7d1c8;
}

.tab:hover {
  background-color: #93c0b0;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

[data-tab-target] {
  cursor: pointer;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

/* Top nav and menu  */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--white-bkg);
  transition: background-color 0.3s ease;
  z-index: 100;
}
#navbar.scrolled {
  background-color: var(--white-bkg);
  box-shadow: var(--b-shadow);
}
#navbar .navbar-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 53px;
}
#navbar .navbar-container .home-link {
  padding-left: 1em;
}
#navbar .navbar-container .home-link .navbar-logo {
  display: flex;
  font-family: var(--body-copy);
  color: var(--brand-color-focus);
  flex-direction: row;
  align-items: center;
}
#navbar .navbar-container .home-link .navbar-logo img {
  width: 40px;
  height: auto;
  background-color: var(--white-bkg);
  border-radius: 50%;
}
#navbar .navbar-container .home-link .navbar-logo .logo-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
#navbar .navbar-container .home-link .navbar-logo .logo-container .logo-name {
  font-size: 18px;
  line-height: 20px;
}
#navbar .navbar-container .home-link .navbar-logo .logo-container .logo-name .logo-title {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.3pt;
}
#navbar .navbar-container .menu-toggle {
  display: flex;
  align-items: center;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
#navbar .navbar-container .nav-menu {
  list-style-type: none;
  padding: 0;
  display: none;
}
#navbar .navbar-container .nav-menu.show {
  position: fixed;
  top: 53px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow_bkg);
  margin: 0;
}
#navbar .navbar-container .nav-menu.show .navbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 20px;
}
#navbar .navbar-container .nav-menu.show .navbar-link a {
  font-family: inherit;
  color: var(--primary-text-color);
}

/* end of top bar  */
.primary-button,
.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 40px;
  padding: 8px 16px; /* Decrease padding for smaller screens */
  font-size: 14px; /* Decrease font size for smaller screens */
  color: var(--primary-text-color);
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
  transition: linear 0.1s ease-in-out;
  box-shadow: var(--br-shadow);
  margin-bottom: 1em;
}

.primary-button {
  background-color: #bbefc4;
}

.secondary-button {
  background-color: var(--white-bkg);
  color: var(--primary-text-color);
}

.tertiary-btn {
  font-weight: bold;
  border-bottom: 1px solid var(--brand-color);
  color: var(--brand-color);
}

.mouse-scroller {
  display: none;
}

/* index page styles  */
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--white-bkg);
  padding: 10px;
  border-radius: var(--br-8);
}
.wrapper .hero-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper .hero-header .highlight {
  color: var(--primary-text-color);
  font-weight: 800;
  padding: 8px;
  background-color: var(--illuminate-yellow);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.wrapper .hero-header .outline {
  color: var(--primary-text-color);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.wrapper .hero-header .outline.green {
  background-color: #cefe9d;
}
.wrapper .hero-header .outline.pink {
  background-color: #ff90ed;
}
.wrapper .hero-header .outline.blue {
  background-color: #9ee3fe;
}
.wrapper .hero-header .outline.orange {
  background-color: #ffb366;
}
@keyframes jitter {
  0% {
    transform: rotate(-0.5deg);
  }
  50% {
    transform: rotate(0.7deg);
  }
  100% {
    transform: rotate(-0.5deg);
  }
}
.wrapper .hero-header .jitter {
  animation: jitter 0.5s ease-in-out infinite;
  display: inline-block; /* Ensures the element stays inline */
}
.wrapper .hero-editorial {
  display: flex;
  flex-direction: column-reverse;
}
.wrapper .hero-editorial .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .hero-editorial .image-container .profile-image {
  width: 200px;
  height: 200px;
  background-image: url(/assets/images/me-min.webp);
  background-size: cover;
  border-radius: 50%;
}
.wrapper .editorial-footer {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  gap: 1em;
}
.wrapper .wide-card {
  display: inherit;
  flex-direction: column;
}
.wrapper .wide-card .card-header {
  display: inherit;
  flex-direction: column;
  width: 100%;
}
.wrapper .wide-card .card-header .inline-decorated-list {
  list-style: none;
  margin: 0;
  padding-bottom: 1em;
}
.wrapper .wide-card .card-header .inline-decorated-list li {
  font-size: 18px;
  letter-spacing: 2px;
}
.wrapper .wide-card .card-body {
  display: flex;
  flex-direction: column-reverse;
}
.wrapper .wide-card .card-body .image-container {
  display: inherit;
}
.wrapper .wide-card .card-body .image-container img {
  width: 100%;
  height: auto;
  border-radius: var(--br-8);
}
.wrapper .wide-card .card-body .card-editorial {
  display: inherit;
  flex-direction: column;
}
.wrapper .wide-card .card-body .card-editorial a {
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.wrapper .wide-card .card-body .card-editorial a:hover {
  font-weight: 500;
  text-decoration: none;
}
.wrapper .wide-card .card-body .card-editorial .more-content {
  display: none;
}
.wrapper .wide-card .card-body .card-editorial .show-more {
  display: inline;
}
.wrapper .wide-card .card-body .button-row {
  width: 100%;
}
.wrapper .wide-card .card-body .button-row a {
  text-decoration: none;
}
.wrapper .highlighted-section {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--blue-bkg);
  border-radius: 8px;
  padding: 0 12px 12px 12px;
}
.wrapper .highlighted-section .column {
  display: inherit;
}
.wrapper .experience-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapper .experience-header .left {
  width: 100%;
}
.wrapper .experience-header .right {
  width: 100%;
}
.wrapper .experience-header .right .button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: -webkit-fill-available;
}
.wrapper .experience-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.wrapper .experience-wrapper .experience-body {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 1em;
}
.wrapper .experience-wrapper .experience-body .experience-duration {
  flex: 0 0 100%;
}
.wrapper .experience-wrapper .experience-body .experience-details {
  flex: 0 0 100%;
  padding-left: 0;
}

/* contact page styles  */
#contact-form {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#contact-form .contact-form-container {
  background-color: var(--white-bkg);
  border-radius: 8px;
}
#contact-form .contact-form-container .header {
  display: flex;
  flex-direction: column;
}

/*contact form styles  */
.contact-form-body {
  background-color: #cafff8;
  border-radius: var(--br-sm);
  padding: 8px;
  width: -webkit-fill-available;
}

.input {
  margin-bottom: 10px;
}

.input label, .input textarea label {
  position: absolute;
  color: #aaa;
  font-size: 15px;
  margin-top: 15px;
  transition: margin-top 0.3s, font-size 0.3s, margin-left 0.3s, padding 0.3s, color 0.2s;
}

.input input, .input textarea {
  outline: none;
  border: 0;
  width: 100%;
  padding: 15px 0px;
  transition: border 0.2s, box-shadow 0.2s;
  border-bottom: 1.5px solid #aaa;
  font-size: 15px;
}

.input input:focus,
.input textarea:focus {
  border-color: #512da8;
  box-shadow: 0px -1px 0px 0px #512da8 inset;
}

.input input:focus ~ label,
.input textarea:focus ~ label {
  color: #512da8;
}

.input-active label,
.input-active textarea label {
  font-size: 13px !important;
  margin-top: -5px;
  margin-left: -1px;
  color: #512da8;
}

.input-border input,
.input-border textarea {
  border: 1.5px solid #aaa;
  padding-left: 10px;
  border-radius: 3px;
}

.input-border input:focus,
.input-border textarea:focus {
  box-shadow: 0px 0px 0px 1px rgb(81, 45, 168);
}

.input-border label,
.input-border textarea {
  background: white;
  margin-left: 10px;
}

.input-border.input-active label,
.input-border.textarea-active label {
  margin-top: -6px;
  padding: 0 3px;
  margin-left: 6px;
  color: #512da8;
}

.input-filled-in-not-focus label,
.input-filled-in-not-focus textarea {
  color: #aaa !important;
}

.textarea {
  width: 100%;
  height: 200px;
}

.form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-footer .primary-button {
  flex-direction: column;
  border: var(--border);
  border-radius: var(--br-lg);
  color: var(--primary-text-color);
  font-size: 16px;
  cursor: pointer;
  transition: linear 0.1s ease-in-out;
  box-shadow: var(--br-shadow);
  background-color: #bbefc4;
  font-family: "Poppins";
}

.contact-card-container {
  background-color: var(--yellow_bkg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
  border: var(--border);
  flex-direction: column;
}
.contact-card-container .header {
  border-bottom: var(--border);
  width: 100%;
}
.contact-card-container .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  justify-content: center;
}
.contact-card-container .body ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
  list-style: none;
  margin: 0;
}
.contact-card-container .body ul li a {
  display: inline-flex;
  gap: 1rem;
  font-size: 16px;
  font-weight: 800;
  color: #1a1a1a;
}
.contact-card-container .body ul li a .link-text {
  border-bottom: 1px solid #1a1a1a;
  transition: all 0.5s ease-in-out;
}
.contact-card-container .body ul li a .link-text:hover {
  border-bottom: none;
}

.contact-card-container .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a1a1a;
  padding: 1em;
}

/* thank you styles  */
.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 8px;
  background-color: var(--white-bkg) fff;
  padding: 8px;
  margin: 0 auto;
}

.thankyou-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.thankyou-body {
  display: flex;
  flex-direction: row;
}

.thankyou-footer {
  display: flex;
  flex-direction: column;
}

.thankyou-footer span {
  font-style: italic;
  color: var(--brand-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-container .footer-social-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footer-container .copy-panel {
  display: inherit;
}
.footer-container .copy-panel p {
  font-size: 14px;
  line-height: 0;
}

@media only screen and (min-width: 500px) {
  .contact-card-container .body ul {
    gap: 2em;
  }
  .contact-card-container .body ul li span {
    padding-right: 8px;
  }
}
@media only screen and (min-width: 576px) {
  .wrapper {
    padding: 1em;
  }
  /*contact page styles*/
  .contact-form-container,
  .contact-form-container .contact-form-body,
  .contact-card-container {
    padding: 16px;
  }
  /* thankyou styles  */
  .thank-you-container {
    width: 80%;
  }
  footer .footer-container .footer-details {
    padding: 2em;
  }
}
/* Start of Responsive Navigation Shift  */
@media screen and (min-width: 768px) {
  .button-container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
  }
  .wrapper .editorial-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    width: 50%;
  }
  .wrapper .editorial-footer a {
    font-size: 16px;
    width: 100%;
  }
  .wrapper .editorial-footer .mouse-scroller {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  .wrapper .editorial-footer .mouse-scroller .mouse {
    width: 10px;
    padding: 5px 6px;
    height: 35px;
    border: var(--border);
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    margin-bottom: 20px;
  }
  .wrapper .editorial-footer .mouse-scroller .mouse .mouse-animation {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    animation: scroll 3s linear infinite;
  }
  @keyframes scroll {
    from {
      opacity: 1;
      position: relative;
      top: 0;
    }
    to {
      opacity: 0.5;
      position: relative;
      top: 25px;
    }
  }
  .wrapper .wide-card {
    display: flex;
  }
  .wrapper .wide-card .card-header {
    display: flex;
  }
  .wrapper .wide-card .card-header .inline-decorated-list {
    display: flex;
    width: -webkit-fill-available;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4em;
  }
  .wrapper .wide-card .card-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
  }
  .wrapper .wide-card .card-body .card-editorial {
    width: 60%;
  }
  .wrapper .wide-card .card-body .image-container {
    width: 40%;
  }
  .wrapper .wide-card .button-row {
    display: flex;
  }
  .wrapper .experience-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .wrapper .experience-header .left {
    width: 70%;
  }
  .wrapper .experience-header .right {
    width: 20%;
  }
  .wrapper .experience-header .right .button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  /* contact page styles  */
  .contact-page-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  .contact-card-container .body ul {
    flex-direction: column;
  }
  .contact-form-container .contact-form-body .form-footer .primary-button {
    width: 240px;
    margin: 1em;
  }
  /* thankyou styles  */
  .thank-you-container {
    width: 60%;
    padding: 2em;
    margin-bottom: 2em;
  }
  .thankyou-footer {
    align-items: center;
  }
}
@media only screen and (min-width: 992px) {
  /* index-styles  */
  .wrapper .hero-editorial {
    flex-direction: row;
  }
  .wrapper .editorial-footer a {
    width: 50%;
    font-size: 16px;
  }
  .wrapper .wide-card .card-header .inline-decorated-list {
    gap: 1.9em;
  }
  .wrapper .wide-card .card-body .card-editorial {
    width: 70%;
  }
  .wrapper .wide-card .card-body .button-row a {
    font-weight: normal;
  }
  .wrapper .experience-wrapper .editorial-body {
    flex-direction: row;
  }
  .wrapper .experience-wrapper .editorial-body .experience-duration {
    flex: 0 0 19%;
  }
  .wrapper .experience-wrapper .editorial-body .experience-details {
    flex: 0 0 81%;
  }
  /* about page styles */
  /* contact page styles  */
  .page-boundary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .page-boundary .centered-row {
    align-items: flex-start;
    gap: 0.5em;
    margin: 0 auto;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .page-boundary .centered-row.no-background {
    background-color: transparent;
  }
  .contact-form-container {
    max-width: 900px;
  }
  .contact-form-container .contact-form-body .form-footer .submit-button {
    width: 50%;
  }
  .contact-card-container {
    max-width: 690px;
  }
  /* thankyou styles  */
  .thank-you-container {
    width: 40%;
  }
  footer .footer-container .footer-details {
    padding: 2.2em;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-name {
    letter-spacing: 5.2pt;
    font-size: 1.8rem;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-title {
    font-size: 1.2rem;
    letter-spacing: 2pt;
  }
}
@media only screen and (min-width: 1200px) {
  #navbar .navbar-container {
    margin: 0 40px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    height: 50px;
  }
  #navbar .navbar-container .menu-toggle {
    display: none;
  }
  #navbar .navbar-container .nav-menu {
    display: flex;
  }
  #navbar .navbar-container .nav-menu a {
    color: #1a1a1a;
    font-size: 16px;
    margin: 0;
    padding: 10px 20px;
    width: unset;
    transition: border-bottom 0.3s ease;
  }
  #navbar .navbar-container .nav-menu a:hover {
    border-bottom: 1px solid var(--brand-color);
  }
  .primary-button:hover {
    background: #b3e2bb;
    border-color: #4f9985;
    box-shadow: none;
  }
  .secondary-button:hover {
    background-color: #dfedff;
    color: #1a1a1a;
    border-color: #1a1a1a;
    box-shadow: none;
  }
  .page-boundary .centered-row {
    max-width: 80%;
    align-items: center;
  }
  /* index page styles  */
  .wrapper {
    width: 90%;
    margin: 0 auto;
    border-radius: var(--br-16);
  }
  .wrapper .hero-header .highlight:hover {
    background-color: transparent;
    font-weight: normal;
    padding: 0;
  }
  .wrapper .hero-header .outline {
    display: inline-block;
    border-radius: 0px;
    opacity: 1;
    color: #191b1e;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .wrapper .hero-header .outline.green:hover, .wrapper .hero-header .outline.pink:hover, .wrapper .hero-header .outline.blue:hover, .wrapper .hero-header .outline.orange:hover {
    background-color: transparent;
    text-shadow: 0px 0px 0px #000, 0 0px 0px #000, 0 0 0 #000, 0 0 0 #000, 0 0 0 #000, 0px 0 0 #000, 0 0px 0 #000;
  }
  .wrapper .editorial-footer {
    width: 45%;
  }
  .wrapper .wide-card .card-header .inline-decorated-list {
    gap: 1.9rem;
  }
  .wrapper .wide-card .card-body .image-container {
    width: 27%;
  }
  .wrapper .highlighted-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4em;
  }
  .wrapper .highlighted-section .column {
    display: flex;
    flex-direction: column;
    max-width: 30%;
  }
  /* contact page styles  */
  .contact-page-content {
    max-width: 900px;
    margin: 0 auto;
  }
  .contact-form-container {
    max-width: 900px;
  }
  .contact-card-container {
    max-width: 690px;
  }
  .footer-container .footer-social-icon {
    width: 80%;
    margin: 0 auto;
  }
}
/*Large Desktop viewport styles */
@media only screen and (min-width: 1400px) {
  section {
    width: 86%;
    margin: 0 auto;
  }
  #navbar .navbar-container {
    margin: 0 110px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 53px;
  }
  #navbar .navbar-container .home-link {
    padding-left: 0;
  }
  #navbar .navbar-container .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding-right: 1.5em;
  }
  /* index styles  */
  .wrapper {
    width: 100%;
    margin-bottom: 2em;
  }
  .wrapper .editorial-footer {
    width: 30%;
  }
  .wrapper .wide-card .card-body .image-container {
    width: 25%;
  }
  /* about page  */
  .skills-section,
  .experience-container {
    width: 100%;
  }
  .experience-body {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1em;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .experience-duration {
    display: flex;
    justify-content: flex-start;
    width: 19%;
    margin-right: 8px;
  }
  .experience-body .experience-container {
    display: flex;
    justify-content: flex-end;
    width: auto;
  }
  .skills-section,
  .experience-container {
    background-color: var(--white-bkg);
    padding: 1em;
    border-radius: var(--br-16);
    margin-bottom: 2em;
  }
  .experience-container {
    display: flex;
    flex-direction: column;
  }
  .experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .experience-body {
    display: flex;
    margin-bottom: 10px;
  }
  .experience-body .experience-duration {
    flex: 0 0 20%;
  }
  .experience-body .experience-container {
    flex: 0 0 80%;
    padding-left: 20px;
  }
}
@media only screen and (min-width: 1800px) {
  #navbar .navbar-container {
    margin: 0 138px;
    width: 88%;
  }
  .wrapper .wide-card .card-body .card-editorial {
    width: 80%;
  }
  .wrapper .wide-card .card-body .image-container {
    width: 15%;
  }
  .wrapper .wide-card .card-body .button-row {
    margin-top: 2em;
  }
  .experience-header .right .button-container a {
    width: 120px;
  }
  .footer-container .footer-social-icon {
    justify-content: space-evenly;
  }
  .contact-page-content {
    max-width: 1100px;
  }
}/*# sourceMappingURL=stylesheet.css.map */