@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
/* Style the tab content */
:root {
  --yellow_bkg: #fff2ce;
  --white-bkg: #fff;
  --blue-bkg: #f0f8ff;
  --form-p-text: #666;
  --illuminate-yellow: #fffaa3;
  --pale-green: #aafaaa;
  --pale-pink: #eda4fc;
  --pale-blue: #e8f8ff;
  --light-orange: #ffd992;
  /* box shadow styles  */
  --b-shadow: 0 8px 8px 0 rgba(201, 201, 201, 0.5);
  --r-shadow: 8px 0 8px 0 rgba(201, 201, 201, 0.5);
  /* border-styles  */
  --border: 1px solid #d4d4d4;
  --br-8: 8px;
  --br-16: 16px;
  --br-24: 24px;
  --br-50: 50px;
  /* input field border-radius  */
  --form-br-4: 4px;
  --form-br-8: 8px;
  --form-br-16: 16px;
  /* navigation defaults  */
  --navbar-height: 56px;
  --navbar-position: fixed;
  --brand-color: #2c4465;
  --primary-text-color: #1a1a1a;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Spartan";
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: var(--primary-text-color);
}

main {
  background-color: #f0f2f5;
}

h1 {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
  line-height: 20pt;
  color: var(--brand-color);
}

h2 {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 27pt;
  color: var(--brand-color);
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  line-height: 18pt;
  color: var(--brand-color);
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 15pt;
  letter-spacing: 0.55pt;
}

a {
  font-size: 1.1rem;
  color: var(--brand-color);
  display: inline;
  text-decoration: none;
}

section {
  width: 100%;
  padding-top: 1em;
  margin-bottom: 1em;
}

ul {
  font-family: "Spartan";
  list-style: disc;
  margin-left: 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
ul.no-disc {
  margin-left: 0;
  list-style: none;
}
ul li {
  font-family: "Spartan";
  font-size: 16px;
}
ul li .emphasis {
  font-weight: 700;
}

ol {
  font-family: "Spartan";
  margin-left: 16px;
  padding: 0;
}
ol li {
  display: list-item;
  font-family: "Spartan";
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

/* Top nav and menu  */
#navbar {
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  padding: 0 10px;
  background-color: #4fbdd3;
  transition: background-color 0.3s ease;
}
#navbar.scrolled {
  background-color: var(--white-bkg);
  color: var(--brand-color);
  box-shadow: var(--b-shadow);
  z-index: 100;
}
#navbar.scrolled .navbar-container .home-link .navbar-logo .logo-container,
#navbar.scrolled .navbar-container .menu-toggle .icon-bar {
  color: var(--brand-color);
  fill: var(--brand-color);
}
#navbar .navbar-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 76px;
  font-family: "Spartan";
}
#navbar .navbar-container .home-link .navbar-logo {
  display: flex;
  font-family: "Spartan";
  color: var(--brand-color-focus);
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
}
#navbar .navbar-container .home-link .navbar-logo img {
  width: 40px;
  height: auto;
  background-color: var(--white-bkg);
  border-radius: 50%;
  padding: 10px;
}
#navbar .navbar-container .home-link .navbar-logo .logo-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: var(--white-bkg);
}
#navbar .navbar-container .home-link .navbar-logo .logo-container .logo-name, #navbar .navbar-container .home-link .navbar-logo .logo-container .logo-title {
  font-size: 16px;
  line-height: 16pt;
}
#navbar .navbar-container .menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
#navbar .navbar-container .menu-toggle .icon-bar {
  fill: var(--white-bkg);
}
#navbar .navbar-container .nav-menu {
  list-style-type: none;
  padding: 0;
  display: none;
}
#navbar .navbar-container .nav-menu.show {
  position: fixed;
  top: 75px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #30A7BF;
  margin: 0;
}
#navbar .navbar-container .nav-menu.show .navbar-link {
  width: 100%;
}
#navbar .navbar-container .nav-menu.show .navbar-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 20px;
  font-family: inherit;
  color: var(--white-bkg);
}

.p-0 {
  margin: 75px 0;
  padding: 0;
  width: 100vw;
}
.p-0 .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}
.p-0 .hero.index-banner {
  background: url(/assets/images/index-hero-banner_md.webp) no-repeat top right;
}
.p-0 .hero .hero-content {
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5em;
  max-width: calc(100vw - 20%);
}
.p-0 .hero .hero-content .name-container {
  background-color: #545454;
  color: var(--white-bkg);
  padding: 10px;
  padding-bottom: 8px;
  border-radius: 50px;
}
.p-0 .hero .hero-content .name-container p {
  font-weight: 600;
  letter-spacing: 3pt;
  margin: 0;
}
.p-0 .hero .hero-content h1 {
  text-align: left;
  font-size: 2em;
  line-height: 1.3em;
  color: var(--white-bkg);
  font-weight: 600;
  margin: 0;
}

.centered-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.8rem;
  margin: 0.5rem;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 1 auto;
}

.th {
  display: none;
  font-weight: 700;
  background-color: #f2f2f2;
}

.th > .td {
  white-space: normal;
  justify-content: flex-start;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.content .td:nth-child(even) {
  background-color: var(--blue-bkg);
  width: 92%;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 6px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
  padding: 12px;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5px;
  width: 100%;
  margin: 2em 0;
}
.flex-center .border-centered {
  background-color: #dcdcdc;
  display: flex;
  width: 60%;
  height: 2px;
  border-radius: 50px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.tab.active {
  background-color: #b7d1c8;
}

.tab:hover {
  background-color: #93c0b0;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

[data-tab-target] {
  cursor: pointer;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

/* end of top bar  */
.primary-button,
.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 14px;
  color: var(--primary-text-color);
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
  transition: linear 0.1s ease-in-out;
  box-shadow: var(--br-shadow);
  margin-bottom: 1em;
}

.primary-button {
  background-color: #bbefc4;
}

.secondary-button {
  background-color: var(--white-bkg);
  color: var(--primary-text-color);
}

.tertiary-btn {
  font-weight: bold;
  border-bottom: 1px solid var(--brand-color);
  color: var(--brand-color);
}

.mouse-scroller {
  display: none;
}

/* index page styles  */
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--white-bkg);
  padding: 10px;
  border-radius: var(--br-8);
}
.wrapper .wide-card {
  display: inherit;
  flex-direction: column;
}
.wrapper .wide-card .card-header {
  display: inherit;
  flex-direction: column;
  width: 100%;
}
.wrapper .wide-card .card-header .inline-decorated-list {
  list-style: none;
  margin: 0;
  padding-bottom: 1em;
}
.wrapper .wide-card .card-header .inline-decorated-list li {
  font-size: 18px;
  letter-spacing: 2px;
}
.wrapper .wide-card .card-body {
  display: flex;
  flex-direction: column-reverse;
}
.wrapper .wide-card .card-body .image-container {
  display: inherit;
}
.wrapper .wide-card .card-body .image-container img {
  width: 100%;
  height: auto;
  border-radius: var(--br-8);
}
.wrapper .wide-card .card-body .card-editorial {
  display: inherit;
  flex-direction: column;
}
.wrapper .wide-card .card-body .card-editorial a {
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.wrapper .wide-card .card-body .card-editorial a:hover {
  font-weight: 500;
  text-decoration: none;
}
.wrapper .wide-card .card-body .card-editorial .more-content {
  display: none;
}
.wrapper .wide-card .card-body .card-editorial .show-more {
  display: inline;
}
.wrapper .wide-card .card-body .button-row {
  width: 100%;
}
.wrapper .wide-card .card-body .button-row a {
  text-decoration: none;
}
.wrapper .highlighted-section {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--blue-bkg);
  border-radius: 8px;
  padding: 0 12px 12px 12px;
}
.wrapper .highlighted-section .column {
  display: inherit;
}
.wrapper .experience-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapper .experience-header .left {
  width: 100%;
}
.wrapper .experience-header .right {
  width: 100%;
}
.wrapper .experience-header .right .button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: -webkit-fill-available;
}
.wrapper .experience-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.wrapper .experience-wrapper .experience-body {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 1em;
}
.wrapper .experience-wrapper .experience-body .experience-duration {
  flex: 0 0 100%;
}
.wrapper .experience-wrapper .experience-body .experience-details {
  flex: 0 0 100%;
  padding-left: 0;
}

/* contact page styles  */
.contact-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/images/contact-page-bkg.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-page-container .contact-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-page-container .contact-details-container .contact-form-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  border-bottom: var(--border);
}
.contact-page-container .contact-details-container .contact-form-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f0f6ff; /* Pale blue background for the container */
  padding: 10px;
  border-radius: var(--br-8);
}
.contact-page-container .contact-details-container .contact-form-body .input-group {
  background-color: #ffffff; /* White background for the form */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-page-container .contact-details-container .contact-form-body .input {
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
  border: 0;
  font-size: 16px;
}
.contact-page-container .contact-details-container .contact-form-body .input label {
  position: absolute;
  top: 20px; /* Adjusted top value to ensure proper alignment */
  left: 0; /* Adjusted left value to align with the input field */
  color: var(--primary-text-color);
  font-size: 16px;
  transition: all 0.3s ease;
}
.contact-page-container .contact-details-container .contact-form-body .input textarea {
  height: 150px;
}
.contact-page-container .contact-details-container .contact-form-body .input input,
.contact-page-container .contact-details-container .contact-form-body .input textarea {
  box-sizing: border-box;
  width: calc(100% - 10px);
  padding: 60px 0 0 0;
  border: none;
  border-bottom: 1.5px solid #aaa;
  font-size: 16px;
  letter-spacing: 1.5pt;
  font-weight: 500;
  font-family: "Poppins";
}
.contact-page-container .contact-details-container .form-footer {
  display: flex;
  width: 100%;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}
.contact-page-container .contact-details-container .form-footer .primary-button {
  width: 100%;
}
.contact-page-container .contact-details-container .contact-card-container {
  background-color: var(--yellow_bkg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: var(--br-8);
}
.contact-page-container .contact-details-container .contact-card-container .header {
  border-bottom: var(--border);
  width: 100%;
}
.contact-page-container .contact-details-container .contact-card-container .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  justify-content: center;
}
.contact-page-container .contact-details-container .contact-card-container .body .contact-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 1em;
  list-style: none;
  margin: 0;
}
.contact-page-container .contact-details-container .contact-card-container .body .contact-links a {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-size: 16px;
  font-weight: 800;
  color: #1a1a1a;
}
.contact-page-container .contact-details-container .contact-card-container .body .contact-links a .tertiary-link {
  display: flex;
  flex-direction: column;
}
.contact-page-container .contact-details-container .contact-card-container .body .contact-links a .tertiary-link .title {
  font-weight: 500;
}
.contact-page-container .contact-details-container .contact-card-container .body .contact-links a .tertiary-link .link-text {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: var(--primary-text-color);
  text-decoration-thickness: 0.125em;
  text-underline-offset: 2px;
  cursor: pointer;
}
.contact-page-container .contact-details-container .contact-card-container .body .contact-links a .tertiary-link .link-text:hover {
  text-decoration: none;
}
.contact-page-container .contact-details-container .contact-card-container .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a1a1a;
  padding: 1em;
}

/* thank you styles  */
.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 8px;
  background-color: var(--white-bkg) fff;
  padding: 8px;
  margin: 0 auto;
}

.thankyou-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.thankyou-body {
  display: flex;
  flex-direction: row;
}

.thankyou-footer {
  display: flex;
  flex-direction: column;
}

.thankyou-footer span {
  font-style: italic;
  color: var(--brand-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-container .footer-social-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footer-container .footer-social-icon a .pdf-icon {
  font-size: 40px;
}
.footer-container .copy-panel {
  display: inherit;
}
.footer-container .copy-panel p {
  font-size: 14px;
  line-height: 0;
}

@media only screen and (min-width: 516px) {
  .contact-card-container {
    width: 94%;
  }
}
@media only screen and (min-width: 576px) {
  .wrapper {
    padding: 1em;
  }
  /* thankyou styles  */
  .thank-you-container {
    width: 80%;
  }
  footer .footer-container .footer-details {
    padding: 2em;
  }
}
/* Start of Responsive Navigation Shift  */
@media screen and (min-width: 768px) {
  .button-container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
  }
  .p-0 .hero .hero-content {
    width: 100vw;
  }
  .p-0 .hero .hero-content h1 {
    font-size: 4em;
  }
  .wrapper .editorial-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    width: 50%;
  }
  .wrapper .editorial-footer a {
    font-size: 16px;
    width: 100%;
  }
  .wrapper .wide-card {
    display: flex;
  }
  .wrapper .wide-card .card-header {
    display: flex;
  }
  .wrapper .wide-card .card-header .inline-decorated-list {
    display: flex;
    width: -webkit-fill-available;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4em;
  }
  .wrapper .wide-card .card-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
  }
  .wrapper .wide-card .card-body .card-editorial {
    width: 60%;
  }
  .wrapper .wide-card .card-body .image-container {
    width: 40%;
  }
  .wrapper .wide-card .button-row {
    display: flex;
  }
  .wrapper .experience-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .wrapper .experience-header .left {
    width: 70%;
  }
  .wrapper .experience-header .right {
    width: 20%;
  }
  .wrapper .experience-header .right .button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  /* contact page styles  */
  .contact-page-container .contact-details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }
  .contact-card-container {
    width: 40%;
  }
  /* thankyou styles  */
  .thank-you-container {
    width: 60%;
    padding: 2em;
    margin-bottom: 2em;
  }
  .thankyou-footer {
    align-items: center;
  }
}
@media only screen and (min-width: 992px) {
  /* index-styles  */
  .p-0 .hero .hero-content {
    border: 1px solid gainsboro;
  }
  .wrapper .hero-editorial {
    flex-direction: row;
  }
  .wrapper .editorial-footer a {
    width: 50%;
    font-size: 16px;
  }
  .wrapper .wide-card .card-header .inline-decorated-list {
    gap: 1.9em;
  }
  .wrapper .wide-card .card-body .card-editorial {
    width: 70%;
  }
  .wrapper .wide-card .card-body .button-row a {
    font-weight: normal;
  }
  .wrapper .experience-wrapper .editorial-body {
    flex-direction: row;
  }
  .wrapper .experience-wrapper .editorial-body .experience-duration {
    flex: 0 0 19%;
  }
  .wrapper .experience-wrapper .editorial-body .experience-details {
    flex: 0 0 81%;
  }
  /* about page styles */
  /* contact page styles  */
  /* thankyou styles  */
  .thank-you-container {
    width: 40%;
  }
  footer .footer-container .footer-details {
    padding: 2.2em;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-name {
    letter-spacing: 5.2pt;
    font-size: 1.8rem;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-title {
    font-size: 1.2rem;
    letter-spacing: 2pt;
  }
}
@media only screen and (min-width: 1200px) {
  #navbar .navbar-container {
    margin: 0 60px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
  }
  #navbar .navbar-container .menu-toggle {
    display: none;
  }
  #navbar .navbar-container .nav-menu {
    display: flex;
    flex-direction: row;
  }
  #navbar .navbar-container .nav-menu a {
    color: var(--white-bkg);
    font-size: 16px;
    margin: 0;
    padding: 10px 20px;
    width: unset;
    transition: border-bottom 0.3s ease;
  }
  #navbar .navbar-container .nav-menu a:hover {
    border-bottom: 1px solid var(--brand-color);
  }
  .primary-button:hover {
    background: #b3e2bb;
    border-color: #4f9985;
    box-shadow: none;
  }
  .secondary-button:hover {
    background-color: #dfedff;
    color: #1a1a1a;
    border-color: #1a1a1a;
    box-shadow: none;
  }
  .page-boundary .centered-row {
    max-width: 80%;
    align-items: center;
  }
  /* index page styles  */
  .footer-container .footer-social-icon {
    width: 80%;
    margin: 0 auto;
  }
}
/*Large Desktop viewport styles */
@media only screen and (min-width: 1400px) {
  section {
    width: 86%;
    margin: 4em auto;
  }
  #navbar .navbar-container {
    margin: 0 110px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  #navbar .navbar-container .home-link {
    padding-left: 0;
  }
  #navbar .navbar-container .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding-right: 1.5em;
  }
  /* index styles  */
  .wrapper {
    width: 100%;
    margin-bottom: 2em;
  }
  .wrapper .editorial-footer {
    width: 30%;
  }
  .wrapper .wide-card .card-body .image-container {
    width: 25%;
  }
  /* about page  */
  .skills-section,
  .experience-container {
    width: 100%;
  }
  .experience-body {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1em;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .experience-duration {
    display: flex;
    justify-content: flex-start;
    width: 19%;
    margin-right: 8px;
  }
  .experience-body .experience-container {
    display: flex;
    justify-content: flex-end;
    width: auto;
  }
  .skills-section,
  .experience-container {
    background-color: var(--white-bkg);
    padding: 1em;
    border-radius: var(--br-16);
    margin-bottom: 2em;
  }
  .experience-container {
    display: flex;
    flex-direction: column;
  }
  .experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .experience-body {
    display: flex;
    margin-bottom: 10px;
  }
  .experience-body .experience-duration {
    flex: 0 0 20%;
  }
  .experience-body .experience-container {
    flex: 0 0 80%;
    padding-left: 20px;
  }
}
@media only screen and (min-width: 1800px) {
  #navbar .navbar-container {
    margin: 0 138px;
    width: 88%;
  }
  .wrapper .wide-card .card-body .card-editorial {
    width: 80%;
  }
  .wrapper .wide-card .card-body .image-container {
    width: 15%;
  }
  .wrapper .wide-card .card-body .button-row {
    margin-top: 2em;
  }
  .experience-header .right .button-container a {
    width: 120px;
  }
  .footer-container .footer-social-icon {
    justify-content: space-evenly;
  }
}/*# sourceMappingURL=stylesheet.css.map */